SmartHome/web_server/PI Server/project_pi_node_server/red-node-flow-backup/flows.json
[{"id":"34d5fca5.9a9fd4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"eec0d7d3.1220f8","type":"inject","z":"34d5fca5.9a9fd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":40,"wires":[["f671a918.0adac8","a701647c.63ce58"]]},{"id":"94b1e5ec.c993b8","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1590,"y":180,"wires":[]},{"id":"f671a918.0adac8","type":"ui_chart","z":"34d5fca5.9a9fd4","name":"","group":"182ef343.14764d","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":350,"y":80,"wires":[[]]},{"id":"6f75e61b.fbc178","type":"homekit-service","z":"34d5fca5.9a9fd4","accessory":"24439363.dc12dc","name":"Light1","serviceName":"Lightbulb","x":890,"y":260,"wires":[["3db87b3f.0712a4","ae36e6e8.3ca188","c0abf9ac.439e18"]],"icon":"node-red/light.png"},{"id":"a701647c.63ce58","type":"function","z":"34d5fca5.9a9fd4","name":"","func":"var isOn = global.get('light1')\nif(isOn === undefined)\n{\n    global.set('light1',false);\n}\n\nisOn = !isOn\nglobal.set('light1',isOn);\nvar on = isOn ? 1 : 0\nvar OutletInUse = isOn ? \"ON\" :\"OFF\"\nvar data = {\n    \"On\": on\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":140,"wires":[[]]},{"id":"59b2b9c.da00a48","type":"ui_switch","z":"34d5fca5.9a9fd4","name":"","label":"switch","tooltip":"","group":"182ef343.14764d","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1290,"y":120,"wires":[["fc9e4fad.e696d"]]},{"id":"3db87b3f.0712a4","type":"function","z":"34d5fca5.9a9fd4","name":"","func":"msg.payload = msg.payload.On\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":160,"wires":[["59b2b9c.da00a48"]]},{"id":"fc9e4fad.e696d","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1450,"y":120,"wires":[]},{"id":"e84e0a6f.51c7d8","type":"homekit-service","z":"34d5fca5.9a9fd4","accessory":"d36db624.0e6bf8","name":"AC","serviceName":"HeaterCooler","x":530,"y":480,"wires":[["8e72436f.41427","ae75622a.151ff","fc329c7.f27a96"]]},{"id":"d15b8fe6.11fcf","type":"inject","z":"34d5fca5.9a9fd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":440,"wires":[["7383d259.e0deec"]]},{"id":"8e72436f.41427","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":420,"wires":[]},{"id":"7383d259.e0deec","type":"function","z":"34d5fca5.9a9fd4","name":"Toggle On/Off","func":"var isOn = global.get('AC1')\nif(isOn === undefined)\n{\n    global.set('AC1',false);\n}\n\nisOn = !isOn\nglobal.set('AC1',isOn);\nvar on = isOn ? 1 : 0\nvar OutletInUse = isOn ? true :false\nvar data = {\n    \"CurrentHeaterCoolerState\": on\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":440,"wires":[["e84e0a6f.51c7d8"]]},{"id":"dff70a44.2dd418","type":"function","z":"34d5fca5.9a9fd4","name":"Set 24 Warm","func":"\nvar data = {\n    \"CurrentTemperature\": 24,\n    \"CoolingThresholdTemperature\":24,\n    \"TargetHeaterCoolerState\":2,\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":500,"wires":[["e84e0a6f.51c7d8"]]},{"id":"6563ff92.c97f","type":"inject","z":"34d5fca5.9a9fd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":500,"wires":[["dff70a44.2dd418"]]},{"id":"ae75622a.151ff","type":"function","z":"34d5fca5.9a9fd4","name":"AcController","func":"//2 is Cooled\n//if(msg.payload.TargetHeaterCoolerState == 2)\n//{\n    if(msg.payload.CoolingThresholdTemperature)\n    {\n        if(msg.payload.CoolingThresholdTemperature >=23.0)\n        {\n            //warm api\n           msg.url = \"http://benchuk.no-ip.info/harq/?value=004:017&appid=IFTTT\"\n        }\n        else\n        {\n            //cool api\n            msg.url = \"http://benchuk.no-ip.info/harq/?value=004:018&appid=IFTTT\"\n        }\n    }\n//}\n//1 is Hot\nif(msg.payload.TargetHeaterCoolerState == 1)\n{\n    if(msg.payload.CoolingThresholdTemperature)\n    {\n        if(msg.payload.CoolingThresholdTemperature >=23.0)\n        {\n            //warm api\n           msg.url = \"TBD\"\n        }\n        else\n        {\n            //cool api\n            msg.url = \"TBD\"\n        }\n    }\n}\nif(msg.payload.Active !== undefined)\n{\n    if(msg.payload.Active == 1)\n    {\n       //ac on\n       msg.url = \"http://benchuk.no-ip.info/harq/?value=004:029&appid=IFTTT\"\n    }\n    else\n    {\n        //ac off\n        msg.url = \"http://benchuk.no-ip.info/harq/?value=004:030&appid=IFTTT\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":580,"wires":[["129869b4.0a8ae6","12477697.abcd29"]]},{"id":"129869b4.0a8ae6","type":"http request","z":"34d5fca5.9a9fd4","name":"AcApi","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":850,"y":580,"wires":[["4b8039ef.8f57c8"]]},{"id":"4b8039ef.8f57c8","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":640,"wires":[]},{"id":"12477697.abcd29","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":740,"y":640,"wires":[]},{"id":"3e428ccf.cd9c14","type":"inject","z":"34d5fca5.9a9fd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":560,"wires":[["d200cdfc.38428"]]},{"id":"d200cdfc.38428","type":"function","z":"34d5fca5.9a9fd4","name":"Set 19 Cooled","func":"\nvar data = {\n    \"CurrentTemperature\": 19,\n    \"CoolingThresholdTemperature\":19,\n    \"TargetHeaterCoolerState\":2,\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":560,"wires":[["e84e0a6f.51c7d8"]]},{"id":"fc329c7.f27a96","type":"function","z":"34d5fca5.9a9fd4","name":"Set Ac UI TEMP state when on (once)","func":"\nvar data = {\n    \"CurrentTemperature\": 19,\n    \"CoolingThresholdTemperature\":19,\n    \"TargetHeaterCoolerState\":2\n}\nvar skip = global.get('skipACAction')\nconsole.log(\"skip\",skip);\nif(skip === undefined)\n{\n    global.set('skipACAction',false);\n    skip = false;\n}\nif(skip || msg.payload.Active === undefined)\n{\n    global.set('skipACAction',false);\n    return null;\n}\n\nif(!skip && msg.payload.Active !== undefined && msg.payload.Active == 1)\n{\n    if(msg.payload.CoolingThresholdTemperature !== undefined)\n    {\n        if(msg.payload.CoolingThresholdTemperature >=23.0)\n        {\n            //warm api\n           data.CurrentTemperature = 24;\n           data.CoolingThresholdTemperature = 24\n        }\n        else\n        {\n           //cool api\n           data.CurrentTemperature = 19;\n           data.CoolingThresholdTemperature = 19\n        }\n    }\n    \n    global.set('skipACAction',true);\n    \n}\n\n\n\n\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":660,"wires":[["e84e0a6f.51c7d8"]]},{"id":"ae36e6e8.3ca188","type":"function","z":"34d5fca5.9a9fd4","name":"LightsController","func":"if(msg.payload.On)\n{\n    msg.url = \"http://benchuk.no-ip.info/harq/?value=007:002&appid=IFTTT\"\n\n}\nelse\n{\n    msg.url = \"http://benchuk.no-ip.info/harq/?value=007:003&appid=IFTTT\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":260,"wires":[["6dad4d99.43f784"]]},{"id":"6dad4d99.43f784","type":"http request","z":"34d5fca5.9a9fd4","name":"LightsApi","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1560,"y":280,"wires":[["94b1e5ec.c993b8"]]},{"id":"5fb33738.f247e8","type":"homekit-service","z":"34d5fca5.9a9fd4","accessory":"c8818387.66722","name":"Light2","serviceName":"Lightbulb","x":890,"y":320,"wires":[["6663c4a9.94ea5c"]],"icon":"node-red/light.png"},{"id":"6663c4a9.94ea5c","type":"function","z":"34d5fca5.9a9fd4","name":"LightsController2","func":"if(msg.payload.On)\n{\n    msg.url = \"http://benchuk.no-ip.info/harq/?value=007:005&appid=IFTTT\"\n\n}\nelse\n{\n    msg.url = \"http://benchuk.no-ip.info/harq/?value=007:006&appid=IFTTT\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":300,"wires":[["6dad4d99.43f784"]]},{"id":"abe25524.b99228","type":"homekit-service","z":"34d5fca5.9a9fd4","accessory":"8b1e8522.5a5bf8","name":"Light3","serviceName":"Lightbulb","x":890,"y":380,"wires":[["55d9f931.5a42a8"]],"icon":"node-red/light.png"},{"id":"55d9f931.5a42a8","type":"function","z":"34d5fca5.9a9fd4","name":"LightsController3","func":"if(msg.payload.On)\n{\n    msg.url = \"http://benchuk.no-ip.info/harq/?value=007:011&appid=IFTTT\"\n\n}\nelse\n{\n    msg.url = \"http://benchuk.no-ip.info/harq/?value=007:012&appid=IFTTT\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":340,"wires":[["6dad4d99.43f784"]]},{"id":"c0abf9ac.439e18","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1100,"y":220,"wires":[]},{"id":"5a023c19.a48b64","type":"function","z":"34d5fca5.9a9fd4","name":"LightsController","func":"if(msg.payload.On)\n{\n    msg.url = \"http://benchuk.no-ip.info/all-lights-on?appid=IFTTT\"\n\n}\nelse\n{\n    msg.url = \"http://benchuk.no-ip.info/all-lights-off?appid=IFTTT\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":420,"wires":[["6dad4d99.43f784"]]},{"id":"d663e5eb.71b288","type":"homekit-service","z":"34d5fca5.9a9fd4","accessory":"6fffa51b.ea54dc","name":"ParentsLight1","serviceName":"Lightbulb","x":1290,"y":560,"wires":[["45cf9c16.89e924"]]},{"id":"45cf9c16.89e924","type":"function","z":"34d5fca5.9a9fd4","name":"LightsController","func":"if(msg.payload.On)\n{\n    msg.url = \"http://benchuk.no-ip.info/harq/?value=005:002&appid=IFTTT\"\n\n}\nelse\n{\n    msg.url = \"http://benchuk.no-ip.info/harq/?value=005:005&appid=IFTTT\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1540,"y":540,"wires":[["6dad4d99.43f784"]]},{"id":"dee3e228.468dc","type":"function","z":"34d5fca5.9a9fd4","name":"ParentsFanController","func":"if(msg.payload.On)\n{\n    msg.url = \"http://benchuk.no-ip.info/harq/?value=005:003&appid=IFTTT\"\n\n}\nelse\n{\n    msg.url = \"http://benchuk.no-ip.info/harq/?value=005:004&appid=IFTTT\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":580,"wires":[["6dad4d99.43f784"]]},{"id":"34c14e24.3197f2","type":"homekit-service","z":"34d5fca5.9a9fd4","accessory":"14da2deb.7c4932","name":"EnvSW","serviceName":"Switch","x":1290,"y":680,"wires":[["c7f8e1ba.05e2d","543471e4.d06e4"]]},{"id":"c7f8e1ba.05e2d","type":"function","z":"34d5fca5.9a9fd4","name":"EnvLightController","func":"if(msg.payload.On)\n{\n    msg.url = \"http://benchuk.no-ip.info/harq/?value=005:003&appid=IFTTT\"\n\n}\nelse\n{\n    msg.url = \"http://benchuk.no-ip.info/harq/?value=005:004&appid=IFTTT\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":640,"wires":[["6dad4d99.43f784"]]},{"id":"21e847bf.acf278","type":"homekit-service","z":"34d5fca5.9a9fd4","accessory":"19cef7e0.d83cd8","name":"TVSalon","serviceName":"Television","x":1290,"y":740,"wires":[["9fcc49a2.053148","a8cf22ce.405ca"]]},{"id":"9fcc49a2.053148","type":"function","z":"34d5fca5.9a9fd4","name":"TVSalonController","func":"//toggle TV\nmsg.url = \"http://benchuk.no-ip.info/harq/?value=004:003&appid=IFTTT\"\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":740,"wires":[["6dad4d99.43f784"]]},{"id":"a8cf22ce.405ca","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1470,"y":800,"wires":[]},{"id":"ce45957b.f618f8","type":"function","z":"34d5fca5.9a9fd4","name":"EnvLightController","func":"if(msg.payload.On)\n{\n    msg.url = \"http://benchuk.no-ip.info/harq/?value=004:027&appid=IFTTT\"\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":680,"wires":[["6dad4d99.43f784"]]},{"id":"543471e4.d06e4","type":"delay","z":"34d5fca5.9a9fd4","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1490,"y":680,"wires":[["ce45957b.f618f8"]]},{"id":"713c6254.8c43dc","type":"homekit-service","z":"34d5fca5.9a9fd4","accessory":"d9ae35da.ba6228","name":"AllLights","serviceName":"Switch","x":1300,"y":480,"wires":[["5a023c19.a48b64"]]},{"id":"46d1f70a.6a6748","type":"inject","z":"34d5fca5.9a9fd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":960,"y":740,"wires":[["efb1bd26.053ef"]]},{"id":"efb1bd26.053ef","type":"function","z":"34d5fca5.9a9fd4","name":"TvTests","func":"var isOn = global.get('AC1')\nif(isOn === undefined)\n{\n    global.set('AC1',false);\n}\n\nisOn = !isOn\nglobal.set('AC1',isOn);\nvar on = isOn ? 1 : 0\nvar OutletInUse = isOn ? true :false\nvar data = {\n    \"CurrentHeaterCoolerState\": on\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":800,"wires":[["21e847bf.acf278"]]},{"id":"e523ba9f.ec5ea8","type":"inject","z":"34d5fca5.9a9fd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":920,"y":860,"wires":[["e36dd9a7.1107c8"]]},{"id":"e36dd9a7.1107c8","type":"function","z":"34d5fca5.9a9fd4","name":"SpeakerTests","func":"var isOn = global.get('AC1')\nif(isOn === undefined)\n{\n    global.set('AC1',false);\n}\n\nisOn = !isOn\nglobal.set('AC1',isOn);\nvar on = isOn ? 1 : 0\nvar OutletInUse = isOn ? true :false\nvar data = {\n    \"CurrentHeaterCoolerState\": on\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":880,"wires":[["81946377.67486"]]},{"id":"9ae2d769.37a038","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1510,"y":880,"wires":[]},{"id":"b71c3445.a4fc18","type":"homekit-service","z":"34d5fca5.9a9fd4","accessory":"51df3c8e.b767e4","name":"ParentsFan","serviceName":"Fan","x":1290,"y":620,"wires":[["c7f8e1ba.05e2d"]]},{"id":"81946377.67486","type":"homekit-service","z":"34d5fca5.9a9fd4","accessory":"f79b9315.12c79","name":"SpeakersSalon","serviceName":"TelevisionSpeaker","x":1320,"y":900,"wires":[["9ae2d769.37a038"]]},{"id":"d9d93de1.e156f","type":"ui_gauge","z":"34d5fca5.9a9fd4","name":"AC","group":"182ef343.14764d","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"o","format":"{{value}}","min":"19","max":"30","colors":["#0512af","#e4a001","#ca3838"],"seg1":"24","seg2":"24","x":780,"y":1020,"wires":[]},{"id":"182ef343.14764d","type":"ui_group","z":"","name":"Default","tab":"8c5e219f.f5af8","disp":true,"width":"6","collapse":false},{"id":"24439363.dc12dc","type":"homekit-accessory","z":"","accessoryName":"Light1","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"5"},{"id":"d36db624.0e6bf8","type":"homekit-accessory","z":"","accessoryName":"AC","pinCode":"111-11-114","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"21"},{"id":"c8818387.66722","type":"homekit-accessory","z":"","accessoryName":"Light2","pinCode":"111-11-121","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"5"},{"id":"8b1e8522.5a5bf8","type":"homekit-accessory","z":"","accessoryName":"Light3","pinCode":"111-11-131","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"5"},{"id":"6fffa51b.ea54dc","type":"homekit-accessory","z":"","accessoryName":"ParentsLight1","pinCode":"111-11-211","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"5"},{"id":"14da2deb.7c4932","type":"homekit-accessory","z":"","accessoryName":"EnvSW","pinCode":"111-11-231","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"8"},{"id":"19cef7e0.d83cd8","type":"homekit-accessory","z":"","accessoryName":"TVSalon","pinCode":"111-11-211","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"31"},{"id":"d9ae35da.ba6228","type":"homekit-accessory","z":"","accessoryName":"AllLights","pinCode":"111-11-178","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"8"},{"id":"51df3c8e.b767e4","type":"homekit-accessory","z":"","accessoryName":"ParentsFan","pinCode":"111-11-333","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"3"},{"id":"f79b9315.12c79","type":"homekit-accessory","z":"","accessoryName":"SpeakersSalon","pinCode":"111-11-444","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"26"},{"id":"8c5e219f.f5af8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]