SmartHome/web_server/PI Server/project_pi_node_server/red-node-flow-backup/flows (30).json
[{"id":"7bc24a23.4fe074","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"deb78d38.e363c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"7e34929f.c546cc","type":"homekit-bridge","z":"","bridgeName":"AC","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"47a5f285.5eabbc","type":"homekit-bridge","z":"","bridgeName":"AllLights","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"936da756.664978","type":"homekit-bridge","z":"","bridgeName":"LightParents","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"ff705c57.71572","type":"homekit-bridge","z":"","bridgeName":"ParentsFan","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"6e1cf204.94616c","type":"homekit-bridge","z":"","bridgeName":"TVSalon","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"661ddbef.7c5c44","type":"homekit-bridge","z":"","bridgeName":"Light1","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"22cc2856.773f18","type":"homekit-bridge","z":"","bridgeName":"Light2","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"136cdab0.66aa05","type":"homekit-bridge","z":"","bridgeName":"Light3","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"2caef43a.ef8d2c","type":"homekit-bridge","z":"","bridgeName":"CPU TEMP","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"9969a54d.bdbeb8","type":"homekit-bridge","z":"","bridgeName":"CPU LOAD","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"79e49998.cd3fb8","type":"homekit-bridge","z":"","bridgeName":"EnvHue","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true,"allowMessagePassthrough":true},{"id":"8a6bfad6.4300b8","type":"homekit-bridge","z":"","bridgeName":"alert2","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true,"allowMessagePassthrough":true},{"id":"2049aba8.6d1864","type":"homekit-bridge","z":"","bridgeName":"ACParents","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"e471ac9c.c2e03","type":"homekit-bridge","z":"","bridgeName":"TVParents","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"be194ef4.843e8","type":"homekit-bridge","z":"","bridgeName":"Hue2","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"e2ebf971.238008","type":"homekit-bridge","z":"","bridgeName":"DHT11","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"4bdd0a2f.134ac4","type":"homekit-bridge","z":"","bridgeName":"DHT11_HUB","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"565f3c3c.87cdb4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"1f02fd06.bc8e93","type":"ui_group","z":"","name":"Overview","tab":"565f3c3c.87cdb4","disp":true,"width":"6","collapse":false},{"id":"2fc64c5b.f28b44","type":"homekit-bridge","z":"","bridgeName":"Television Wiki","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true,"allowMessagePassthrough":false},{"id":"8993b806.798598","type":"homekit-bridge","z":"","bridgeName":"4","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number"},{"id":"f0d49597.4ca498","type":"homekit-bridge","z":"","bridgeName":"Garage","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Garrett","model":"Pi HAT","serialNo":"3","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"6b634de5.377724","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b324ac22.213bd","type":"homekit-bridge","z":"","bridgeName":"security","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true,"allowMessagePassthrough":true},{"id":"f371816b.ffeac","type":"homekit-bridge","z":"","bridgeName":"D_Switches","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true,"allowMessagePassthrough":true},{"id":"12b4e4e.befeb1b","type":"homekit-bridge","z":"","bridgeName":"ACKids","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true,"allowMessagePassthrough":true},{"id":"6f3f0328.09d27c","type":"homekit-bridge","z":"","bridgeName":"KidsFan","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true,"allowMessagePassthrough":true},{"id":"e5ad662e.129a28","type":"mqtt-broker","z":"","name":"Sheldon","broker":"sheldon.local","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"5f801d9a.272f64","type":"homekit-bridge","z":"","bridgeName":"Sheldon-NodeRed","pinCode":"031-45-154","port":"51831","allowInsecureRequest":true,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"66e550f6.7df1","type":"homekit-bridge","z":"","bridgeName":"KidsHue","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true,"allowMessagePassthrough":true},{"id":"2fc50dd1.40c632","type":"homekit-bridge","z":"","bridgeName":"LedHueBed","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true,"allowMessagePassthrough":true},{"id":"cb6616c4.d5fc08","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2170,"y":280,"wires":[]},{"id":"635d1dc8.692564","type":"inject","z":"7bc24a23.4fe074","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":2640,"wires":[["23ab68bb.026328"]]},{"id":"1de54d6c.9e3f83","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":720,"y":2580,"wires":[]},{"id":"23ab68bb.026328","type":"function","z":"7bc24a23.4fe074","name":"Toggle On/Off","func":"var isOn = global.get('AC1')\nif(isOn === undefined)\n{\n    global.set('AC1',false);\n}\n\nisOn = !isOn\nglobal.set('AC1',isOn);\nvar on = isOn ? 1 : 0\nvar OutletInUse = isOn ? true :false\nvar data = {\n    \"CurrentHeaterCoolerState\": on\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":2640,"wires":[["15e51f51.ebf281"]]},{"id":"9733fd53.645b5","type":"function","z":"7bc24a23.4fe074","name":"Set 24 Warm","func":"\nvar data = {\n    \"CurrentTemperature\": 24,\n    \"CoolingThresholdTemperature\":24,\n    \"TargetHeaterCoolerState\":2,\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":2680,"wires":[["15e51f51.ebf281"]]},{"id":"ff1cd097.09215","type":"inject","z":"7bc24a23.4fe074","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":2680,"wires":[["9733fd53.645b5"]]},{"id":"7df9a02c.2f79e","type":"function","z":"7bc24a23.4fe074","name":"AC Temp Change Controller","func":"var baseURL = global.get('PI_URL');\nif(msg.payload.CoolingThresholdTemperature === undefined)\n{\n    return null;\n}\nvar targetCoolerState = 2;\nif(msg.payload.TargetHeaterCoolerState !== undefined)\n{\n    targetCoolerState = msg.payload.TargetHeaterCoolerState\n    global.set('TargetHeaterCoolerStateAC1',targetCoolerState);\n}\nelse\n{\n    //2 is Cooled\n    targetCoolerState = global.get('TargetHeaterCoolerStateAC1')\n    if(targetCoolerState === undefined)\n    {\n        global.set('TargetHeaterCoolerStateAC1',2);\n        targetCoolerState = 2;\n    }\n}\nif(targetCoolerState == 2)\n{\n    if(msg.payload.CoolingThresholdTemperature)\n    {\n        if(msg.payload.CoolingThresholdTemperature >=23.0)\n        {\n            //warm api\n           msg.url = baseURL+\"/harq/?value=004:098&appid=IFTTT\";\n        }\n        else\n        {\n            //cool api\n            msg.url = baseURL+\"/harq/?value=004:099&appid=IFTTT\";\n        }\n    }\n    else\n    {\n        msg.url = baseURL+\"/harq/?value=004:099&appid=IFTTT\";\n    }\n}\n//1 is Hot\nif(targetCoolerState == 1)\n{\n    msg.url = baseURL+\"/harq/?value=004:035&appid=IFTTT\";\n    // if(msg.payload.CoolingThresholdTemperature)\n    // {\n    //     if(msg.payload.CoolingThresholdTemperature >=23.0)\n    //     {\n    //         //warm api\n    //       msg.url = \"http://benchuk.no-ip.info/harq/?value=004:035&appid=IFTTT\";\n    //     }\n    //     else\n    //     {\n    //         //cool api\n    //         msg.url = \"http://benchuk.no-ip.info/harq/?value=004:035&appid=IFTTT\";\n    //     }\n    // }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":2680,"wires":[["28b25755.861aa8","899ad5a1.908978"]]},{"id":"28b25755.861aa8","type":"http request","z":"7bc24a23.4fe074","name":"AcApi","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1270,"y":2700,"wires":[["71a5bc4a.6b1d74"]]},{"id":"71a5bc4a.6b1d74","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1410,"y":2700,"wires":[]},{"id":"899ad5a1.908978","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":1060,"y":2720,"wires":[]},{"id":"3493099a.23a586","type":"inject","z":"7bc24a23.4fe074","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":2720,"wires":[["63f65876.78dd68"]]},{"id":"63f65876.78dd68","type":"function","z":"7bc24a23.4fe074","name":"Set 19 Cooled","func":"\nvar data = {\n    \"CurrentTemperature\": 19,\n    \"CoolingThresholdTemperature\":19,\n    \"TargetHeaterCoolerState\":2,\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":2720,"wires":[["15e51f51.ebf281"]]},{"id":"20546fb4.5d825","type":"function","z":"7bc24a23.4fe074","name":"Main: Set Ac UI TEMP state when on (once)","func":"if(msg.payload.CurrentTemperature !== undefined)\n{\n    return null;\n}\n\nvar data = {\n    \"CurrentTemperature\": 19\n}\n\n\n    if(msg.payload.CoolingThresholdTemperature !== undefined)\n    {\n        if(msg.payload.CoolingThresholdTemperature >=23.0)\n        {\n            //warm api\n           data.CurrentTemperature = 24;\n        }\n        else\n        {\n           //cool api\n           data.CurrentTemperature = 19;\n        }\n    }\n\n\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":2920,"wires":[["15e51f51.ebf281","9cc21dbe.d92ee"]]},{"id":"2bcde83.3ad4518","type":"function","z":"7bc24a23.4fe074","name":"LightsController1","func":"// let now = new Date().getTime()\n// var isLightsUpdate = global.get('lightsUpdate1');\n// console.log(\"lightsUpdate1: \" + isLightsUpdate);\n// if(isLightsUpdate!==undefined)\n// {\n//   if(now - isLightsUpdate < 500)\n//   {\n//       global.set('lightsUpdate1',0);\n//       console.log(\"skip 1\");\n//       return null;\n//   }\n// }\n\n//global.set('lightsUpdate3',new Date().getTime());\n\nvar baseURL = global.get('PI_URL');\nlet now = new Date().getTime()\nvar isLightsUpdate = global.get('lightsUpdate');\nnode.log(\"lightsUpdate 1: \" + isLightsUpdate);\nif(isLightsUpdate!==undefined)\n{\n  if(now - isLightsUpdate < 100)\n  {\n      global.set('lightsUpdate',0);\n      node.log(\"skip \");\n      return null;\n  }\n}\n\nif(msg.payload.On)\n{\n    msg.url = baseURL+\"/harq/?value=007:002&appid=IFTTT\"\n\n}\nelse\n{\n    msg.url = baseURL+\"/harq/?value=007:003&appid=IFTTT\"\n}\n//msg.url = \"http://benchuk.no-ip.info/harq/?value=007:004&appid=IFTTT\"\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":220,"wires":[["a1498907.a108f8"]]},{"id":"a1498907.a108f8","type":"http request","z":"7bc24a23.4fe074","name":"LightsApi","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":2020,"y":280,"wires":[["cb6616c4.d5fc08"]]},{"id":"238c344.99515cc","type":"function","z":"7bc24a23.4fe074","name":"LightsController2","func":"// let now = new Date().getTime()\n// var isLightsUpdate = global.get('lightsUpdate2');\n// console.log(\"lightsUpdate2: \" + isLightsUpdate);\n// if(isLightsUpdate!==undefined)\n// {\n//   if(now - isLightsUpdate < 500)\n//   {\n//       global.set('lightsUpdate2',0);\n//       console.log(\"skip 2\");\n//       return null;\n//   }\n// }\n\n//global.set('lightsUpdate2',new Date().getTime());\nvar baseURL = global.get('PI_URL');\nlet now = new Date().getTime()\nvar isLightsUpdate = global.get('lightsUpdate');\nnode.log(\"lightsUpdate 2: \" + isLightsUpdate);\nif(isLightsUpdate!==undefined)\n{\n  if(now - isLightsUpdate < 100)\n  {\n      global.set('lightsUpdate',0);\n      node.log(\"skip \");\n      return null;\n  }\n}\n\nif(msg.payload.On)\n{\n    msg.url = baseURL+\"/harq/?value=007:005&appid=IFTTT\"\n\n}\nelse\n{\n    msg.url = baseURL+\"/harq/?value=007:006&appid=IFTTT\"\n}\n//msg.url = \"http://benchuk.no-ip.info/harq/?value=007:007&appid=IFTTT\"\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":260,"wires":[["a1498907.a108f8"]]},{"id":"d90350f5.0b92c","type":"function","z":"7bc24a23.4fe074","name":"LightsController3","func":"// let now = new Date().getTime()\n// var isLightsUpdate = global.get('lightsUpdate3');\n// console.log(\"lightsUpdate3: \" + isLightsUpdate);\n// if(isLightsUpdate!==undefined)\n// {\n//   if(now - isLightsUpdate < 500)\n//   {\n//       global.set('lightsUpdate3',0);\n//       console.log(\"skip 3\");\n//       return null;\n//   }\n// }\n\n//global.set('lightsUpdate3',new Date().getTime());\nvar baseURL = global.get('PI_URL');\nlet now = new Date().getTime()\nvar isLightsUpdate = global.get('lightsUpdate');\nnode.log(\"lightsUpdate 3: \" + isLightsUpdate);\nif(isLightsUpdate!==undefined)\n{\n  if(now - isLightsUpdate < 100)\n  {\n      global.set('lightsUpdate',0);\n      node.log(\"skip \");\n      return null;\n  }\n}\n\nif(msg.payload.On)\n{\n    msg.url = baseURL+\"/harq/?value=007:011&appid=IFTTT\"\n\n}\nelse\n{\n    msg.url = baseURL+\"/harq/?value=007:012&appid=IFTTT\"\n}\n//msg.url = \"http://benchuk.no-ip.info/harq/?value=007:013&appid=IFTTT\"\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":300,"wires":[["a1498907.a108f8"]]},{"id":"4c08dd2f.1a3d84","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1510,"y":120,"wires":[]},{"id":"70f827cc.76c8d8","type":"function","z":"7bc24a23.4fe074","name":"All lights LightsController","func":"var baseURL = global.get('PI_URL');\nif(msg.payload.On)\n{\n    msg.url = baseURL+\"/all-lights-on?appid=IFTTT\"\n\n}\nelse\n{\n    msg.url = baseURL+\"/all-lights-off?appid=IFTTT\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":340,"wires":[["a1498907.a108f8"]]},{"id":"e38083be.fd4df","type":"function","z":"7bc24a23.4fe074","name":"Parents LightsController","func":"var baseURL = global.get('PI_URL');\nif(msg.payload.On)\n{\n    msg.url = baseURL+\"/harq/?value=005:002&appid=IFTTT\"\n\n}\nelse\n{\n    msg.url = baseURL+\"/harq/?value=005:005&appid=IFTTT\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":380,"wires":[["a1498907.a108f8"]]},{"id":"be30065a.d3a748","type":"function","z":"7bc24a23.4fe074","name":"ParentsFanController","func":"var baseURL = global.get('PI_URL');\n//Turn on if no active was sent\nif(msg.payload.RotationSpeed !== undefined)\n{\n    if(msg.payload.RotationSpeed <= 0)\n    {\n        //off\n        msg.url = baseURL +\"/harq/?value=005:004&appid=IFTTT\";\n    }\n    else if(msg.payload.RotationSpeed <30)\n    {\n        //low\n        msg.url = baseURL +\"/harq/?value=005:055&appid=IFTTT\";\n    }\n    else if(msg.payload.RotationSpeed >= 30 && msg.payload.RotationSpeed < 80)\n    {\n        //mid\n        msg.url = baseURL+\"/harq/?value=005:056&appid=IFTTT\";\n    }\n    else\n    {\n        //hi\n        msg.url = baseURL+\"/harq/?value=005:003&appid=IFTTT\";\n    }\n}\nif(msg.payload.Active == 1)\n{\n    msg.url = baseURL+\"/harq/?value=005:003&appid=IFTTT\";\n}\nif(msg.payload.Active == 0)\n{\n    msg.url = baseURL+\"/harq/?value=005:004&appid=IFTTT\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":2120,"y":560,"wires":[["51944046.f550d"]]},{"id":"8ec963a7.64c8","type":"function","z":"7bc24a23.4fe074","name":"Handle Color","func":"var baseURL = global.get('PI_URL');\nmsg.url = null; //baseURL+\"?appid=IFTTT\";\n\nif(msg.payload.Hue !== undefined)\n{\n    node.log(\"handle color\");\n    var hue = parseInt(msg.payload.Hue)\n    if(hue > 200 && hue < 250)\n    {\n        //blue\n        global.set('Hue-Color',\"on\");\n        msg.url = baseURL+\"/harq/?value=004:085&appid=IFTTT\"\n    }\n    else if(hue > 300 && hue < 400)\n    {\n        //red\n        global.set('Hue-Color',\"on\");\n        msg.url = baseURL+\"/harq/?value=004:087&appid=IFTTT\"\n    }\n    else if(hue > 100 && hue < 190)\n    {\n        //green\n        global.set('Hue-Color',\"on\");\n        msg.url = baseURL+\"/harq/?value=004:086&appid=IFTTT\"\n    }\n    else if(hue == 0)\n    {\n        //color off\n        global.set('Hue-Color',\"on\");\n        msg.url = baseURL+\"/harq/?value=004:090&appid=IFTTT\"\n    }\n    else if(hue <= 100)\n    {\n        //party\n        global.set('Hue-Color',\"on\");\n        msg.url = baseURL+\"/harq/?value=004:088&appid=IFTTT\"\n    }\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":2050,"y":2000,"wires":[["64d0aa1b.3b4864"]]},{"id":"39d55a13.1e7a06","type":"function","z":"7bc24a23.4fe074","name":"TVSalonController","func":"\nconsole.log(\"[out]: key\",msg.payload.RemoteKey);\nif(msg.payload.RemoteKey !== undefined)\n{\n    return null\n}\n//check if the source of the event is from the TV\n//if so then ignore this event so we do not have a loop\n//button UI state was updated on input script side.\nvar baseURL = global.get('PI_URL');\nnode.log(\"[out]: process TV output\");\nlet now = new Date().getTime()\nvar isSourceUpdate = global.get('TV1');\n//node.log(\"TV1 isSourceUpdate: \" + isSourceUpdate);\nif(isSourceUpdate!==undefined)\n{\n  if(now - isSourceUpdate < 100)\n  {\n      global.set('TV1',0);\n      node.log(\"[out]: skip [TV1] event from device\");\n      return null;\n  }\n}\n//if we are here then the homekit has initiated this request \n//so button ui state is ok and we need to ignore the device update in future 3-6 sec\nnode.log(\"[out]: send toogle to TV1 via http\");\n\nglobal.set('TV1SkipOnceFor3Sec',new Date().getTime());\n\nmsg.url = baseURL+\"/harq/?value=004:095&appid=IFTTT\";\nreturn msg;","outputs":1,"noerr":0,"x":2910,"y":920,"wires":[["58894578.c832fc"]]},{"id":"138aab4a.1a0845","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2870,"y":1000,"wires":[]},{"id":"cc2c03cd.1ba37","type":"function","z":"7bc24a23.4fe074","name":"turn color off when SW is off","func":"var baseURL = global.get('PI_URL');\nmsg.url = null; //baseURL+\"?appid=IFTTT\";\nvar isColorOn =  global.get('Hue-Color');\nif(msg.payload.On !== undefined && msg.payload.On == false)\n{\n    //if(isColorOn == \"on\" || isColorOn == undefined)\n    {\n         node.log(\"Color Controller -> turn color off\");\n        //color off\n        global.set('Hue-Color',\"off\");\n        msg.url = baseURL+\"/harq/?value=004:090&appid=IFTTT\"\n        return msg;\n    }\n}\n\nreturn null;\n","outputs":1,"noerr":0,"x":2080,"y":2200,"wires":[["64d0aa1b.3b4864"]]},{"id":"963f281.0de6dd8","type":"inject","z":"7bc24a23.4fe074","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2240,"y":920,"wires":[["651fe1d3.0b2c"]]},{"id":"651fe1d3.0b2c","type":"function","z":"7bc24a23.4fe074","name":"TvTests","func":"var isOn = global.get('AC1')\nif(isOn === undefined)\n{\n    global.set('AC1',false);\n}\n\nisOn = !isOn\nglobal.set('AC1',isOn);\nvar on = isOn ? 1 : 0\nvar OutletInUse = isOn ? true :false\nvar data = {\n    \"CurrentHeaterCoolerState\": on\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":2380,"y":920,"wires":[["b87280e6.1562b","f34ec0d9.e299"]]},{"id":"20a1849a.9aa24c","type":"inject","z":"7bc24a23.4fe074","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":820,"y":140,"wires":[["57199425.f88ddc"]]},{"id":"57199425.f88ddc","type":"function","z":"7bc24a23.4fe074","name":"Toggle On/Off Light1","func":"var isOn = global.get('light1_1')\nif(isOn === undefined)\n{\n    global.set('light1_1',false);\n}\n\nisOn = !isOn\nglobal.set('light1_1',isOn);\nvar on = isOn ? 1 : 0\nvar OutletInUse = isOn ? true :false\nvar data = {\n    \"On\": isOn\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":140,"wires":[["df3d18c0.4da678","27593e81.05d122","2d37c7ab.7a03d8"]]},{"id":"11b36ee.451ff91","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2090,"y":520,"wires":[]},{"id":"edd29377.b262e","type":"inject","z":"7bc24a23.4fe074","name":"Check CPU TEMP (3 min)","topic":"","payload":"","payloadType":"date","repeat":"180","crontab":"","once":true,"onceDelay":0.1,"x":2540,"y":1440,"wires":[[]]},{"id":"50237d4.92c5e84","type":"exec","z":"7bc24a23.4fe074","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"Measure CPU Temp","x":2780,"y":1440,"wires":[["4a75bd9.ea6ec44"],[],[]]},{"id":"4a75bd9.ea6ec44","type":"function","z":"7bc24a23.4fe074","name":"cpu temp processor","func":"console.log(\"parse CPU Temp output\")\nstr=msg.payload;\nmsg.payload={\n    CurrentTemperature: parseFloat(str.substring(5,11))\n}\nreturn msg;","outputs":1,"noerr":0,"x":3020,"y":1420,"wires":[["dee089a9.3e0ae8","f8291a73.e972a8"]]},{"id":"4d3ade99.f229a","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3230,"y":1460,"wires":[]},{"id":"4dfc2409.750efc","type":"inject","z":"7bc24a23.4fe074","name":"Check CPU load (3 min)","topic":"","payload":"","payloadType":"date","repeat":"180","crontab":"","once":true,"onceDelay":0.1,"x":2590,"y":1580,"wires":[[]]},{"id":"e5ddb1ca.50b8a","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3230,"y":1660,"wires":[]},{"id":"72d1c3b6.6d32ec","type":"exec","z":"7bc24a23.4fe074","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Cpu Load","x":2780,"y":1580,"wires":[["4b8a71b9.c1064"],[],[]]},{"id":"4b8a71b9.c1064","type":"function","z":"7bc24a23.4fe074","name":"cpu load processor","func":"console.log(\"parse CPU load output\")\nmsg.payload={\n    CurrentRelativeHumidity: parseInt(msg.payload)\n}\nreturn msg;","outputs":1,"noerr":0,"x":2990,"y":1600,"wires":[["42f53963.012838","b063cf3d.1ea3c"]]},{"id":"1758671.5adbf99","type":"function","z":"7bc24a23.4fe074","name":"cpu temp processor","func":"str=msg.payload;\nmsg.payload={\n    \"homekit:HeatingCoolingMode\": \"FooBar test string\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":2790,"y":1660,"wires":[[]]},{"id":"e5ecef5e.408ee","type":"inject","z":"7bc24a23.4fe074","name":"Disabled","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":2620,"y":1660,"wires":[["1758671.5adbf99"]]},{"id":"58894578.c832fc","type":"http request","z":"7bc24a23.4fe074","name":"TVSalonAPI","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":3130,"y":940,"wires":[[]]},{"id":"15e51f51.ebf281","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"7e34929f.c546cc","parentService":"","name":"AC","serviceName":"HeaterCooler","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":"","cameraConfigMaxWidth":"","cameraConfigMaxHeight":"","cameraConfigMaxFPS":"","cameraConfigMaxBitrate":"","cameraConfigVideoCodec":"","cameraConfigAudioCodec":"","cameraConfigAudio":false,"cameraConfigPacketSize":"","cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"","cameraConfigMapAudio":"","cameraConfigVideoFilter":"","cameraConfigAdditionalCommandLine":"","cameraConfigDebug":false,"cameraConfigInterfaceName":"","characteristicProperties":"{\n    \"CurrentTemperature\": 19,\n    \"CoolingThresholdTemperature\":19,\n    \"TargetHeaterCoolerState\":1,\n    \"Active\":false\n}","x":650,"y":2720,"wires":[["1de54d6c.9e3f83","20546fb4.5d825","7df9a02c.2f79e","2b65fc17.85a6c4","6b6c1843.b16268","ef6b15d4.9d7028","16580616.09c11a"],[]]},{"id":"41bacc1a.6ba634","type":"function","z":"7bc24a23.4fe074","name":"Debug Chars","func":"var data = {\n    \"foo\":\"bar\"\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":2760,"wires":[["15e51f51.ebf281"]]},{"id":"6187a66c.4f3688","type":"inject","z":"7bc24a23.4fe074","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":2760,"wires":[["41bacc1a.6ba634"]]},{"id":"2b65fc17.85a6c4","type":"function","z":"7bc24a23.4fe074","name":"Change AC Heat/Cold mode","func":"var baseURL = global.get('PI_URL');\nif(msg.payload.TargetHeaterCoolerState === undefined)\n{\n    return null;\n}\n    var targetCoolerState = msg.payload.TargetHeaterCoolerState;\n    global.set('TargetHeaterCoolerStateAC1',targetCoolerState);\n    if(targetCoolerState == 2)//cooler\n    {\n        msg.url= baseURL+\"/harq/?value=004:029&appid=IFTTT\";\n    }\n    else if(targetCoolerState == 1)\n    {\n        msg.url= baseURL+\"/harq/?value=004:035&appid=IFTTT\";\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":2600,"wires":[["28b25755.861aa8","43537051.e67f7"]]},{"id":"6b6c1843.b16268","type":"function","z":"7bc24a23.4fe074","name":"AC On/OFF Controller","func":"var baseURL = global.get('PI_URL');\nif(msg.payload.Active === undefined)\n{\n    return null;\n}\n\n    if(msg.payload.Active == 1)\n    {\n       //ac on\n       msg.url = baseURL+\"/harq/?value=004:100&appid=IFTTT\";\n    }\n    else\n    {\n        //ac off\n        //msg.url = baseURL+\"/harq/?value=004:030&appid=IFTTT\";\n        msg.url = baseURL+\"/harq/?value=004:101&appid=IFTTT\";\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":2760,"wires":[["28b25755.861aa8","abb482.4435db8"]]},{"id":"abb482.4435db8","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":1260,"y":2760,"wires":[]},{"id":"43537051.e67f7","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":1060,"y":2640,"wires":[]},{"id":"9cc21dbe.d92ee","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":2920,"wires":[]},{"id":"e0a0907e.82846","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"47a5f285.5eabbc","parentService":"","name":"AllLights","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":1220,"y":320,"wires":[["70f827cc.76c8d8"],[]]},{"id":"cdcdb963.904798","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"936da756.664978","parentService":"","name":"LightParents","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":"","cameraConfigMaxWidth":"","cameraConfigMaxHeight":"","cameraConfigMaxFPS":"","cameraConfigMaxBitrate":"","cameraConfigVideoCodec":"","cameraConfigAudioCodec":"","cameraConfigAudio":false,"cameraConfigPacketSize":"","cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"","cameraConfigMapAudio":"","cameraConfigVideoFilter":"","cameraConfigAdditionalCommandLine":"","cameraConfigDebug":false,"cameraConfigInterfaceName":"","characteristicProperties":"{}","x":1230,"y":360,"wires":[["e38083be.fd4df"],[]]},{"id":"759b655.61b9d9c","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"ff705c57.71572","parentService":"","name":"ParentsFan","serviceName":"Fanv2","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":"","cameraConfigMaxWidth":"","cameraConfigMaxHeight":"","cameraConfigMaxFPS":"","cameraConfigMaxBitrate":"","cameraConfigVideoCodec":"","cameraConfigAudioCodec":"","cameraConfigAudio":false,"cameraConfigPacketSize":"","cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"","cameraConfigMapAudio":"","cameraConfigVideoFilter":"","cameraConfigAdditionalCommandLine":"","cameraConfigDebug":false,"cameraConfigInterfaceName":"","characteristicProperties":"{\"RotationSpeed\":true}","x":1910,"y":560,"wires":[["be30065a.d3a748","11b36ee.451ff91"],[]]},{"id":"b87280e6.1562b","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"6e1cf204.94616c","parentService":"","name":"TVSalon","serviceName":"Television","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{\n \"RemoteKey\" : true\n}","x":2580,"y":980,"wires":[["138aab4a.1a0845","39d55a13.1e7a06"],[]]},{"id":"df3d18c0.4da678","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"661ddbef.7c5c44","parentService":"","name":"Light1","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":1210,"y":180,"wires":[["2bcde83.3ad4518","4c08dd2f.1a3d84"],[]]},{"id":"27593e81.05d122","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"22cc2856.773f18","parentService":"","name":"Light2","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":1210,"y":220,"wires":[["238c344.99515cc","4c08dd2f.1a3d84"],[]]},{"id":"2d37c7ab.7a03d8","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"136cdab0.66aa05","parentService":"","name":"Light3","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":1210,"y":260,"wires":[["d90350f5.0b92c","4c08dd2f.1a3d84"],[]]},{"id":"dee089a9.3e0ae8","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"2caef43a.ef8d2c","parentService":"","name":"CPU TEMP","serviceName":"TemperatureSensor","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":3030,"y":1480,"wires":[["4d3ade99.f229a"],[]]},{"id":"42f53963.012838","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"9969a54d.bdbeb8","parentService":"","name":"CPU LOAD","serviceName":"HumiditySensor","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":3030,"y":1680,"wires":[["e5ddb1ca.50b8a"],[]]},{"id":"c0da56b9.de7678","type":"debug","z":"7bc24a23.4fe074","name":"env-d2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1550,"y":2020,"wires":[]},{"id":"7273bde1.46b274","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"79e49998.cd3fb8","parentService":"","name":"EnvHue","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":"","cameraConfigMaxWidth":"","cameraConfigMaxHeight":"","cameraConfigMaxFPS":"","cameraConfigMaxBitrate":"","cameraConfigVideoCodec":"","cameraConfigAudioCodec":"","cameraConfigAudio":false,"cameraConfigPacketSize":"","cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"","cameraConfigMapAudio":"","cameraConfigVideoFilter":"","cameraConfigAdditionalCommandLine":"","cameraConfigDebug":false,"cameraConfigInterfaceName":"","characteristicProperties":"{\n    \"Hue\":true,\n    \"Brightness\":true,\n    \"Saturation\":true,\n    \"On\":true\n}","x":1560,"y":2080,"wires":[["c0da56b9.de7678","76e408f7.03a158","e65aaa6.d644b58","6a2c98f0.c9a958","ff856ede.34b0f","c5f91b79.441098"],["e1248575.087a68","248e3229.bf030e","a3361fcc.c651b"]]},{"id":"f242fa81.e44e28","type":"http in","z":"7bc24a23.4fe074","name":"Stations state from node endpoint","url":"/status","method":"get","upload":false,"swaggerDoc":"","x":190,"y":320,"wires":[["e33c12c6.36eef","8167d18b.38df9","7e79ecbf.e78794","569e008.86cf9","cc378f01.7e4ab","175b3de9.194a92","662b10bc.a316c"]]},{"id":"e33c12c6.36eef","type":"template","z":"7bc24a23.4fe074","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>status accepted</h1>\n    </body>\n</html>","x":470,"y":220,"wires":[["dab48f97.ba2a1"]]},{"id":"dab48f97.ba2a1","type":"http response","z":"7bc24a23.4fe074","name":"","statusCode":"200","headers":{},"x":600,"y":220,"wires":[]},{"id":"1760425e.ba27ae","type":"function","z":"7bc24a23.4fe074","name":"","func":"var payload = {\"MotionDetected\":true}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["d36696a6.e23e48"]]},{"id":"975c46b5.7a7ed8","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":60,"wires":[]},{"id":"d36696a6.e23e48","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"8a6bfad6.4300b8","parentService":"","name":"alert2","serviceName":"MotionSensor","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":470,"y":60,"wires":[["975c46b5.7a7ed8"],[]]},{"id":"8167d18b.38df9","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":320,"wires":[]},{"id":"326766c1.99aa2a","type":"inject","z":"7bc24a23.4fe074","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":740,"y":1200,"wires":[["e80bd017.09b36"]]},{"id":"d11418c4.58d7e8","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":1160,"y":1200,"wires":[]},{"id":"e80bd017.09b36","type":"function","z":"7bc24a23.4fe074","name":"Toggle On/Off","func":"var isOn = global.get('AC1')\nif(isOn === undefined)\n{\n    global.set('AC1',false);\n}\n\nisOn = !isOn\nglobal.set('AC1',isOn);\nvar on = isOn ? 1 : 0\nvar OutletInUse = isOn ? true :false\nvar data = {\n    \"CurrentHeaterCoolerState\": on\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":1200,"wires":[["11aae4e6.b6268b"]]},{"id":"2349de35.88cac2","type":"function","z":"7bc24a23.4fe074","name":"Set 24 Warm","func":"\nvar data = {\n    \"CurrentTemperature\": 24,\n    \"CoolingThresholdTemperature\":24,\n    \"TargetHeaterCoolerState\":2,\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1260,"wires":[["11aae4e6.b6268b"]]},{"id":"7cb3a770.66e618","type":"inject","z":"7bc24a23.4fe074","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":1260,"wires":[["2349de35.88cac2"]]},{"id":"745cab2.77f2454","type":"function","z":"7bc24a23.4fe074","name":"AC Temp Change Controller","func":"var baseURL = global.get('PI_URL');\nif(msg.payload.CoolingThresholdTemperature === undefined)\n{\n    return null;\n}\nvar targetCoolerState = 2;\nif(msg.payload.TargetHeaterCoolerState !== undefined)\n{\n    targetCoolerState = msg.payload.TargetHeaterCoolerState\n    global.set('TargetHeaterCoolerStateAC2',targetCoolerState);\n}\nelse\n{\n    //2 is Cooled\n    targetCoolerState = global.get('TargetHeaterCoolerStateAC2')\n    if(targetCoolerState === undefined)\n    {\n        global.set('TargetHeaterCoolerStateAC2',2);\n        targetCoolerState = 2;\n    }\n}\nif(targetCoolerState == 2)\n{\n    if(msg.payload.CoolingThresholdTemperature)\n    {\n        if(msg.payload.CoolingThresholdTemperature >=23.0)\n        {\n            //warm api\n           msg.url = baseURL+\"/harq/?value=005:079&appid=IFTTT\";\n        }\n        else\n        {\n            //cool api\n            msg.url = baseURL+\"/harq/?value=005:078&appid=IFTTT\";\n        }\n    }\n    else\n    {\n        msg.url = baseURL+\"/harq/?value=005:078&appid=IFTTT\";\n    }\n}\n//1 is Hot\nif(targetCoolerState == 1)\n{\n    msg.url = baseURL+\"/harq/?value=004:035&appid=IFTTT\";\n    // if(msg.payload.CoolingThresholdTemperature)\n    // {\n    //     if(msg.payload.CoolingThresholdTemperature >=23.0)\n    //     {\n    //         //warm api\n    //       msg.url = \"http://benchuk.no-ip.info/harq/?value=004:035&appid=IFTTT\";\n    //     }\n    //     else\n    //     {\n    //         //cool api\n    //         msg.url = \"http://benchuk.no-ip.info/harq/?value=004:035&appid=IFTTT\";\n    //     }\n    // }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":1300,"wires":[["385c3088.1c651","8adb1283.5c3a3"]]},{"id":"385c3088.1c651","type":"http request","z":"7bc24a23.4fe074","name":"AcApi","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1690,"y":1300,"wires":[["7f4631d3.e30cf"]]},{"id":"7f4631d3.e30cf","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1690,"y":1180,"wires":[]},{"id":"8adb1283.5c3a3","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":1440,"y":1340,"wires":[]},{"id":"2ab6b7bf.2d2548","type":"inject","z":"7bc24a23.4fe074","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":1320,"wires":[["14014769.c56389"]]},{"id":"14014769.c56389","type":"function","z":"7bc24a23.4fe074","name":"Set 19 Cooled","func":"\nvar data = {\n    \"CurrentTemperature\": 19,\n    \"CoolingThresholdTemperature\":19,\n    \"TargetHeaterCoolerState\":2,\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":1320,"wires":[["11aae4e6.b6268b"]]},{"id":"b6d87911.2854b8","type":"function","z":"7bc24a23.4fe074","name":"Parents: Set Ac UI TEMP state when on (once)","func":"console.log(\"Set Ac UI TEMP state when on (once)\")\nif(msg.payload.CurrentTemperature !== undefined)\n{\n    return null;\n}\n\nvar data = {\n    \"CurrentTemperature\": 19\n}\n\n\n    if(msg.payload.CoolingThresholdTemperature !== undefined)\n    {\n        if(msg.payload.CoolingThresholdTemperature >=23.0)\n        {\n            //warm api\n           data.CurrentTemperature = 24;\n           //data.CoolingThresholdTemperature = 24\n        }\n        else\n        {\n           //cool api\n           data.CurrentTemperature = 19;\n           //data.CoolingThresholdTemperature = 19\n        }\n    }\n\n\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":1460,"wires":[["bfdaa0d7.7cb0d","11aae4e6.b6268b"]]},{"id":"f7e24aaa.7e68d8","type":"function","z":"7bc24a23.4fe074","name":"Debug Chars","func":"var data = {\n    \"foo\":\"bar\"\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1360,"wires":[["11aae4e6.b6268b"]]},{"id":"a855afd3.3723e","type":"inject","z":"7bc24a23.4fe074","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":700,"y":1360,"wires":[["f7e24aaa.7e68d8"]]},{"id":"60ee447f.522f9c","type":"function","z":"7bc24a23.4fe074","name":"Change AC Heat/Cold mode","func":"var baseURL = global.get('PI_URL');\nif(msg.payload.TargetHeaterCoolerState === undefined)\n{\n    return null;\n}\n    var targetCoolerState = msg.payload.TargetHeaterCoolerState;\n    global.set('TargetHeaterCoolerStateAC1',targetCoolerState);\n    if(targetCoolerState == 2)//cooler\n    {\n        //on and clod mode\n        msg.url=baseURL+\"/harq/?value=004:029&appid=IFTTT\";\n    }\n    else if(targetCoolerState == 1)\n    {\n        //on and hot mode\n        msg.url=baseURL+\"/harq/?value=004:035&appid=IFTTT\";\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":1220,"wires":[["385c3088.1c651","dc939d04.f8cad"]]},{"id":"562e0f3d.d4d39","type":"function","z":"7bc24a23.4fe074","name":"AC On/OFF Controller","func":"var baseURL = global.get('PI_URL');\nif(msg.payload.Active === undefined)\n{\n    return null;\n}\n\n    if(msg.payload.Active == 1)\n    {\n       //ac on\n       msg.url = baseURL + \"/harq/?value=005:022&appid=IFTTT\";\n    }\n    else\n    {\n        //ac off\n        msg.url = baseURL + \"/harq/?value=005:023&appid=IFTTT\";\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":1380,"wires":[["385c3088.1c651","8d7127d.25ad7d8"]]},{"id":"8d7127d.25ad7d8","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":1440,"y":1420,"wires":[]},{"id":"dc939d04.f8cad","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":1440,"y":1260,"wires":[]},{"id":"bfdaa0d7.7cb0d","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1210,"y":1500,"wires":[]},{"id":"11aae4e6.b6268b","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"2049aba8.6d1864","parentService":"","name":"ACParents","serviceName":"HeaterCooler","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":"","cameraConfigMaxWidth":"","cameraConfigMaxHeight":"","cameraConfigMaxFPS":"","cameraConfigMaxBitrate":"","cameraConfigVideoCodec":"","cameraConfigAudioCodec":"","cameraConfigAudio":false,"cameraConfigPacketSize":"","cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"","cameraConfigMapAudio":"","cameraConfigVideoFilter":"","cameraConfigAdditionalCommandLine":"","cameraConfigDebug":false,"cameraConfigInterfaceName":"","characteristicProperties":"{\n    \"CurrentTemperature\": 19,\n    \"CoolingThresholdTemperature\":19,\n    \"TargetHeaterCoolerState\":2,\n    \"Active\":false\n}","x":1070,"y":1320,"wires":[["b6d87911.2854b8","745cab2.77f2454","562e0f3d.d4d39","60ee447f.522f9c","d11418c4.58d7e8"],[]]},{"id":"378b2134.bed94e","type":"function","z":"7bc24a23.4fe074","name":"TVParentsController","func":"if(msg.payload.RemoteKey!==undefined)\n{\n    return null;\n}\nvar baseURL = global.get('PI_URL');\n\n\nlet now = new Date().getTime()\nvar isSourceUpdate = global.get('TV2');\nnode.log(\"TV2 isSourceUpdate: \" + isSourceUpdate);\nif(isSourceUpdate!==undefined)\n{\n  if(now - isSourceUpdate < 100)\n  {\n      global.set('TV2',0);\n      node.log(\"skip [TV2 event from source]\");\n      return null;\n  }\n}\n\nglobal.set('TV2SkipOnceFor6Sec',new Date().getTime());\n\nmsg.url = baseURL+\"/harq/?value=005:080&appid=IFTTT\"\nreturn msg;","outputs":1,"noerr":0,"x":2740,"y":1060,"wires":[["f63a68a6.c15208"]]},{"id":"7799daa3.f87ef4","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2910,"y":1120,"wires":[]},{"id":"83093f86.b4bec","type":"inject","z":"7bc24a23.4fe074","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2260,"y":1040,"wires":[["2668c3a6.ca510c"]]},{"id":"2668c3a6.ca510c","type":"function","z":"7bc24a23.4fe074","name":"TvTests","func":"var isOn = global.get('AC1')\nif(isOn === undefined)\n{\n    global.set('AC1',false);\n}\n\nisOn = !isOn\nglobal.set('AC1',isOn);\nvar on = isOn ? 1 : 0\nvar OutletInUse = isOn ? true :false\nvar data = {\n    \"CurrentHeaterCoolerState\": on\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":2400,"y":1040,"wires":[["4eea913e.21b9c"]]},{"id":"f63a68a6.c15208","type":"http request","z":"7bc24a23.4fe074","name":"TVParentsAPI","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":2940,"y":1060,"wires":[[]]},{"id":"4eea913e.21b9c","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"e471ac9c.c2e03","parentService":"","name":"TVParents","serviceName":"Television","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":"","cameraConfigMaxWidth":"","cameraConfigMaxHeight":"","cameraConfigMaxFPS":"","cameraConfigMaxBitrate":"","cameraConfigVideoCodec":"","cameraConfigAudioCodec":"","cameraConfigAudio":false,"cameraConfigPacketSize":"","cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"","cameraConfigMapAudio":"","cameraConfigVideoFilter":"","cameraConfigAdditionalCommandLine":"","cameraConfigDebug":false,"cameraConfigInterfaceName":"","characteristicProperties":"{\n    \"RemoteKey\":null\n}","x":2550,"y":1120,"wires":[["378b2134.bed94e","7799daa3.f87ef4"],["8704f634.2d4468"]]},{"id":"558d1bdb.65ef54","type":"function","z":"7bc24a23.4fe074","name":"EnvLightController","func":"var baseURL = global.get('PI_URL');\nnode.log(baseURL);\nmsg.url = baseURL + \"?appid=IFTTT\";\nif(msg.payload.ColorTemperature !== undefined)\n{\n  \n    msg.url = baseURL + \"/harq/?value=004:034&appid=IFTTT\";\n   \n}\nif(msg.payload.On !== undefined)\n{\n    if(msg.payload.On)\n    {\n        //msg.url = \"http://benchuk.no-ip.info/harq/?value=004:033&appid=IFTTT\";\n        msg.url = baseURL+\"/harq/?value=004:034&appid=IFTTT\";\n    }\n    else\n    {\n        msg.url = baseURL+\"/harq/?value=004:032&appid=IFTTT\";\n    }\n}\nif(msg.payload.Brightness !== undefined)\n{\n    if(msg.payload.Brightness > 0)\n    {\n        msg.url = baseURL+\"/harq/?value=004:034&appid=IFTTT\";\n    \n    }\n    else\n    {\n        msg.url = baseURL+\"/harq/?value=004:032&appid=IFTTT\";\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":2250,"y":1780,"wires":[["64d0aa1b.3b4864"]]},{"id":"23381871.9c0648","type":"debug","z":"7bc24a23.4fe074","name":"Hue2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1570,"y":1720,"wires":[]},{"id":"2f2e4e9.8cc53b2","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"be194ef4.843e8","parentService":"","name":"Hue2","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{\n    \"Hue\":true,\n    \"ColorTemperature\":true,\n    \"Brightness\":true,\n    \"On\":true\n}","x":1650,"y":1860,"wires":[["ed89b78f.f223c8","b1950a78.8f2b68","93018174.54517","222c8ed1.942c02"],["23381871.9c0648"]]},{"id":"7e79ecbf.e78794","type":"function","z":"7bc24a23.4fe074","name":"parse lights state","func":"node.log(\"parse lights state\")\nif(msg.req.query !== undefined)\n{\n    var addr = parseInt(msg.req.query.address);\n    \n    if (addr != 7)\n    {\n       return [null,null,null,null];\n    }\n    \n    node.log(\"parse light state\",msg.req.query)\n    \n    node.log(\"parse light state: for address: \" + addr);\n    \n    var dataOn = {\n        \"On\": true\n    };\n    var dataOff = {\n        \"On\": false\n    };\n    var msg1 = {};//JSON.parse(JSON.stringify(msg))\n    var msg2 = {};//JSON.parse(JSON.stringify(msg))\n    var msg3 = {}//JSON.parse(JSON.stringify(msg))\n    var msg4 = {}//JSON.parse(JSON.stringify(msg))\n    \n  \n    var base2 = (parseInt(msg.req.query.state)).toString(2);\n    base2 = base2+\"\"\n    node.log(base2);\n    if(base2.length ===3)\n    {\n        base2 = \"0\"+base2;\n    }\n    if(base2.length ===2)\n    {\n        base2 = \"00\"+base2;\n    }\n    if(base2.length ===1)\n    {\n        base2 = \"000\"+base2;\n    }\n    \n    var s1 = parseInt(base2[3]);\n    node.log(\"parse light state: s1: \" + s1);\n    var s2 = parseInt(base2[2]);\n    node.log(\"parse light state: s2: \" + s2);\n    var s3 = parseInt(base2[1]);\n    node.log(\"parse light state: s3: \" + s3);\n    var s4 = parseInt(base2[0]);\n    node.log(\"parse light state: s4: \" + s4);\n \n    msg1.payload = (s1 > 0) ? dataOff : dataOn;\n    msg2.payload = (s2 > 0) ? dataOff : dataOn;\n    msg3.payload = (s3 > 0) ? dataOff : dataOn;\n    msg4.payload = (s4 > 0) ? dataOff : dataOn;\n \n    //global.set('lightsUpdate1',new Date().getTime());\n    //global.set('lightsUpdate2',new Date().getTime());\n    //global.set('lightsUpdate3',new Date().getTime());\n    global.set('lightsUpdate',new Date().getTime());\n    //item 0 switch 1\n    //item 1 switch 2\n    //item 2 switch 3\n\n    return [msg1,msg2,msg3,msg4];\n}","outputs":4,"noerr":0,"x":870,"y":240,"wires":[["98d10ec7.a4dbe","df3d18c0.4da678"],["65315434.0f931c","27593e81.05d122"],[],["9e7ef10a.ce098","2d37c7ab.7a03d8"]]},{"id":"65315434.0f931c","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":360,"wires":[]},{"id":"9e7ef10a.ce098","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":400,"wires":[]},{"id":"98d10ec7.a4dbe","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":320,"wires":[]},{"id":"569e008.86cf9","type":"function","z":"7bc24a23.4fe074","name":"parse temp and Humidity sensor","func":"if(msg.req.query !== undefined)\n{\n    if (parseInt(msg.req.query.address)!== 101)\n    {\n        return;\n    }\n\n    var type = parseInt(msg.req.query.type);\n    \n    if(type == 3)//temperature\n    {\n        node.log(\"parse temp and Humidity sensor:\", msg.req.query)\n        msg.payload = {\"CurrentTemperature\":parseInt(msg.req.query.state)}\n        return [msg,null];\n    }\n    else if(type==4)//humidity\n    {\n        msg.payload = {\"CurrentRelativeHumidity\":parseInt(msg.req.query.state)}\n        return [null,msg];\n    }\n}\nreturn [null,null];","outputs":2,"noerr":0,"x":210,"y":680,"wires":[["46c151b7.ad22","36cfa215.707f5e","15e51f51.ebf281","11aae4e6.b6268b","260ddb60.17ed24","86fb1b12.ce2e98","1e9cbc8f.dab8d3"],["7a5d4a74.7156b4","1fc53936.ba4b17"]]},{"id":"46c151b7.ad22","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":520,"wires":[]},{"id":"7a5d4a74.7156b4","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"4bdd0a2f.134ac4","parentService":"36cfa215.707f5e","name":"DHT11_HUM","serviceName":"HumiditySensor","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":"","cameraConfigMaxWidth":"","cameraConfigMaxHeight":"","cameraConfigMaxFPS":"","cameraConfigMaxBitrate":"","cameraConfigVideoCodec":"","cameraConfigAudioCodec":"","cameraConfigAudio":false,"cameraConfigPacketSize":"","cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"","cameraConfigMapAudio":"","cameraConfigVideoFilter":"","cameraConfigAdditionalCommandLine":"","cameraConfigDebug":false,"cameraConfigInterfaceName":"","characteristicProperties":"{}","x":470,"y":600,"wires":[[],["6f28cfef.a62fd"]]},{"id":"36cfa215.707f5e","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"4bdd0a2f.134ac4","parentService":"","name":"DHT11_TEMP","serviceName":"TemperatureSensor","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":"","cameraConfigMaxWidth":"","cameraConfigMaxHeight":"","cameraConfigMaxFPS":"","cameraConfigMaxBitrate":"","cameraConfigVideoCodec":"","cameraConfigAudioCodec":"","cameraConfigAudio":false,"cameraConfigPacketSize":"","cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"","cameraConfigMapAudio":"","cameraConfigVideoFilter":"","cameraConfigAdditionalCommandLine":"","cameraConfigDebug":false,"cameraConfigInterfaceName":"","characteristicProperties":"{}","x":480,"y":560,"wires":[[],["170680d8.fa888f"]]},{"id":"cc378f01.7e4ab","type":"function","z":"7bc24a23.4fe074","name":"parse Motion sensor","func":"if(msg.req.query !== undefined)\n{\n    if (parseInt(msg.req.query.address)!== 102)\n    {\n        return;\n    }\n\n    var type = parseInt(msg.req.query.type);\n    \n    if(type == 5)//PIR Motion\n    {\n        //var motionDetected = parseInt(msg.req.query.state) == 1 ? true:false;\n        var motionDetected = parseInt(msg.req.query.state) == 1 ? 1:0; \n        //msg.payload = {\"MotionDetected\":motionDetected};\n        msg.payload = {\"ContactSensorState\":motionDetected};\n        \n        return msg;\n    }\n    return null;\n}","outputs":1,"noerr":0,"x":180,"y":40,"wires":[["2f7491ab.ea0f4e","c3ccb5a2.5b8188"]]},{"id":"2f7491ab.ea0f4e","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":20,"wires":[]},{"id":"175b3de9.194a92","type":"function","z":"7bc24a23.4fe074","name":"parse Tv Power Sensor","func":"\n\n\nif(msg.req.query !== undefined)\n{\n    if (parseInt(msg.req.query.address)!== 104)\n    {\n        return;\n    }\n\n    node.log(\"parse Tv Power Sensor: [in]: process TV input\");    \n    // //check if the command was initiated by the homekit remote\n    // //if so skip as the state is already ok\n    // let now = new Date().getTime()\n    // var isSourceUpdate = global.get('TV1SkipOnceFor3Sec');\n    // //node.log(\"TV1SkipOnceFor3Sec isSourceUpdate: \" + isSourceUpdate);\n    // if(isSourceUpdate!==undefined)\n    // {\n    //   if(now - isSourceUpdate < 6000)\n    //   {\n    //       global.set('TV1SkipOnceFor3Sec',0);\n    //       node.log(\"[in]: skip [TV1SkipOnceFor3Sec] event from homekit\");\n    //       return null;\n    //   }\n    // }\n    //if we are here the state update is coming from the Tv so we need to update the state\n    //and ignore the update on the output so we will not have a loop\n\n    var type = parseInt(msg.req.query.type);\n    \n    if(type == 6)//TV Power Sensor\n    {\n        node.log(\"parse Tv Power Sensor:  [in]: update button state from device with state: \" + parseInt(msg.req.query.state));\n        global.set('TV1',new Date().getTime());\n        msg.payload = {\"Active\":parseInt(msg.req.query.state)}\n        return msg;\n    }\n    \n    node.log(\"parse Tv Power Sensor:  [in]: error 2\");\n}\nnode.log(\"[in]: error 1\");\nreturn null;","outputs":1,"noerr":0,"x":2310,"y":960,"wires":[["b87280e6.1562b","f34ec0d9.e299"]]},{"id":"662b10bc.a316c","type":"function","z":"7bc24a23.4fe074","name":"parse Tv2 Power Sensor","func":"if(msg.req.query !== undefined)\n{\n    if (parseInt(msg.req.query.address)!== 106)\n    {\n        return;\n    }\n    \n    node.log(\"parse Tv2 Power Sensor: [in]: process TV2 input\",msg.req.query);   \n    \n    node.log(\"parse Tv2 Power Sensor: [in]: process TV2 input\");   \n    // let now = new Date().getTime()\n    // var isSourceUpdate = global.get('TV2SkipOnceFor6Sec');\n    // node.log(\"TV2SkipOnceFor6Sec isSourceUpdate: \" + isSourceUpdate);\n    // if(isSourceUpdate!==undefined)\n    // {\n    //   if(now - isSourceUpdate < 6000)\n    //   {\n    //       global.set('TV2SkipOnceFor6Sec',0);\n    //       node.log(\"skip [TV2SkipOnceFor6Sec] event from homekit\");\n    //       return null;\n    //   }\n    // }\n\n    var type = parseInt(msg.req.query.type);\n    \n    if(type == 6)//TV Power Sensor\n    {\n        node.log(\"parse Tv Power Sensor:  [in]: update button state from device with state: \" + parseInt(msg.req.query.state));\n        global.set('TV2',new Date().getTime());\n        msg.payload = {\"Active\":parseInt(msg.req.query.state)}\n        return msg;\n    }\n    \n    node.log(\"parse Tv2 Power Sensor: ERROR!!! [in]: process TV2 input\",msg.req.query);   \n    \n}\nreturn null;","outputs":1,"noerr":0,"x":2310,"y":1100,"wires":[["4eea913e.21b9c"]]},{"id":"35c4f88a.3415f8","type":"inject","z":"7bc24a23.4fe074","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1970,"y":80,"wires":[["c082666e.8aaaf8"]]},{"id":"a56e0b4.67ec0f8","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2370,"y":80,"wires":[]},{"id":"fdf16b84.c8e778","type":"inject","z":"7bc24a23.4fe074","name":"","topic":"","payload":"{\"On\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1530,"y":1780,"wires":[["558d1bdb.65ef54"]]},{"id":"c082666e.8aaaf8","type":"function","z":"7bc24a23.4fe074","name":"set PI_URL base url","func":"global.set('PI_URL','http://10.100.102.14:3001');\nreturn msg;","outputs":1,"noerr":0,"x":2160,"y":80,"wires":[["a56e0b4.67ec0f8"]]},{"id":"b063cf3d.1ea3c","type":"function","z":"7bc24a23.4fe074","name":"","func":"//console.log(\"Graph: cpu load processor\",msg)\nmsg.payload = msg.payload.CurrentRelativeHumidity\nreturn msg;","outputs":1,"noerr":0,"x":3170,"y":1580,"wires":[[]]},{"id":"f8291a73.e972a8","type":"function","z":"7bc24a23.4fe074","name":"","func":"//console.log(\"Graph: cpu temp processor\",msg)\nmsg.payload = msg.payload.CurrentTemperature\nreturn msg;","outputs":1,"noerr":0,"x":3150,"y":1360,"wires":[[]]},{"id":"260ddb60.17ed24","type":"function","z":"7bc24a23.4fe074","name":"Graph parsh temp and Humidity sensor","func":"//console.log(\"Graph: temp and Humidity sensor: Temp\",msg)\nif(msg.payload.CurrentTemperature!==null)\n{\n    msg.payload = msg.payload.CurrentTemperature;\n    return msg\n}\n\nreturn msg","outputs":1,"noerr":0,"x":560,"y":640,"wires":[["a325a8fa.5ee7e8"]]},{"id":"a325a8fa.5ee7e8","type":"ui_chart","z":"7bc24a23.4fe074","name":"","group":"1f02fd06.bc8e93","order":2,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":810,"y":640,"wires":[[]]},{"id":"1fc53936.ba4b17","type":"function","z":"7bc24a23.4fe074","name":"Graph parse temp and Humidity sensor","func":"//console.log(\"Graph: parse temp and Humidity sensor: Humidity\",msg)\nif(msg.payload.CurrentRelativeHumidity!==null)\n{\n    msg.payload = msg.payload.CurrentRelativeHumidity\n    return msg;\n}\n\nreturn msg","outputs":1,"noerr":0,"x":560,"y":680,"wires":[["8ad4c86c.dd3ad8"]]},{"id":"8ad4c86c.dd3ad8","type":"ui_chart","z":"7bc24a23.4fe074","name":"","group":"1f02fd06.bc8e93","order":3,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":800,"y":680,"wires":[[]]},{"id":"ef6b15d4.9d7028","type":"delay","z":"7bc24a23.4fe074","name":"","pauseType":"delay","timeout":"2000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":2800,"wires":[["2f41dd47.9daa82"]]},{"id":"2f41dd47.9daa82","type":"function","z":"7bc24a23.4fe074","name":"Clear AC after off","func":"var baseURL = global.get('PI_URL');\nif(msg.payload.Active === undefined)\n{\n    return null;\n}\n\n    if(msg.payload.Active == 0)\n    {\n       //ac off -> clear\n       msg.url = baseURL+\"/harq/?value=004:097&appid=IFTTT\";\n    }\n    else\n    {\n        msg.url = \"\"\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":2800,"wires":[["28b25755.861aa8","3bef8125.e9d17e"]]},{"id":"3bef8125.e9d17e","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":1200,"y":2820,"wires":[]},{"id":"76e408f7.03a158","type":"delay","z":"7bc24a23.4fe074","name":"","pauseType":"delay","timeout":"4500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1860,"y":2000,"wires":[["8ec963a7.64c8"]]},{"id":"703137d5.36be38","type":"function","z":"7bc24a23.4fe074","name":"turn color on or off","func":"var baseURL = global.get('PI_URL');\nmsg.url = null;// baseURL+\"?appid=IFTTT\";\nvar isColorOn =  global.get('Hue-Color');\n//|| msg.payload.Saturation !== undefined\nif(msg.payload.Hue !== undefined)\n{\n    node.log(\"handle color on/off -> on\");\n    //color on\n    //if(isColorOn == \"off\" || isColorOn == undefined)\n    {\n        global.set('Hue-Color',\"on\");\n        msg.url = baseURL+\"/harq/?value=004:089&appid=IFTTT\"\n    }\n}\n// else\n// {\n//     //if(isColorOn == \"on\" || isColorOn == undefined)\n//     {\n//         node.log(\"handle color on/off -> off\");\n//         //color off\n//         global.set('Hue-Color',\"off\");\n//         msg.url = baseURL+\"/harq/?value=004:090&appid=IFTTT\"\n//     }\n// }\nreturn msg;","outputs":1,"noerr":0,"x":2070,"y":2040,"wires":[["64d0aa1b.3b4864"]]},{"id":"e1248575.087a68","type":"debug","z":"7bc24a23.4fe074","name":"env-d","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1550,"y":2140,"wires":[]},{"id":"2bc56d5f.fa4262","type":"inject","z":"7bc24a23.4fe074","name":"TV on","topic":"","payload":"{\"Active\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2610,"y":460,"wires":[["f34ec0d9.e299"]]},{"id":"2aae265e.2f5c7a","type":"inject","z":"7bc24a23.4fe074","name":"TV off","topic":"","payload":"{\"Active\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2610,"y":500,"wires":[["f34ec0d9.e299"]]},{"id":"4b9ce696.a3bd68","type":"debug","z":"7bc24a23.4fe074","name":"State and source output","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":2970,"y":600,"wires":[]},{"id":"71e1d422.3466ec","type":"debug","z":"7bc24a23.4fe074","name":"Volume output","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":3530,"y":560,"wires":[]},{"id":"c2e939f1.654388","type":"inject","z":"7bc24a23.4fe074","name":"TV Setup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"5","x":2620,"y":400,"wires":[["8c1149bf.a23288"]]},{"id":"916f7845.3e28c8","type":"inject","z":"7bc24a23.4fe074","name":"Source Setup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"6","x":3140,"y":680,"wires":[["ef7a9ff7.91937"]]},{"id":"8c1149bf.a23288","type":"function","z":"7bc24a23.4fe074","name":"Setup TV","func":"var name = \"Tv Main\";\n\nmsg.payload = {\n \"ConfiguredName\": name,\n \"ActiveIdentifier\" : 0,\n \"SleepDiscoveryMode\" : 0,\n \"Active\" : 0\n};\nreturn msg;","outputs":1,"noerr":0,"x":2760,"y":400,"wires":[["f34ec0d9.e299"]]},{"id":"2cb56264.6a049e","type":"inject","z":"7bc24a23.4fe074","name":"Input 1","topic":"","payload":"{\"ActiveIdentifier\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2610,"y":620,"wires":[["f34ec0d9.e299"]]},{"id":"85a00a4a.834388","type":"inject","z":"7bc24a23.4fe074","name":"Input 0","topic":"","payload":"{\"ActiveIdentifier\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2610,"y":580,"wires":[["f34ec0d9.e299"]]},{"id":"6464f19b.7f354","type":"inject","z":"7bc24a23.4fe074","name":"Input 2","topic":"","payload":"{\"ActiveIdentifier\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2610,"y":660,"wires":[["f34ec0d9.e299"]]},{"id":"70dee322.c3f12c","type":"inject","z":"7bc24a23.4fe074","name":"Input 3","topic":"","payload":"{\"ActiveIdentifier\":3}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2610,"y":700,"wires":[["f34ec0d9.e299"]]},{"id":"ef7a9ff7.91937","type":"function","z":"7bc24a23.4fe074","name":"Set up inputs","func":"// This function will initialize and name inputs\n// it is set to work with 4 inputs\n\n// INPUT SOURCE NAMES\nvar input0 = \"Apple TV\";\nvar input1 = \"PC\";\n\n// INPUT SOURCE TYPES\nvar OTHER = 0;\nvar HOME_SCREEN = 1;\nvar TUNER = 2;\nvar HDMI = 3;\nvar COMPOSITE_VIDEO = 4;\nvar S_VIDEO = 5;\nvar COMPONENT_VIDEO = 6;\nvar DVI = 7;\nvar AIRPLAY = 8;\nvar USB = 9;\nvar APPLICATION = 10;\n\n// Configure your input types based on options above\nvar input0type = HDMI;\nvar input1type = HDMI;\nvar input2type = HDMI;\nvar input3type = COMPOSITE_VIDEO;\n\n\n// Duplicate or remove sets if you have more or fewer inputs\nvar msg0={};\nvar msg1={};\nvar msg2={};\nvar msg3={};\n\nmsg0.payload = {\n    \"Identifier\": 0,\n    \"IsConfigured\" : 1,\n    \"ConfiguredName\": input0,\n    \"InputSourceType\": input0type\n};\nmsg1.payload = {\n    \"Identifier\": 1,\n    \"IsConfigured\" : 1,\n    \"ConfiguredName\": input1,\n    \"InputSourceType\": input1type\n};\nreturn [msg0,msg1];","outputs":4,"noerr":0,"x":3330,"y":660,"wires":[["5b997ebb.136c3"],["11d7c580.4bceab"],["5ccace2d.abd6c"],["cfe4c506.23ecc8"]]},{"id":"f34ec0d9.e299","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"2fc64c5b.f28b44","parentService":"","name":"Tv Main","serviceName":"Television","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{\n    \"RemoteKey\":null\n}","x":2680,"y":920,"wires":[["138aab4a.1a0845"],["4b9ce696.a3bd68","418600fe.9af8f"]]},{"id":"f5e03fd3.b2fd7","type":"homekit-service","z":"7bc24a23.4fe074","isParent":false,"bridge":"2fc64c5b.f28b44","parentService":"f34ec0d9.e299","name":"Television Speaker","serviceName":"TelevisionSpeaker","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{\n    \"VolumeControlType\":1,\n    \"VolumeSelector\":true\n}","x":3390,"y":480,"wires":[[],["71e1d422.3466ec"]]},{"id":"5b997ebb.136c3","type":"homekit-service","z":"7bc24a23.4fe074","isParent":false,"bridge":"","parentService":"f34ec0d9.e299","name":"Input 0","serviceName":"InputSource","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","x":3510,"y":620,"wires":[[],[]]},{"id":"11d7c580.4bceab","type":"homekit-service","z":"7bc24a23.4fe074","isParent":false,"bridge":"","parentService":"f34ec0d9.e299","name":"Input 1","serviceName":"InputSource","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","x":3510,"y":660,"wires":[[],[]]},{"id":"5ccace2d.abd6c","type":"homekit-service","z":"7bc24a23.4fe074","isParent":false,"bridge":"","parentService":"f34ec0d9.e299","name":"Input 2","serviceName":"InputSource","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","x":3510,"y":700,"wires":[[],[]]},{"id":"cfe4c506.23ecc8","type":"homekit-service","z":"7bc24a23.4fe074","isParent":false,"bridge":"","parentService":"f34ec0d9.e299","name":"Input 3","serviceName":"InputSource","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","x":3510,"y":740,"wires":[[],[]]},{"id":"418600fe.9af8f","type":"function","z":"7bc24a23.4fe074","name":"TVSalonVolumeController","func":"\nvar baseURL = global.get('PI_URL');\nif(msg.payload.RemoteKey == 4)\n{\n    //volume up\n    msg.url = baseURL+\"/harq/?value=004:004&appid=IFTTT\"\n}\nif(msg.payload.RemoteKey == 5)\n{\n    //volume down\n    msg.url = baseURL+\"/harq/?value=004:005&appid=IFTTT\"\n}\nif(msg.payload.RemoteKey == 15)\n{\n    //Source menu\n    msg.url = baseURL+\"/harq/?value=004:006&appid=IFTTT\"\n}\n\nif(msg.payload.RemoteKey == 6)\n{\n    //left\n    msg.url = baseURL+\"/harq/?value=004:010&appid=IFTTT\"\n}\n\nif(msg.payload.RemoteKey == 7)\n{\n    //right\n    msg.url = baseURL+\"/harq/?value=004:011&appid=IFTTT\"\n}\n\nif(msg.payload.RemoteKey == 8)\n{\n    //ok enter\n    msg.url = baseURL+\"/harq/?value=004:008&appid=IFTTT\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":2950,"y":840,"wires":[["74963be6.041934"]]},{"id":"b013b49a.c39118","type":"inject","z":"7bc24a23.4fe074","name":"CurrentHeatingCoolingState off","topic":"","payload":"{\"CurrentHeatingCoolingState\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3870,"y":1080,"wires":[["86803d0a.dc4fd"]]},{"id":"241be43c.13ccac","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":4570,"y":1420,"wires":[]},{"id":"1a7cab1d.cee6b5","type":"inject","z":"7bc24a23.4fe074","name":"TargetHeatingCoolingState off","topic":"","payload":"{\"TargetHeatingCoolingState\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":4160,"y":1080,"wires":[["86803d0a.dc4fd"]]},{"id":"261e8431.cd89bc","type":"inject","z":"7bc24a23.4fe074","name":"CurrentTemperature 10","topic":"","payload":"{\"CurrentTemperature\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3840,"y":1260,"wires":[["86803d0a.dc4fd"]]},{"id":"accd8121.b292e","type":"inject","z":"7bc24a23.4fe074","name":"TargetTemperature 10","topic":"","payload":"{\"TargetTemperature\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":4120,"y":1260,"wires":[["86803d0a.dc4fd"]]},{"id":"dd4900af.5738f","type":"inject","z":"7bc24a23.4fe074","name":"CurrentHeatingCoolingState heat","topic":"","payload":"{\"CurrentHeatingCoolingState\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3870,"y":1120,"wires":[["86803d0a.dc4fd"]]},{"id":"ce8e377e.468dc8","type":"inject","z":"7bc24a23.4fe074","name":"TargetHeatingCoolingState heat","topic":"","payload":"{\"TargetHeatingCoolingState\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":4170,"y":1120,"wires":[["86803d0a.dc4fd"]]},{"id":"3bb77651.a4d92a","type":"inject","z":"7bc24a23.4fe074","name":"CurrentHeatingCoolingState cool","topic":"","payload":"{\"CurrentHeatingCoolingState\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3870,"y":1160,"wires":[["86803d0a.dc4fd"]]},{"id":"f482fc03.830c7","type":"inject","z":"7bc24a23.4fe074","name":"TargetHeatingCoolingState cool","topic":"","payload":"{\"TargetHeatingCoolingState\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":4170,"y":1160,"wires":[["86803d0a.dc4fd"]]},{"id":"8a0e808a.eccc7","type":"inject","z":"7bc24a23.4fe074","name":"CurrentTemperature 20","topic":"","payload":"{\"CurrentTemperature\":20}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3840,"y":1300,"wires":[["86803d0a.dc4fd"]]},{"id":"54780256.940b6c","type":"inject","z":"7bc24a23.4fe074","name":"TargetTemperature 20","topic":"","payload":"{\"TargetTemperature\":20}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":4120,"y":1300,"wires":[["86803d0a.dc4fd"]]},{"id":"5e393d01.4168a4","type":"inject","z":"7bc24a23.4fe074","name":"CurrentTemperature 30","topic":"","payload":"{\"CurrentTemperature\":30}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3840,"y":1340,"wires":[["86803d0a.dc4fd"]]},{"id":"3601413.3efccbe","type":"inject","z":"7bc24a23.4fe074","name":"TargetTemperature 30","topic":"","payload":"{\"TargetTemperature\":30}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":4120,"y":1340,"wires":[["86803d0a.dc4fd"]]},{"id":"535d541c.b549ec","type":"inject","z":"7bc24a23.4fe074","name":"TemperatureDisplayUnits Celsius","topic":"","payload":"{\"TemperatureDisplayUnits\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3870,"y":1400,"wires":[["86803d0a.dc4fd"]]},{"id":"7f88fe5f.eba3b","type":"inject","z":"7bc24a23.4fe074","name":"TemperatureDisplayUnits Fahrenheit","topic":"","payload":"{\"TemperatureDisplayUnits\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3880,"y":1440,"wires":[["86803d0a.dc4fd"]]},{"id":"e51f2b93.b01018","type":"inject","z":"7bc24a23.4fe074","name":"CurrentRelativeHumidity 20","topic":"","payload":"{\"CurrentRelativeHumidity\":20}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3860,"y":1500,"wires":[["86803d0a.dc4fd"]]},{"id":"4d62d3b0.9d334c","type":"inject","z":"7bc24a23.4fe074","name":"TargetRelativeHumidity 20","topic":"","payload":"{\"TargetRelativeHumidity\":20}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":4130,"y":1500,"wires":[["86803d0a.dc4fd"]]},{"id":"fe71eeac.1a138","type":"inject","z":"7bc24a23.4fe074","name":"CurrentRelativeHumidity 30","topic":"","payload":"{\"CurrentRelativeHumidity\":30}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3860,"y":1540,"wires":[["86803d0a.dc4fd"]]},{"id":"6e81fdbb.b6b014","type":"inject","z":"7bc24a23.4fe074","name":"TargetRelativeHumidity 30","topic":"","payload":"{\"TargetRelativeHumidity\":30}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":4130,"y":1540,"wires":[["86803d0a.dc4fd"]]},{"id":"be9c225d.1a563","type":"inject","z":"7bc24a23.4fe074","name":"CurrentRelativeHumidity 40","topic":"","payload":"{\"CurrentRelativeHumidity\":40}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3860,"y":1580,"wires":[["86803d0a.dc4fd"]]},{"id":"d5fd220b.eb2e7","type":"inject","z":"7bc24a23.4fe074","name":"TargetRelativeHumidity 40","topic":"","payload":"{\"TargetRelativeHumidity\":40}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":4130,"y":1580,"wires":[["86803d0a.dc4fd"]]},{"id":"8fb849ca.233fe8","type":"inject","z":"7bc24a23.4fe074","name":"CoolingThresholdTemperature 23","topic":"","payload":"{\"CoolingThresholdTemperature\":23}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3870,"y":1680,"wires":[["86803d0a.dc4fd"]]},{"id":"2b9256e4.828dea","type":"inject","z":"7bc24a23.4fe074","name":"HeatingThresholdTemperature 21","topic":"","payload":"{\"HeatingThresholdTemperature\":21}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":4170,"y":1680,"wires":[["86803d0a.dc4fd"]]},{"id":"f6ca26a5.ca0cf8","type":"inject","z":"7bc24a23.4fe074","name":"CoolingThresholdTemperature 25","topic":"","payload":"{\"CoolingThresholdTemperature\":25}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3870,"y":1720,"wires":[["86803d0a.dc4fd"]]},{"id":"fec85447.21ccc8","type":"inject","z":"7bc24a23.4fe074","name":"HeatingThresholdTemperature 22","topic":"","payload":"{\"HeatingThresholdTemperature\":22}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":4170,"y":1720,"wires":[["86803d0a.dc4fd"]]},{"id":"2f152a4e.ffa3f6","type":"inject","z":"7bc24a23.4fe074","name":"HeatingThresholdTemperature 18","topic":"","payload":"{\"HeatingThresholdTemperature\":18}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":4170,"y":1640,"wires":[["86803d0a.dc4fd"]]},{"id":"8a47deb7.ab48d","type":"inject","z":"7bc24a23.4fe074","name":"CoolingThresholdTemperature 20","topic":"","payload":"{\"CoolingThresholdTemperature\":20}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3870,"y":1640,"wires":[["86803d0a.dc4fd"]]},{"id":"48e8d5dc.2bfe7c","type":"inject","z":"7bc24a23.4fe074","name":"CurrentHeatingCoolingState auto","topic":"","payload":"{\"CurrentHeatingCoolingState\":3}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3870,"y":1200,"wires":[["86803d0a.dc4fd"]]},{"id":"4b598114.a27cf","type":"inject","z":"7bc24a23.4fe074","name":"TargetHeatingCoolingState auto","topic":"","payload":"{\"TargetHeatingCoolingState\":3}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":4170,"y":1200,"wires":[["86803d0a.dc4fd"]]},{"id":"86803d0a.dc4fd","type":"function","z":"7bc24a23.4fe074","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":4150,"y":1420,"wires":[["7600eb78.3c6254","82f0e2e5.5da8a"]]},{"id":"7600eb78.3c6254","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"8993b806.798598","parentService":"","name":"Heating/Cooling Thermostat","serviceName":"Thermostat","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":"","cameraConfigMaxWidth":"","cameraConfigMaxHeight":"","cameraConfigMaxFPS":"","cameraConfigMaxBitrate":"","cameraConfigVideoCodec":"","cameraConfigAudioCodec":"","cameraConfigAudio":false,"cameraConfigPacketSize":"","cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"","cameraConfigMapAudio":"","cameraConfigVideoFilter":"","cameraConfigAdditionalCommandLine":"","cameraConfigDebug":false,"cameraConfigInterfaceName":"","characteristicProperties":"{\n}","x":4360,"y":1460,"wires":[["241be43c.13ccac"],[]]},{"id":"82f0e2e5.5da8a","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"8993b806.798598","parentService":"","name":"Heating Thermostat","serviceName":"Thermostat","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":"","cameraConfigMaxWidth":"","cameraConfigMaxHeight":"","cameraConfigMaxFPS":"","cameraConfigMaxBitrate":"","cameraConfigVideoCodec":"","cameraConfigAudioCodec":"","cameraConfigAudio":false,"cameraConfigPacketSize":"","cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"","cameraConfigMapAudio":"","cameraConfigVideoFilter":"","cameraConfigAdditionalCommandLine":"","cameraConfigDebug":false,"cameraConfigInterfaceName":"","characteristicProperties":"{\n    \"TargetHeatingCoolingState\": {\n        \"validValues\": [0, 1]\n    },\n    \"CurrentHeatingCoolingState\": {\n        \"validValues\": [0, 1]\n    }\n}","x":4330,"y":1400,"wires":[["241be43c.13ccac"],[]]},{"id":"da0f15e4.473ee8","type":"inject","z":"7bc24a23.4fe074","name":"Request off","topic":"","payload":"{\"TargetHeatingCoolingState\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":4350,"y":540,"wires":[["2793a61b.68d2ba"]]},{"id":"2793a61b.68d2ba","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"f0d49597.4ca498","parentService":"","name":"CleverThermostat","serviceName":"Thermostat","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":"","cameraConfigMaxWidth":"","cameraConfigMaxHeight":"","cameraConfigMaxFPS":"","cameraConfigMaxBitrate":"","cameraConfigVideoCodec":"","cameraConfigAudioCodec":"","cameraConfigAudio":false,"cameraConfigPacketSize":"","cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"","cameraConfigMapAudio":"","cameraConfigVideoFilter":"","cameraConfigAdditionalCommandLine":"","cameraConfigDebug":false,"cameraConfigInterfaceName":"","characteristicProperties":"{\n    \"TargetHeatingCoolingState\": {\n        \"validValues\": [0, 1]\n    },\n    \"CurrentHeatingCoolingState\": {\n        \"validValues\": [0, 1]\n    }\n}","x":4610,"y":740,"wires":[["bce161c7.0d048","267d99ac.4f0866"],[]]},{"id":"3f132385.e0ca4c","type":"inject","z":"7bc24a23.4fe074","name":"Current 68 F (20 C)","topic":"","payload":"{\"CurrentTemperature\": 20}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":4330,"y":660,"wires":[["2793a61b.68d2ba"]]},{"id":"e51042e.94caec","type":"inject","z":"7bc24a23.4fe074","name":"Target 73 F (23 C)","topic":"","payload":"{\"TargetTemperature\": 23}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":4330,"y":780,"wires":[["2793a61b.68d2ba"]]},{"id":"10a3fe44.b2de92","type":"inject","z":"7bc24a23.4fe074","name":"Target 50 F (10 C)","topic":"","payload":"{\"TargetTemperature\": 10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":4320,"y":820,"wires":[["2793a61b.68d2ba"]]},{"id":"4f2642a4.5a491c","type":"inject","z":"7bc24a23.4fe074","name":"Current 59 F (15 C)","topic":"","payload":"{\"CurrentTemperature\": 15}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":4330,"y":700,"wires":[["2793a61b.68d2ba"]]},{"id":"bce161c7.0d048","type":"function","z":"7bc24a23.4fe074","name":"Save TEMP/HUM/TT","func":"var T1 = context.get(\"T1\")||{\n    \"target_temperature\": 12,\n    \"temperature\": 10,\n    \"humidity\": 11,\n    \"targetHeatCoolState\": 0\n};\n\nvar OutMsg = {};\n\nif (msg.payload.TargetHeatingCoolingState !== undefined){\n    T1.targetHeatCoolState = msg.payload.TargetHeatingCoolingState;\n}\n\nif (msg.payload.CurrentTemperature !== undefined) {\n    T1.temperature = msg.payload.CurrentTemperature;\n}\n\nif (msg.payload.CurrentRelativeHumidity !== undefined) {\n    T1.humidity = msg.payload.CurrentRelativeHumidity;\n}\n\nif (msg.payload.TargetTemperature !== undefined) {\n    T1.target_temperature = msg.payload.TargetTemperature;\n}\n\nif (T1.targetHeatCoolState == 1){\n    if (T1.temperature >= T1.target_temperature) {\n        OutMsg.payload = { \n            CurrentHeatingCoolingState: 0\n        };\n    } else {\n        OutMsg.payload = { \n            CurrentHeatingCoolingState: 1\n        };\n    }\n} else if (T1.targetHeatCoolState === 0){\n    OutMsg.payload = {\n        CurrentHeatingCoolingState: 0\n    };\n}\n\ncontext.set(\"T1\",T1);\n\nreturn OutMsg;\n","outputs":1,"noerr":0,"x":4600,"y":900,"wires":[["2793a61b.68d2ba"]]},{"id":"267d99ac.4f0866","type":"debug","z":"7bc24a23.4fe074","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":4850,"y":740,"wires":[]},{"id":"20b4bd75.2f5bf2","type":"inject","z":"7bc24a23.4fe074","name":"Current 77 F (25 C)","topic":"","payload":"{\"CurrentTemperature\": 25}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":4330,"y":620,"wires":[["2793a61b.68d2ba"]]},{"id":"d57957a7.8b66c8","type":"inject","z":"7bc24a23.4fe074","name":"Request heat","topic":"","payload":"{\"TargetHeatingCoolingState\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":4350,"y":500,"wires":[["2793a61b.68d2ba"]]},{"id":"be554297.734fe","type":"inject","z":"7bc24a23.4fe074","name":"Check every 5 sec","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":4340,"y":900,"wires":[["bce161c7.0d048"]]},{"id":"74963be6.041934","type":"http request","z":"7bc24a23.4fe074","name":"TVSalonAPI2","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":3180,"y":840,"wires":[[]]},{"id":"c5f91b79.441098","type":"delay","z":"7bc24a23.4fe074","name":"","pauseType":"delay","timeout":"900","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1810,"y":2360,"wires":[["40cae5d3.c4086c"]]},{"id":"40cae5d3.c4086c","type":"function","z":"7bc24a23.4fe074","name":"if brightness turn white on and color off","func":"var baseURL = global.get('PI_URL');\nmsg.url = baseURL+\"?appid=IFTTT\";\nif(msg.payload.Brightness !== undefined)\n{\n    node.log(\"white controller -> color off - requesting brightness\")\n    //off color\n    msg.url = baseURL+\"/harq/?value=004:083&appid=IFTTT\"\n    return msg;\n}\n\nreturn null;\n","outputs":1,"noerr":0,"x":2070,"y":2360,"wires":[["64d0aa1b.3b4864"]]},{"id":"8c5261f8.9f94","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"8a6bfad6.4300b8","parentService":"","name":"Light Sensor","serviceName":"LightSensor","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{\n    \"CurrentAmbientLightLevel\":120,\n    \"StatusActive\":true\n}","x":2890,"y":100,"wires":[[],[]]},{"id":"776021fa.5102c","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"936da756.664978","parentService":"","name":"Light Kids","serviceName":"Lightbulb","topic":"LightKids","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","x":1220,"y":400,"wires":[["c41a45cf.5d2968"],[]]},{"id":"c41a45cf.5d2968","type":"function","z":"7bc24a23.4fe074","name":"Kids LightsController","func":"var baseURL = global.get('PI_URL');\nif(msg.payload.On)\n{\n    msg.url = baseURL+\"/harq/?value=006:011&appid=IFTTT\"\n\n}\nelse\n{\n    msg.url = baseURL+\"/harq/?value=006:012&appid=IFTTT\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":420,"wires":[["a1498907.a108f8"]]},{"id":"c1c84372.09307","type":"function","z":"7bc24a23.4fe074","name":"white on off by sw state","func":"var baseURL = global.get('PI_URL');\nmsg.url = null; // baseURL+\"?appid=IFTTT\";\nvar isWhiteOn =  global.get('Hue-White');\nif(msg.payload.On !== undefined)\n{\n    if(msg.payload.On == true)\n    {\n        //if(isWhiteOn == \"off\" || isWhiteOn == undefined)\n        {\n            node.log(\"White Controller -> white on\");\n            //turn white on\n            global.set('Hue-White',\"on\");\n            msg.url = baseURL+\"/harq/?value=004:083&appid=IFTTT\"\n            return msg;\n        }\n    }\n    else\n    {\n        //if(isWhiteOn == \"on\" || isWhiteOn == undefined)\n        {\n            //turn white off\n            node.log(\"White Controller ->  white off\");\n            global.set('Hue-White',\"off\");\n            msg.url = baseURL+\"/harq/?value=004:084&appid=IFTTT\"\n            return msg;\n        }\n    }\n}\n\nreturn null;\n","outputs":1,"noerr":0,"x":2070,"y":2160,"wires":[["64d0aa1b.3b4864"]]},{"id":"c7ad61f8.a53d","type":"function","z":"7bc24a23.4fe074","name":"Handle Brightness","func":"var baseURL = global.get('PI_URL');\nmsg.url = null; //baseURL+\"?appid=IFTTT\";\nif(msg.payload.Brightness !== undefined)\n{\n    node.log(\"Handle brightness\")\n    if(msg.payload.Brightness <= 25)\n    {\n        msg.url = baseURL+\"/harq/?value=004:091&appid=IFTTT\"\n    \n    }\n    else if(msg.payload.Brightness <= 50)\n    {\n        msg.url = baseURL+\"/harq/?value=004:092&appid=IFTTT\"\n    \n    }\n    else if(msg.payload.Brightness <= 75)\n    {\n        msg.url = baseURL+\"/harq/?value=004:093&appid=IFTTT\"\n    \n    }\n    else\n    {\n        msg.url = baseURL+\"/harq/?value=004:094&appid=IFTTT\"\n    }\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":2010,"y":2320,"wires":[["64d0aa1b.3b4864"]]},{"id":"ff856ede.34b0f","type":"delay","z":"7bc24a23.4fe074","name":"","pauseType":"delay","timeout":"1500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1820,"y":2320,"wires":[["c7ad61f8.a53d"]]},{"id":"248e3229.bf030e","type":"delay","z":"7bc24a23.4fe074","name":"","pauseType":"delay","timeout":"3500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1860,"y":2040,"wires":[["703137d5.36be38"]]},{"id":"6a2c98f0.c9a958","type":"delay","z":"7bc24a23.4fe074","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1830,"y":2160,"wires":[["c1c84372.09307"]]},{"id":"e65aaa6.d644b58","type":"delay","z":"7bc24a23.4fe074","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1830,"y":2200,"wires":[["cc2c03cd.1ba37"]]},{"id":"170680d8.fa888f","type":"debug","z":"7bc24a23.4fe074","name":"DBG_DHT11_TEMP","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":700,"y":560,"wires":[]},{"id":"6f28cfef.a62fd","type":"debug","z":"7bc24a23.4fe074","name":"DBG_DHT11_TEMP","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":700,"y":600,"wires":[]},{"id":"a7960dcc.e5c29","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"b324ac22.213bd","parentService":"","name":"Security","serviceName":"SecuritySystem","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","x":3620,"y":20,"wires":[["5aac9593.945a9c"],["5aac9593.945a9c"]]},{"id":"a9fde8ad.f7d118","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"f371816b.ffeac","parentService":"","name":"SW1","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","x":3610,"y":80,"wires":[[],["98a5f10f.07ff1"]]},{"id":"5aac9593.945a9c","type":"debug","z":"7bc24a23.4fe074","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3750,"y":20,"wires":[]},{"id":"4bcd83fb.2474dc","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"f371816b.ffeac","parentService":"","name":"SW2","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","x":3610,"y":120,"wires":[[],["dbf965a9.f4bea8"]]},{"id":"5f935e72.12bae","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"f371816b.ffeac","parentService":"","name":"SW3","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","x":3610,"y":160,"wires":[[],["395655b8.9add1a"]]},{"id":"7a9f9c3.55a8c64","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"f371816b.ffeac","parentService":"","name":"SW4","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","x":3610,"y":200,"wires":[[],["473c628f.17a32c"]]},{"id":"1470207d.025ef","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"f371816b.ffeac","parentService":"","name":"SW5","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","x":3610,"y":240,"wires":[[],["c805756d.16f568"]]},{"id":"6c086757.7c7e98","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"f371816b.ffeac","parentService":"","name":"SW6","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","x":3610,"y":280,"wires":[[],["27317f50.e92cb"]]},{"id":"98a5f10f.07ff1","type":"debug","z":"7bc24a23.4fe074","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3750,"y":80,"wires":[]},{"id":"dbf965a9.f4bea8","type":"debug","z":"7bc24a23.4fe074","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3750,"y":120,"wires":[]},{"id":"395655b8.9add1a","type":"debug","z":"7bc24a23.4fe074","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3750,"y":160,"wires":[]},{"id":"473c628f.17a32c","type":"debug","z":"7bc24a23.4fe074","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3750,"y":200,"wires":[]},{"id":"c805756d.16f568","type":"debug","z":"7bc24a23.4fe074","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3750,"y":240,"wires":[]},{"id":"27317f50.e92cb","type":"debug","z":"7bc24a23.4fe074","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3750,"y":280,"wires":[]},{"id":"86fb1b12.ce2e98","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"12b4e4e.befeb1b","parentService":"","name":"AcKids","serviceName":"HeaterCooler","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{\n    \"CurrentTemperature\": 19,\n    \"CoolingThresholdTemperature\":19,\n    \"TargetHeaterCoolerState\":2,\n    \"Active\":false\n}","x":350,"y":2100,"wires":[["48b04dec.e44624","683f8596.d329fc","a306dcb0.529f1","fe8f995b.a76e18"],[]]},{"id":"683f8596.d329fc","type":"function","z":"7bc24a23.4fe074","name":"AC Temp Change Controller","func":"var baseURL = global.get('PI_URL');\nif(msg.payload.CoolingThresholdTemperature === undefined)\n{\n    return null;\n}\nvar targetCoolerState = 2;\nif(msg.payload.TargetHeaterCoolerState !== undefined)\n{\n    targetCoolerState = msg.payload.TargetHeaterCoolerState\n    global.set('TargetHeaterCoolerStateAC3',targetCoolerState);\n}\nelse\n{\n    //2 is Cooled\n    targetCoolerState = global.get('TargetHeaterCoolerStateAC3')\n    if(targetCoolerState === undefined)\n    {\n        global.set('TargetHeaterCoolerStateAC3',2);\n        targetCoolerState = 2;\n    }\n}\nif(targetCoolerState == 2)\n{\n    if(msg.payload.CoolingThresholdTemperature)\n    {\n        if(msg.payload.CoolingThresholdTemperature >=23.0)\n        {\n            //warm api\n           msg.url = baseURL+\"/harq/?value=006:015&appid=IFTTT\";\n        }\n        else\n        {\n            //cool api\n            msg.url = baseURL+\"/harq/?value=006:016&appid=IFTTT\";\n        }\n    }\n    else\n    {\n        msg.url = baseURL+\"/harq/?value=006:016&appid=IFTTT\";\n    }\n}\n//1 is Hot\nif(targetCoolerState == 1)\n{\n    msg.url = baseURL+\"/harq/?value=004:035&appid=IFTTT\";\n    // if(msg.payload.CoolingThresholdTemperature)\n    // {\n    //     if(msg.payload.CoolingThresholdTemperature >=23.0)\n    //     {\n    //         //warm api\n    //       msg.url = \"http://benchuk.no-ip.info/harq/?value=004:035&appid=IFTTT\";\n    //     }\n    //     else\n    //     {\n    //         //cool api\n    //         msg.url = \"http://benchuk.no-ip.info/harq/?value=004:035&appid=IFTTT\";\n    //     }\n    // }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":2160,"wires":[["56c577f6.698588","bc4c39d1.0a1c58"]]},{"id":"56c577f6.698588","type":"http request","z":"7bc24a23.4fe074","name":"AcApi","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":850,"y":2140,"wires":[["2ea5079.1e908f8"]]},{"id":"2ea5079.1e908f8","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":2080,"wires":[]},{"id":"bc4c39d1.0a1c58","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":620,"y":2100,"wires":[]},{"id":"48b04dec.e44624","type":"function","z":"7bc24a23.4fe074","name":"Change AC Heat/Cold mode","func":"var baseURL = global.get('PI_URL');\nif(msg.payload.TargetHeaterCoolerState === undefined)\n{\n    return null;\n}\n    var targetCoolerState = msg.payload.TargetHeaterCoolerState;\n    global.set('TargetHeaterCoolerStateAC1',targetCoolerState);\n    if(targetCoolerState == 2)//cooler\n    {\n        //on and clod mode\n        msg.url=baseURL+\"/harq/?value=004:029&appid=IFTTT\";\n    }\n    else if(targetCoolerState == 1)\n    {\n        //on and hot mode\n        msg.url=baseURL+\"/harq/?value=004:035&appid=IFTTT\";\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":2040,"wires":[["56c577f6.698588","f20d618d.c42dc"]]},{"id":"a306dcb0.529f1","type":"function","z":"7bc24a23.4fe074","name":"AC On/OFF Controller","func":"var baseURL = global.get('PI_URL');\nif(msg.payload.Active === undefined)\n{\n    return null;\n}\n\n    if(msg.payload.Active == 1)\n    {\n       //ac on\n       msg.url = baseURL + \"/harq/?value=006:013&appid=IFTTT\";\n    }\n    else\n    {\n        //ac off\n        msg.url = baseURL + \"/harq/?value=006:014&appid=IFTTT\";\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":2220,"wires":[["56c577f6.698588","97d0baf9.34ebd8"]]},{"id":"97d0baf9.34ebd8","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":600,"y":2260,"wires":[]},{"id":"f20d618d.c42dc","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":700,"y":1980,"wires":[]},{"id":"fe8f995b.a76e18","type":"function","z":"7bc24a23.4fe074","name":"KIDS: Set Ac UI TEMP state when on (once)","func":"node.log(\"Set Ac UI TEMP state when on (once)\")\nif(msg.payload.CurrentTemperature !== undefined)\n{\n    return null;\n}\n\nvar data = {\n    \"CurrentTemperature\": 19\n}\n\n\n    if(msg.payload.CoolingThresholdTemperature !== undefined)\n    {\n        if(msg.payload.CoolingThresholdTemperature >=23.0)\n        {\n            //warm api\n           data.CurrentTemperature = 24;\n           //data.CoolingThresholdTemperature = 24\n        }\n        else\n        {\n           //cool api\n           data.CurrentTemperature = 19;\n           //data.CoolingThresholdTemperature = 19\n        }\n    }\n\n\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":2260,"wires":[["86fb1b12.ce2e98"]]},{"id":"3ac192bd.d8afee","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"6f3f0328.09d27c","parentService":"","name":"KidsFan","serviceName":"Fanv2","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{\"RotationSpeed\":true}","x":1900,"y":620,"wires":[["6c941db8.8eb904","e491fabb.213a68"],[]]},{"id":"e491fabb.213a68","type":"function","z":"7bc24a23.4fe074","name":"KidsFanController","func":"var baseURL = global.get('PI_URL');\n//Turn on if no active was sent\nif(msg.payload.RotationSpeed !== undefined)\n{\n    if(msg.payload.RotationSpeed <= 0)\n    {\n        //off\n        msg.url = baseURL +\"/harq/?value=006:022&appid=IFTTT\";\n    }\n    else if(msg.payload.RotationSpeed <30)\n    {\n        //low\n        msg.url = baseURL +\"/harq/?value=006:023&appid=IFTTT\";\n    }\n    else if(msg.payload.RotationSpeed >= 30 && msg.payload.RotationSpeed < 80)\n    {\n        //mid\n        msg.url = baseURL+\"/harq/?value=006:024&appid=IFTTT\";\n    }\n    else\n    {\n        //hi\n        msg.url = baseURL+\"/harq/?value=006:025&appid=IFTTT\";\n    }\n}\nif(msg.payload.Active == 1)\n{\n    msg.url = baseURL+\"/harq/?value=006:025&appid=IFTTT\";\n}\nif(msg.payload.Active == 0)\n{\n    msg.url = baseURL+\"/harq/?value=006:022&appid=IFTTT\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":2110,"y":660,"wires":[["51944046.f550d"]]},{"id":"6c941db8.8eb904","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2070,"y":600,"wires":[]},{"id":"a338d0ec.01e89","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"8a6bfad6.4300b8","parentService":"","name":"Temperature detector","serviceName":"ContactSensor","topic":"","filter":false,"manufacturer":"Benchuk","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":"","cameraConfigMaxWidth":"","cameraConfigMaxHeight":"","cameraConfigMaxFPS":"","cameraConfigMaxBitrate":"","cameraConfigVideoCodec":"","cameraConfigAudioCodec":"","cameraConfigAudio":false,"cameraConfigPacketSize":"","cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"","cameraConfigMapAudio":"","cameraConfigVideoFilter":"","cameraConfigAdditionalCommandLine":"","cameraConfigDebug":false,"cameraConfigInterfaceName":"","characteristicProperties":"{}","x":1060,"y":940,"wires":[[],["b999788.8b20f88"]]},{"id":"1e9cbc8f.dab8d3","type":"function","z":"7bc24a23.4fe074","name":"detect over 24 temp","func":"if(msg.payload.CurrentTemperature >=24)\n{\n  msg.payload = { ContactSensorState: 1};\n}\nelse\n{\n  msg.payload = { ContactSensorState: 0};\n}\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":940,"wires":[["a338d0ec.01e89"]]},{"id":"b999788.8b20f88","type":"debug","z":"7bc24a23.4fe074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1250,"y":940,"wires":[]},{"id":"543124eb.2d684c","type":"inject","z":"7bc24a23.4fe074","d":true,"name":"","topic":"","payload":"{\"SecuritySystemCurrentState\":4,\"SecuritySystemTargetState\":1,\"SecuritySystemAlarmType\":1,\"StatusTampered\":1}","payloadType":"json","repeat":"10","crontab":"","once":true,"onceDelay":"6","x":3310,"y":20,"wires":[["a7960dcc.e5c29"]]},{"id":"a6fcdbe3.6d90d8","type":"comment","z":"7bc24a23.4fe074","name":"Chars","info":"Try one of these characteristics: Name, SecuritySystemCurrentState, SecuritySystemTargetState, StatusFault, StatusTampered, SecuritySystemAlarmType, Name\"","x":3890,"y":20,"wires":[]},{"id":"5953ffcf.c9453","type":"inject","z":"7bc24a23.4fe074","name":"","topic":"","payload":"{\"StatusTampered\":1,\"SecuritySystemAlarmType\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"6","x":3310,"y":60,"wires":[["a7960dcc.e5c29"]]},{"id":"8704f634.2d4468","type":"function","z":"7bc24a23.4fe074","name":"TVParentVolumeController","func":"\nvar baseURL = global.get('PI_URL');\nmsg.url = null;\nif(msg.payload.RemoteKey == 4)\n{\n    //volume up\n    msg.url = baseURL+\"/harq/?value=005:081&appid=IFTTT\"\n}\nif(msg.payload.RemoteKey == 5)\n{\n    //volume down\n    msg.url = baseURL+\"/harq/?value=005:082&appid=IFTTT\"\n}\nif(msg.payload.RemoteKey == 15)\n{\n    //Source menu\n    //msg.url = baseURL+\"/harq/?value=004:006&appid=IFTTT\"\n}\n\nif(msg.payload.RemoteKey == 6)\n{\n    //left\n    //msg.url = baseURL+\"/harq/?value=004:010&appid=IFTTT\"\n}\n\nif(msg.payload.RemoteKey == 7)\n{\n    //right\n    //msg.url = baseURL+\"/harq/?value=004:011&appid=IFTTT\"\n}\n\nif(msg.payload.RemoteKey == 8)\n{\n    //ok enter\n    msg.url = baseURL+\"/harq/?value=005:083&appid=IFTTT\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":2740,"y":1220,"wires":[["f63a68a6.c15208"]]},{"id":"64d0aa1b.3b4864","type":"http request","z":"7bc24a23.4fe074","name":"Color LightsApi","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":2580,"y":2080,"wires":[["def0432d.e4db5"]]},{"id":"51944046.f550d","type":"http request","z":"7bc24a23.4fe074","name":"FanApi","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":2320,"y":560,"wires":[[]]},{"id":"2921bc43.03c3c4","type":"function","z":"7bc24a23.4fe074","name":"turn color on if needed workaround","func":"var baseURL = global.get('PI_URL');\n//node.log(baseURL);\nmsg.url = null;\nvar isColorOn =  global.get('Hue-Color');\nnode.log(\"isColorOn: \" + isColorOn)\nif(isColorOn == \"on\")\n{\n    //turn back on  workaround\n   node.log(\"workaround -> turnning color back on\");\n   msg.url = baseURL+\"/harq/?value=004:089&appid=IFTTT\" \n}\nreturn msg;","outputs":1,"noerr":0,"x":2480,"y":1820,"wires":[["64d0aa1b.3b4864"]]},{"id":"93018174.54517","type":"delay","z":"7bc24a23.4fe074","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2110,"y":1840,"wires":[["2921bc43.03c3c4"]]},{"id":"ed89b78f.f223c8","type":"function","z":"7bc24a23.4fe074","name":"turn color off workaround","func":"var baseURL = global.get('PI_URL');\nmsg.url = null;\n\n\nif(msg.payload.ColorTemperature !== undefined)\n{\n    msg.url = baseURL+\"/harq/?value=004:090&appid=IFTTT\"\n}\nif(msg.payload.On !== undefined)\n{\n    if(msg.payload.On)\n    {\n        msg.url = baseURL+\"/harq/?value=004:090&appid=IFTTT\"\n    }\n}\nif(msg.payload.Brightness !== undefined)\n{\n    if(msg.payload.Brightness > 0)\n    {\n        msg.url = baseURL+\"/harq/?value=004:090&appid=IFTTT\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1930,"y":1720,"wires":[["64d0aa1b.3b4864"]]},{"id":"b1950a78.8f2b68","type":"delay","z":"7bc24a23.4fe074","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2030,"y":1780,"wires":[["558d1bdb.65ef54"]]},{"id":"533c85cb.5cca2c","type":"function","z":"7bc24a23.4fe074","name":"WorkaroundClearColorPartyOnStrip","func":"var baseURL = global.get('PI_URL');\nnode.log(baseURL);\nmsg.url = null;\nif(msg.payload.ColorTemperature !== undefined)\n{\n    msg.url = baseURL+\"/harq/?value=004:085&appid=IFTTT\"\n}\nif(msg.payload.On !== undefined)\n{\n    if(msg.payload.On)\n    {\n        msg.url = baseURL+\"/harq/?value=004:085&appid=IFTTT\"\n    }\n}\nif(msg.payload.Brightness !== undefined)\n{\n    if(msg.payload.Brightness > 0)\n    {\n        msg.url = baseURL+\"/harq/?value=004:085&appid=IFTTT\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":2620,"y":1880,"wires":[[]]},{"id":"222c8ed1.942c02","type":"delay","z":"7bc24a23.4fe074","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2170,"y":1880,"wires":[["533c85cb.5cca2c"]]},{"id":"def0432d.e4db5","type":"debug","z":"7bc24a23.4fe074","name":"color api","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2780,"y":2060,"wires":[]},{"id":"a10f2717.a060f8","type":"http request","z":"7bc24a23.4fe074","name":"KidsHueApi","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":2750,"y":2660,"wires":[["467fe568.7b7b5c"]]},{"id":"d45f3f6c.d7da8","type":"function","z":"7bc24a23.4fe074","name":"Handle Brightness PMW KIds","func":"var baseURL = global.get('PI_URL');\nmsg.url = null; //baseURL+\"?appid=IFTTT\";\nif(msg.payload.On !== undefined)\n{\n    if(msg.payload.On == true)\n    {\n         node.log(\"Kids hue Controller -> turn on\");\n        //color off\n        global.set('Hue-Color',\"off\");\n        msg.url = baseURL+\"/harq/?value=006:999&appid=IFTTT\"\n        return msg;\n    }\n    if(msg.payload.On == false)\n    {\n         node.log(\"Kids hue Controller -> turn off\");\n        //color off\n        global.set('Hue-Color',\"off\");\n        msg.url = baseURL+\"/harq/?value=006:995&appid=IFTTT\"\n        return msg;\n    }\n}\nif(msg.payload.Brightness !== undefined)\n{\n    node.log(\"Handle brightness PMW kids\")\n    if(msg.payload.Brightness == 0)\n    {\n        msg.url = baseURL+\"/harq/?value=006:995&appid=IFTTT\"\n    }\n    if(msg.payload.Brightness <= 25)\n    {\n        msg.url = baseURL+\"/harq/?value=006:996&appid=IFTTT\"\n    \n    }\n    else if(msg.payload.Brightness <= 50)\n    {\n        msg.url = baseURL+\"/harq/?value=006:997&appid=IFTTT\"\n    \n    }\n    else if(msg.payload.Brightness <= 75)\n    {\n        msg.url = baseURL+\"/harq/?value=006:998&appid=IFTTT\"\n    \n    }\n    else\n    {\n        msg.url = baseURL+\"/harq/?value=006:999&appid=IFTTT\"\n    }\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":2190,"y":2680,"wires":[["f01f0019.d1f9e","84f80ff5.4140b","816e2518.b12b88","fc46bdf3.a4e52"]]},{"id":"b465fa9.cb7c208","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"66e550f6.7df1","parentService":"","name":"KidsHue","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{\n    \"Hue\":true,\n    \"Brightness\":true,\n    \"Saturation\":true,\n    \"On\":true\n}","x":1980,"y":2780,"wires":[["6a4b8a42.402554","d45f3f6c.d7da8"],[]]},{"id":"467fe568.7b7b5c","type":"debug","z":"7bc24a23.4fe074","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2930,"y":2640,"wires":[]},{"id":"f01f0019.d1f9e","type":"debug","z":"7bc24a23.4fe074","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2390,"y":2580,"wires":[]},{"id":"6a4b8a42.402554","type":"debug","z":"7bc24a23.4fe074","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2130,"y":2600,"wires":[]},{"id":"f4ee689e.e7d548","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"2fc50dd1.40c632","parentService":"","name":"LedHueBed","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{\n    \"Hue\":true,\n    \"Brightness\":true,\n    \"Saturation\":true,\n    \"On\":true\n}","x":1970,"y":2500,"wires":[["8ea2f0ee.7b9ed","fe040e37.3f3c7"],[]]},{"id":"1174b425.b0a2fc","type":"http request","z":"7bc24a23.4fe074","name":"BedHueApi","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":2830,"y":2400,"wires":[["8a0602cb.6398b"]]},{"id":"fe040e37.3f3c7","type":"function","z":"7bc24a23.4fe074","name":"Handle Brightness PMW Hue Bed","func":"var baseURL = global.get('PI_URL');\nmsg.url = null; //baseURL+\"?appid=IFTTT\";\nif(msg.payload.On !== undefined)\n{\n    if(msg.payload.On == true)\n    {\n         node.log(\"Kids hue Controller -> turn on\");\n        //color off\n        global.set('Hue-Color',\"off\");\n        msg.url = baseURL+\"/harq/?value=008:999&appid=IFTTT\"\n        return msg;\n    }\n    if(msg.payload.On == false)\n    {\n         node.log(\"Kids hue Controller -> turn off\");\n        //color off\n        global.set('Hue-Color',\"off\");\n        msg.url = baseURL+\"/harq/?value=008:995&appid=IFTTT\"\n        return msg;\n    }\n}\nif(msg.payload.Brightness !== undefined)\n{\n    node.log(\"Handle brightness PMW kids\")\n    if(msg.payload.Brightness == 0)\n    {\n        msg.url = baseURL+\"/harq/?value=008:995&appid=IFTTT\"\n    }\n    if(msg.payload.Brightness <= 25)\n    {\n        msg.url = baseURL+\"/harq/?value=008:996&appid=IFTTT\"\n    \n    }\n    else if(msg.payload.Brightness <= 50)\n    {\n        msg.url = baseURL+\"/harq/?value=008:997&appid=IFTTT\"\n    \n    }\n    else if(msg.payload.Brightness <= 75)\n    {\n        msg.url = baseURL+\"/harq/?value=008:998&appid=IFTTT\"\n    \n    }\n    else\n    {\n        msg.url = baseURL+\"/harq/?value=008:999&appid=IFTTT\"\n    }\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":2240,"y":2540,"wires":[["73a1ae0f.d38ff","4ab36370.440bfc","513a780e.4810a8","60788458.ae265c"]]},{"id":"8a0602cb.6398b","type":"debug","z":"7bc24a23.4fe074","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2970,"y":2400,"wires":[]},{"id":"73a1ae0f.d38ff","type":"debug","z":"7bc24a23.4fe074","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2430,"y":2440,"wires":[]},{"id":"8ea2f0ee.7b9ed","type":"debug","z":"7bc24a23.4fe074","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2170,"y":2460,"wires":[]},{"id":"c3ccb5a2.5b8188","type":"homekit-service","z":"7bc24a23.4fe074","isParent":true,"bridge":"8a6bfad6.4300b8","parentService":"","name":"BedTrigger","serviceName":"ContactSensor","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","x":310,"y":180,"wires":[[],[]]},{"id":"99bca5ed.1f0298","type":"function","z":"7bc24a23.4fe074","name":"white off if color","func":"var baseURL = global.get('PI_URL');\nmsg.url = null; // baseURL+\"?appid=IFTTT\";\nvar isWhiteOn =  global.get('Hue-White');\n\nif(msg.payload.Hue !== undefined)\n{\n    //if(isWhiteOn == \"on\" || isWhiteOn == undefined)\n    {\n        //turn white off\n        node.log(\"White Controller -> turn white off - color is requested\");\n        global.set('Hue-White',\"off\");\n        msg.url = baseURL+\"/harq/?value=004:084&appid=IFTTT\"\n        return msg;\n    }\n}\n\nreturn null;\n","outputs":1,"noerr":0,"x":2060,"y":2120,"wires":[["64d0aa1b.3b4864"]]},{"id":"a3361fcc.c651b","type":"delay","z":"7bc24a23.4fe074","name":"","pauseType":"delay","timeout":"900","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1850,"y":2120,"wires":[["99bca5ed.1f0298"]]},{"id":"4ab36370.440bfc","type":"delay","z":"7bc24a23.4fe074","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2590,"y":2460,"wires":[["1174b425.b0a2fc"]]},{"id":"513a780e.4810a8","type":"delay","z":"7bc24a23.4fe074","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2590,"y":2500,"wires":[["1174b425.b0a2fc"]]},{"id":"60788458.ae265c","type":"delay","z":"7bc24a23.4fe074","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2600,"y":2540,"wires":[["1174b425.b0a2fc"]]},{"id":"84f80ff5.4140b","type":"delay","z":"7bc24a23.4fe074","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2490,"y":2660,"wires":[["a10f2717.a060f8"]]},{"id":"816e2518.b12b88","type":"delay","z":"7bc24a23.4fe074","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2490,"y":2700,"wires":[["a10f2717.a060f8"]]},{"id":"fc46bdf3.a4e52","type":"delay","z":"7bc24a23.4fe074","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2500,"y":2740,"wires":[["a10f2717.a060f8"]]},{"id":"16580616.09c11a","type":"delay","z":"7bc24a23.4fe074","name":"","pauseType":"delay","timeout":"2100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":2840,"wires":[["b19aa409.86da38"]]},{"id":"b19aa409.86da38","type":"function","z":"7bc24a23.4fe074","name":"Cold AC after on","func":"var baseURL = global.get('PI_URL');\nif(msg.payload.Active === undefined)\n{\n    return null;\n}\n\n    if(msg.payload.Active == 1)\n    {\n       //ac cooled 19\n       msg.url = baseURL+\"/harq/?value=004:099&appid=IFTTT\";\n    }\n    else\n    {\n        msg.url = \"\"\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":2840,"wires":[["28b25755.861aa8"]]}]