SmartHome/web_server/PI Server/project_pi_node_server/red-node-flow-backup/flows3.json
[{"id":"34d5fca5.9a9fd4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"94b1e5ec.c993b8","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1950,"y":140,"wires":[]},{"id":"d15b8fe6.11fcf","type":"inject","z":"34d5fca5.9a9fd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":440,"wires":[["7383d259.e0deec"]]},{"id":"8e72436f.41427","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":700,"y":480,"wires":[]},{"id":"7383d259.e0deec","type":"function","z":"34d5fca5.9a9fd4","name":"Toggle On/Off","func":"var isOn = global.get('AC1')\nif(isOn === undefined)\n{\n    global.set('AC1',false);\n}\n\nisOn = !isOn\nglobal.set('AC1',isOn);\nvar on = isOn ? 1 : 0\nvar OutletInUse = isOn ? true :false\nvar data = {\n    \"CurrentHeaterCoolerState\": on\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":440,"wires":[["d33e12a8.4864"]]},{"id":"dff70a44.2dd418","type":"function","z":"34d5fca5.9a9fd4","name":"Set 24 Warm","func":"\nvar data = {\n    \"CurrentTemperature\": 24,\n    \"CoolingThresholdTemperature\":24,\n    \"TargetHeaterCoolerState\":2,\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":500,"wires":[["d33e12a8.4864"]]},{"id":"6563ff92.c97f","type":"inject","z":"34d5fca5.9a9fd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":500,"wires":[["dff70a44.2dd418"]]},{"id":"ae75622a.151ff","type":"function","z":"34d5fca5.9a9fd4","name":"AC Temp Change Controller","func":"var baseURL = global.get('PI_URL');\nif(msg.payload.CoolingThresholdTemperature === undefined)\n{\n    return null;\n}\nvar targetCoolerState = 2;\nif(msg.payload.TargetHeaterCoolerState !== undefined)\n{\n    targetCoolerState = msg.payload.TargetHeaterCoolerState\n    global.set('TargetHeaterCoolerStateAC1',targetCoolerState);\n}\nelse\n{\n    //2 is Cooled\n    targetCoolerState = global.get('TargetHeaterCoolerStateAC1')\n    if(targetCoolerState === undefined)\n    {\n        global.set('TargetHeaterCoolerStateAC1',2);\n        targetCoolerState = 2;\n    }\n}\nif(targetCoolerState == 2)\n{\n    if(msg.payload.CoolingThresholdTemperature)\n    {\n        if(msg.payload.CoolingThresholdTemperature >=23.0)\n        {\n            //warm api\n           msg.url = baseURL+\"/harq/?value=004:017&appid=IFTTT\";\n        }\n        else\n        {\n            //cool api\n            msg.url = baseURL+\"/harq/?value=004:018&appid=IFTTT\";\n        }\n    }\n    else\n    {\n        msg.url = baseURL+\"/harq/?value=004:018&appid=IFTTT\";\n    }\n}\n//1 is Hot\nif(targetCoolerState == 1)\n{\n    msg.url = baseURL+\"/harq/?value=004:035&appid=IFTTT\";\n    // if(msg.payload.CoolingThresholdTemperature)\n    // {\n    //     if(msg.payload.CoolingThresholdTemperature >=23.0)\n    //     {\n    //         //warm api\n    //       msg.url = \"http://benchuk.no-ip.info/harq/?value=004:035&appid=IFTTT\";\n    //     }\n    //     else\n    //     {\n    //         //cool api\n    //         msg.url = \"http://benchuk.no-ip.info/harq/?value=004:035&appid=IFTTT\";\n    //     }\n    // }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":580,"wires":[["129869b4.0a8ae6","12477697.abcd29"]]},{"id":"129869b4.0a8ae6","type":"http request","z":"34d5fca5.9a9fd4","name":"AcApi","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":970,"y":580,"wires":[["4b8039ef.8f57c8"]]},{"id":"4b8039ef.8f57c8","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":580,"wires":[]},{"id":"12477697.abcd29","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":920,"y":700,"wires":[]},{"id":"3e428ccf.cd9c14","type":"inject","z":"34d5fca5.9a9fd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":560,"wires":[["d200cdfc.38428"]]},{"id":"d200cdfc.38428","type":"function","z":"34d5fca5.9a9fd4","name":"Set 19 Cooled","func":"\nvar data = {\n    \"CurrentTemperature\": 19,\n    \"CoolingThresholdTemperature\":19,\n    \"TargetHeaterCoolerState\":2,\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":560,"wires":[["d33e12a8.4864"]]},{"id":"fc329c7.f27a96","type":"function","z":"34d5fca5.9a9fd4","name":"Set Ac UI TEMP state when on (once)","func":"if(msg.payload.CurrentTemperature !== undefined)\n{\n    return null;\n}\n\nvar data = {\n    \"CurrentTemperature\": 19\n}\n\n\n    if(msg.payload.CoolingThresholdTemperature !== undefined)\n    {\n        if(msg.payload.CoolingThresholdTemperature >=23.0)\n        {\n            //warm api\n           data.CurrentTemperature = 24;\n        }\n        else\n        {\n           //cool api\n           data.CurrentTemperature = 19;\n        }\n    }\n\n\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":680,"wires":[["d33e12a8.4864","d78bbf76.f3047"]]},{"id":"ae36e6e8.3ca188","type":"function","z":"34d5fca5.9a9fd4","name":"LightsController1","func":"// let now = new Date().getTime()\n// var isLightsUpdate = global.get('lightsUpdate1');\n// console.log(\"lightsUpdate1: \" + isLightsUpdate);\n// if(isLightsUpdate!==undefined)\n// {\n//   if(now - isLightsUpdate < 500)\n//   {\n//       global.set('lightsUpdate1',0);\n//       console.log(\"skip 1\");\n//       return null;\n//   }\n// }\n\n//global.set('lightsUpdate3',new Date().getTime());\n\nvar baseURL = global.get('PI_URL');\nlet now = new Date().getTime()\nvar isLightsUpdate = global.get('lightsUpdate');\nconsole.log(\"lightsUpdate: \" + isLightsUpdate);\nif(isLightsUpdate!==undefined)\n{\n  if(now - isLightsUpdate < 100)\n  {\n      global.set('lightsUpdate',0);\n      console.log(\"skip \");\n      return null;\n  }\n}\n\nif(msg.payload.On)\n{\n    msg.url = baseURL+\"/harq/?value=007:002&appid=IFTTT\"\n\n}\nelse\n{\n    msg.url = baseURL+\"/harq/?value=007:003&appid=IFTTT\"\n}\n//msg.url = \"http://benchuk.no-ip.info/harq/?value=007:004&appid=IFTTT\"\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":140,"wires":[["6dad4d99.43f784"]]},{"id":"6dad4d99.43f784","type":"http request","z":"34d5fca5.9a9fd4","name":"LightsApi","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1880,"y":280,"wires":[["94b1e5ec.c993b8"]]},{"id":"6663c4a9.94ea5c","type":"function","z":"34d5fca5.9a9fd4","name":"LightsController2","func":"// let now = new Date().getTime()\n// var isLightsUpdate = global.get('lightsUpdate2');\n// console.log(\"lightsUpdate2: \" + isLightsUpdate);\n// if(isLightsUpdate!==undefined)\n// {\n//   if(now - isLightsUpdate < 500)\n//   {\n//       global.set('lightsUpdate2',0);\n//       console.log(\"skip 2\");\n//       return null;\n//   }\n// }\n\n//global.set('lightsUpdate2',new Date().getTime());\nvar baseURL = global.get('PI_URL');\nlet now = new Date().getTime()\nvar isLightsUpdate = global.get('lightsUpdate');\nconsole.log(\"lightsUpdate: \" + isLightsUpdate);\nif(isLightsUpdate!==undefined)\n{\n  if(now - isLightsUpdate < 100)\n  {\n      global.set('lightsUpdate',0);\n      console.log(\"skip \");\n      return null;\n  }\n}\n\nif(msg.payload.On)\n{\n    msg.url = baseURL+\"/harq/?value=007:005&appid=IFTTT\"\n\n}\nelse\n{\n    msg.url = baseURL+\"/harq/?value=007:006&appid=IFTTT\"\n}\n//msg.url = \"http://benchuk.no-ip.info/harq/?value=007:007&appid=IFTTT\"\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":200,"wires":[["6dad4d99.43f784"]]},{"id":"55d9f931.5a42a8","type":"function","z":"34d5fca5.9a9fd4","name":"LightsController3","func":"// let now = new Date().getTime()\n// var isLightsUpdate = global.get('lightsUpdate3');\n// console.log(\"lightsUpdate3: \" + isLightsUpdate);\n// if(isLightsUpdate!==undefined)\n// {\n//   if(now - isLightsUpdate < 500)\n//   {\n//       global.set('lightsUpdate3',0);\n//       console.log(\"skip 3\");\n//       return null;\n//   }\n// }\n\n//global.set('lightsUpdate3',new Date().getTime());\nvar baseURL = global.get('PI_URL');\nlet now = new Date().getTime()\nvar isLightsUpdate = global.get('lightsUpdate');\nconsole.log(\"lightsUpdate: \" + isLightsUpdate);\nif(isLightsUpdate!==undefined)\n{\n  if(now - isLightsUpdate < 100)\n  {\n      global.set('lightsUpdate',0);\n      console.log(\"skip \");\n      return null;\n  }\n}\n\nif(msg.payload.On)\n{\n    msg.url = baseURL+\"/harq/?value=007:011&appid=IFTTT\"\n\n}\nelse\n{\n    msg.url = baseURL+\"/harq/?value=007:012&appid=IFTTT\"\n}\n//msg.url = \"http://benchuk.no-ip.info/harq/?value=007:013&appid=IFTTT\"\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":260,"wires":[["6dad4d99.43f784"]]},{"id":"c0abf9ac.439e18","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":80,"wires":[]},{"id":"5a023c19.a48b64","type":"function","z":"34d5fca5.9a9fd4","name":"LightsController","func":"var baseURL = global.get('PI_URL');\nif(msg.payload.On)\n{\n    msg.url = baseURL+\"/all-lights-on?appid=IFTTT\"\n\n}\nelse\n{\n    msg.url = baseURL+\"/all-lights-off?appid=IFTTT\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1540,"y":380,"wires":[["6dad4d99.43f784"]]},{"id":"45cf9c16.89e924","type":"function","z":"34d5fca5.9a9fd4","name":"LightsController","func":"var baseURL = global.get('PI_URL');\nif(msg.payload.On)\n{\n    msg.url = baseURL+\"/harq/?value=005:002&appid=IFTTT\"\n\n}\nelse\n{\n    msg.url = baseURL+\"/harq/?value=005:005&appid=IFTTT\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1540,"y":440,"wires":[["6dad4d99.43f784"]]},{"id":"dee3e228.468dc","type":"function","z":"34d5fca5.9a9fd4","name":"ParentsFanController","func":"var baseURL = global.get('PI_URL');\n//Turn on if no active was sent\nif(msg.payload.RotationSpeed !== undefined)\n{\n    if(msg.payload.RotationSpeed <= 0)\n    {\n        //off\n        msg.url = baseURL +\"/harq/?value=005:004&appid=IFTTT\";\n    }\n    else if(msg.payload.RotationSpeed <30)\n    {\n        //low\n        msg.url = baseURL +\"/harq/?value=005:055&appid=IFTTT\";\n    }\n    else if(msg.payload.RotationSpeed >= 30 && msg.payload.RotationSpeed < 80)\n    {\n        //mid\n        msg.url = baseURL+\"/harq/?value=005:056&appid=IFTTT\";\n    }\n    else\n    {\n        //hi\n        msg.url = baseURL+\"/harq/?value=005:003&appid=IFTTT\";\n    }\n}\nif(msg.payload.Active == 1)\n{\n    msg.url = baseURL+\"/harq/?value=005:003&appid=IFTTT\";\n}\nif(msg.payload.Active == 0)\n{\n    msg.url = baseURL+\"/harq/?value=005:004&appid=IFTTT\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1820,"y":460,"wires":[["6dad4d99.43f784"]]},{"id":"c7f8e1ba.05e2d","type":"function","z":"34d5fca5.9a9fd4","name":"EnvLightController","func":"var baseURL = global.get('PI_URL');\nmsg.url = baseURL+\"?appid=IFTTT\";\nif(msg.payload.ColorTemperature !== undefined)\n{\n  \n    if(parseInt(msg.payload.ColorTemperature) <= 150)\n    {\n        //party\n        msg.url = baseURL+\"/harq/?value=004:024&appid=IFTTT\"\n    }\n    else if(parseInt(msg.payload.ColorTemperature) <= 300)\n    {\n        //Purple\n        msg.url = baseURL+\"/harq/?value=004:027&appid=IFTTT\"\n    }\n    else\n    {\n        //party\n        msg.url = baseURL+\"/harq/?value=004:028&appid=IFTTT\";\n    }\n}\nif(msg.payload.On !== undefined)\n{\n    if(msg.payload.On)\n    {\n        msg.url = baseURL+\"/harq/?value=004:026&appid=IFTTT\"\n    \n    }\n    else\n    {\n        msg.url = baseURL+\"/harq/?value=004:025&appid=IFTTT\"\n    }\n}\nif(msg.payload.Brightness !== undefined)\n{\n    if(msg.payload.Brightness > 0)\n    {\n        msg.url = baseURL+\"/harq/?value=004:026&appid=IFTTT\"\n    \n    }\n    else\n    {\n        msg.url = baseURL+\"/harq/?value=004:025&appid=IFTTT\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":580,"wires":[["6dad4d99.43f784"]]},{"id":"9fcc49a2.053148","type":"function","z":"34d5fca5.9a9fd4","name":"TVSalonController","func":"\n//check if the source of the event is from the TV\n//if so then ignore this event so we do not have a loop\n//button UI state was updated on input script side.\nvar baseURL = global.get('PI_URL');\nconsole.log(\"[out]: process TV output\");\nlet now = new Date().getTime()\nvar isSourceUpdate = global.get('TV1');\n//console.log(\"TV1 isSourceUpdate: \" + isSourceUpdate);\nif(isSourceUpdate!==undefined)\n{\n  if(now - isSourceUpdate < 100)\n  {\n      global.set('TV1',0);\n      console.log(\"[out]: skip [TV1] event from device\");\n      return null;\n  }\n}\n//if we are here then the homekit has initiated this request \n//so button ui state is ok and we need to ignore the device update in future 3-6 sec\nconsole.log(\"[out]: send toogle to TV1 via http\");\n\nglobal.set('TV1SkipOnceFor3Sec',new Date().getTime());\n\nmsg.url = baseURL+\"/harq/?value=004:003&appid=IFTTT\"\nreturn msg;","outputs":1,"noerr":0,"x":1690,"y":740,"wires":[["e8d68349.c343c"]]},{"id":"a8cf22ce.405ca","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":880,"wires":[]},{"id":"ce45957b.f618f8","type":"function","z":"34d5fca5.9a9fd4","name":"HueDefaultColorWhenOn","func":"var baseURL = global.get('PI_URL');\nmsg.url = baseURL+\"?appid=IFTTT\";\nif(msg.payload.On && msg.payload.ColorTemperature === undefined)\n{\n    msg.url = baseURL+\"/harq/?value=004:024&appid=IFTTT\"\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":1730,"y":640,"wires":[["6dad4d99.43f784"]]},{"id":"543471e4.d06e4","type":"delay","z":"34d5fca5.9a9fd4","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1510,"y":640,"wires":[["ce45957b.f618f8"]]},{"id":"46d1f70a.6a6748","type":"inject","z":"34d5fca5.9a9fd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1200,"y":800,"wires":[["efb1bd26.053ef"]]},{"id":"efb1bd26.053ef","type":"function","z":"34d5fca5.9a9fd4","name":"TvTests","func":"var isOn = global.get('AC1')\nif(isOn === undefined)\n{\n    global.set('AC1',false);\n}\n\nisOn = !isOn\nglobal.set('AC1',isOn);\nvar on = isOn ? 1 : 0\nvar OutletInUse = isOn ? true :false\nvar data = {\n    \"CurrentHeaterCoolerState\": on\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":800,"wires":[["8000d3ff.c7797"]]},{"id":"1dbe347.80e23cc","type":"inject","z":"34d5fca5.9a9fd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":40,"wires":[["89d3e3e.186ca2"]]},{"id":"89d3e3e.186ca2","type":"function","z":"34d5fca5.9a9fd4","name":"Toggle On/Off Light1","func":"var isOn = global.get('light1_1')\nif(isOn === undefined)\n{\n    global.set('light1_1',false);\n}\n\nisOn = !isOn\nglobal.set('light1_1',isOn);\nvar on = isOn ? 1 : 0\nvar OutletInUse = isOn ? true :false\nvar data = {\n    \"On\": isOn\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":40,"wires":[["a1470617.10aaf8","74063565.e96d8c","de997589.8c2218"]]},{"id":"ce7c13dd.884ca","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1550,"y":520,"wires":[]},{"id":"2df8ee6e.7e7512","type":"inject","z":"34d5fca5.9a9fd4","name":"Check CPU TEMP (3 min)","topic":"","payload":"","payloadType":"date","repeat":"180","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":820,"wires":[[]]},{"id":"13e6b354.37310d","type":"exec","z":"34d5fca5.9a9fd4","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"Measure CPU Temp","x":420,"y":900,"wires":[["c44565f4.f20a18"],[],[]]},{"id":"c44565f4.f20a18","type":"function","z":"34d5fca5.9a9fd4","name":"cpu temp processor","func":"console.log(\"parse CPU Temp output\")\nstr=msg.payload;\nmsg.payload={\n    CurrentTemperature: parseFloat(str.substring(5,11))\n}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":860,"wires":[["f6b2664.ecf0198","443db6a0.7d9aa8"]]},{"id":"d9992582.fda728","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":900,"wires":[]},{"id":"c7e5d385.ce4b9","type":"inject","z":"34d5fca5.9a9fd4","name":"Check CPU load (3 min)","topic":"","payload":"","payloadType":"date","repeat":"180","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":980,"wires":[[]]},{"id":"9376c543.31f578","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":1060,"wires":[]},{"id":"e3245d0b.63019","type":"exec","z":"34d5fca5.9a9fd4","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Cpu Load","x":380,"y":980,"wires":[["5a811998.c55ee8"],[],[]]},{"id":"5a811998.c55ee8","type":"function","z":"34d5fca5.9a9fd4","name":"cpu load processor","func":"console.log(\"parse CPU load output\")\nmsg.payload={\n    CurrentRelativeHumidity: parseInt(msg.payload)\n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1000,"wires":[["28713d4e.d84332","ed3bcee5.cccca"]]},{"id":"5dfe72bc.6c04cc","type":"function","z":"34d5fca5.9a9fd4","name":"cpu temp processor","func":"str=msg.payload;\nmsg.payload={\n    \"homekit:HeatingCoolingMode\": \"FooBar test string\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1140,"wires":[[]]},{"id":"aeadca7e.5e1d18","type":"inject","z":"34d5fca5.9a9fd4","name":"Disabled","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":1140,"wires":[["5dfe72bc.6c04cc"]]},{"id":"e8d68349.c343c","type":"http request","z":"34d5fca5.9a9fd4","name":"TVSalonAPI","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1870,"y":820,"wires":[[]]},{"id":"d33e12a8.4864","type":"homekit-service","z":"34d5fca5.9a9fd4","isParent":true,"bridge":"f2f7ad2a.efffc","parentService":"","name":"AC","serviceName":"HeaterCooler","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{\n    \"CurrentTemperature\": 19,\n    \"CoolingThresholdTemperature\":19,\n    \"TargetHeaterCoolerState\":2,\n    \"Active\":false\n}","x":490,"y":540,"wires":[["8e72436f.41427","fc329c7.f27a96","ae75622a.151ff","180c998f.45c916","62243d72.4ad454"],[]]},{"id":"30864e29.9a7a32","type":"function","z":"34d5fca5.9a9fd4","name":"Debug Chars","func":"var data = {\n    \"foo\":\"bar\"\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":600,"wires":[["d33e12a8.4864"]]},{"id":"4251357a.14cf8c","type":"inject","z":"34d5fca5.9a9fd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":620,"wires":[["30864e29.9a7a32"]]},{"id":"180c998f.45c916","type":"function","z":"34d5fca5.9a9fd4","name":"Change AC Heat/Cold mode","func":"var baseURL = global.get('PI_URL');\nif(msg.payload.TargetHeaterCoolerState === undefined)\n{\n    return null;\n}\n    var targetCoolerState = msg.payload.TargetHeaterCoolerState;\n    global.set('TargetHeaterCoolerStateAC1',targetCoolerState);\n    if(targetCoolerState == 2)//cooler\n    {\n        msg.url= baseURL+\"/harq/?value=004:029&appid=IFTTT\";\n    }\n    else if(targetCoolerState == 1)\n    {\n        msg.url= baseURL+\"/harq/?value=004:035&appid=IFTTT\";\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":520,"wires":[["129869b4.0a8ae6","3740b016.c24b3"]]},{"id":"62243d72.4ad454","type":"function","z":"34d5fca5.9a9fd4","name":"AC On/OFF Controller","func":"var baseURL = global.get('PI_URL');\nif(msg.payload.Active === undefined)\n{\n    return null;\n}\n\n    if(msg.payload.Active == 1)\n    {\n       //ac on\n       msg.url = baseURL+\"/harq/?value=004:029&appid=IFTTT\";\n    }\n    else\n    {\n        //ac off\n        msg.url = baseURL+\"/harq/?value=004:030&appid=IFTTT\";\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":640,"wires":[["129869b4.0a8ae6","c0ef318b.87eb"]]},{"id":"c0ef318b.87eb","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":900,"y":740,"wires":[]},{"id":"3740b016.c24b3","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":980,"y":480,"wires":[]},{"id":"d78bbf76.f3047","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":740,"wires":[]},{"id":"5d594c9e.3da4f4","type":"homekit-service","z":"34d5fca5.9a9fd4","isParent":true,"bridge":"c0a06c41.dcf8c","parentService":"","name":"AllLights","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":1340,"y":380,"wires":[["5a023c19.a48b64"],[]]},{"id":"2a2d2088.0d1ce","type":"homekit-service","z":"34d5fca5.9a9fd4","isParent":true,"bridge":"cedb0fcf.09528","parentService":"","name":"LightParents","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":1350,"y":440,"wires":[["45cf9c16.89e924"],[]]},{"id":"5baa7f17.e30d6","type":"homekit-service","z":"34d5fca5.9a9fd4","isParent":true,"bridge":"6e45e3.e6ec7a1c","parentService":"","name":"ParentsFan","serviceName":"Fanv2","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{\"RotationSpeed\":true}","x":1350,"y":500,"wires":[["dee3e228.468dc","ce7c13dd.884ca"],[]]},{"id":"8000d3ff.c7797","type":"homekit-service","z":"34d5fca5.9a9fd4","isParent":true,"bridge":"2c0ff9d7.081566","parentService":"","name":"TVSalon","serviceName":"Television","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{\n \"RemoteKey\" : true\n}","x":1540,"y":820,"wires":[["a8cf22ce.405ca","9fcc49a2.053148"],[]]},{"id":"a1470617.10aaf8","type":"homekit-service","z":"34d5fca5.9a9fd4","isParent":true,"bridge":"18bf1e78.332522","parentService":"","name":"Light1","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":930,"y":140,"wires":[["ae36e6e8.3ca188","c0abf9ac.439e18"],[]]},{"id":"74063565.e96d8c","type":"homekit-service","z":"34d5fca5.9a9fd4","isParent":true,"bridge":"6a0ec4dc.9330fc","parentService":"","name":"Light2","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":930,"y":200,"wires":[["6663c4a9.94ea5c","c0abf9ac.439e18"],[]]},{"id":"de997589.8c2218","type":"homekit-service","z":"34d5fca5.9a9fd4","isParent":true,"bridge":"877bbb9a.321218","parentService":"","name":"Light3","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":930,"y":260,"wires":[["55d9f931.5a42a8","c0abf9ac.439e18"],[]]},{"id":"f6b2664.ecf0198","type":"homekit-service","z":"34d5fca5.9a9fd4","isParent":true,"bridge":"f4e90c03.2539a","parentService":"","name":"CPU TEMP","serviceName":"TemperatureSensor","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":670,"y":920,"wires":[["d9992582.fda728"],[]]},{"id":"28713d4e.d84332","type":"homekit-service","z":"34d5fca5.9a9fd4","isParent":true,"bridge":"575997cd.939598","parentService":"","name":"CPU LOAD","serviceName":"HumiditySensor","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":630,"y":1080,"wires":[["9376c543.31f578"],[]]},{"id":"1bf59583.34b17a","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1400,"y":700,"wires":[]},{"id":"75f1c767.6a8158","type":"homekit-service","z":"34d5fca5.9a9fd4","isParent":true,"bridge":"6e80f005.526e1","parentService":"","name":"EnvHue","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{\n    \"Hue\":true,\n    \"ColorTemperature\":true,\n    \"Brightness\":true,\n    \"On\":true\n}","x":1300,"y":620,"wires":[["c7f8e1ba.05e2d","1bf59583.34b17a","543471e4.d06e4"],[]]},{"id":"3e4ea60e.1406fa","type":"http in","z":"34d5fca5.9a9fd4","name":"Stations state from node endpoint","url":"/status","method":"get","upload":false,"swaggerDoc":"","x":160,"y":160,"wires":[["16de4fed.4f6d","305c4d0.0340eb4","47d8ef4.889771","80ce5fad.bdd46","3f675695.c3756a","1e721b3f.a296f5","5aec8dfe.b647b4"]]},{"id":"16de4fed.4f6d","type":"template","z":"34d5fca5.9a9fd4","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>status accepted</h1>\n    </body>\n</html>","x":450,"y":120,"wires":[["21481014.90936"]]},{"id":"21481014.90936","type":"http response","z":"34d5fca5.9a9fd4","name":"","statusCode":"200","headers":{},"x":580,"y":120,"wires":[]},{"id":"88017029.b83b7","type":"function","z":"34d5fca5.9a9fd4","name":"","func":"var payload = {\"MotionDetected\":true}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":70,"y":20,"wires":[["73adf048.cea6f"]]},{"id":"6465e7c.f615218","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":20,"wires":[]},{"id":"73adf048.cea6f","type":"homekit-service","z":"34d5fca5.9a9fd4","isParent":true,"bridge":"dea59b2f.f656b8","parentService":"","name":"alert2","serviceName":"MotionSensor","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":210,"y":40,"wires":[["6465e7c.f615218"],[]]},{"id":"305c4d0.0340eb4","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":110,"y":220,"wires":[]},{"id":"adce67a9.37a828","type":"inject","z":"34d5fca5.9a9fd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1440,"wires":[["7310192e.bb1708"]]},{"id":"49c91f06.167f2","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":1420,"wires":[]},{"id":"7310192e.bb1708","type":"function","z":"34d5fca5.9a9fd4","name":"Toggle On/Off","func":"var isOn = global.get('AC1')\nif(isOn === undefined)\n{\n    global.set('AC1',false);\n}\n\nisOn = !isOn\nglobal.set('AC1',isOn);\nvar on = isOn ? 1 : 0\nvar OutletInUse = isOn ? true :false\nvar data = {\n    \"CurrentHeaterCoolerState\": on\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1440,"wires":[["2930b8db.e8e468"]]},{"id":"bee0b908.b463e8","type":"function","z":"34d5fca5.9a9fd4","name":"Set 24 Warm","func":"\nvar data = {\n    \"CurrentTemperature\": 24,\n    \"CoolingThresholdTemperature\":24,\n    \"TargetHeaterCoolerState\":2,\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1500,"wires":[["2930b8db.e8e468"]]},{"id":"f5e61c70.37cee","type":"inject","z":"34d5fca5.9a9fd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1500,"wires":[["bee0b908.b463e8"]]},{"id":"4abaca04.2ddab4","type":"function","z":"34d5fca5.9a9fd4","name":"AC Temp Change Controller","func":"var baseURL = global.get('PI_URL');\nif(msg.payload.CoolingThresholdTemperature === undefined)\n{\n    return null;\n}\nvar targetCoolerState = 2;\nif(msg.payload.TargetHeaterCoolerState !== undefined)\n{\n    targetCoolerState = msg.payload.TargetHeaterCoolerState\n    global.set('TargetHeaterCoolerStateAC2',targetCoolerState);\n}\nelse\n{\n    //2 is Cooled\n    targetCoolerState = global.get('TargetHeaterCoolerStateAC2')\n    if(targetCoolerState === undefined)\n    {\n        global.set('TargetHeaterCoolerStateAC2',2);\n        targetCoolerState = 2;\n    }\n}\nif(targetCoolerState == 2)\n{\n    if(msg.payload.CoolingThresholdTemperature)\n    {\n        if(msg.payload.CoolingThresholdTemperature >=23.0)\n        {\n            //warm api\n           msg.url = baseURL+\"/harq/?value=005:025&appid=IFTTT\";\n        }\n        else\n        {\n            //cool api\n            msg.url = baseURL+\"/harq/?value=005:024&appid=IFTTT\";\n        }\n    }\n    else\n    {\n        msg.url = baseURL+\"/harq/?value=005:024&appid=IFTTT\";\n    }\n}\n//1 is Hot\nif(targetCoolerState == 1)\n{\n    msg.url = baseURL+\"/harq/?value=004:035&appid=IFTTT\";\n    // if(msg.payload.CoolingThresholdTemperature)\n    // {\n    //     if(msg.payload.CoolingThresholdTemperature >=23.0)\n    //     {\n    //         //warm api\n    //       msg.url = \"http://benchuk.no-ip.info/harq/?value=004:035&appid=IFTTT\";\n    //     }\n    //     else\n    //     {\n    //         //cool api\n    //         msg.url = \"http://benchuk.no-ip.info/harq/?value=004:035&appid=IFTTT\";\n    //     }\n    // }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":1580,"wires":[["2d003325.8c759c","635af492.2bca7c"]]},{"id":"2d003325.8c759c","type":"http request","z":"34d5fca5.9a9fd4","name":"AcApi","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":990,"y":1580,"wires":[["69d40c3.48771f4"]]},{"id":"69d40c3.48771f4","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":1580,"wires":[]},{"id":"635af492.2bca7c","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":940,"y":1700,"wires":[]},{"id":"27edea85.2cea66","type":"inject","z":"34d5fca5.9a9fd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1560,"wires":[["728fae6c.fe94a"]]},{"id":"728fae6c.fe94a","type":"function","z":"34d5fca5.9a9fd4","name":"Set 19 Cooled","func":"\nvar data = {\n    \"CurrentTemperature\": 19,\n    \"CoolingThresholdTemperature\":19,\n    \"TargetHeaterCoolerState\":2,\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1560,"wires":[["2930b8db.e8e468"]]},{"id":"24fc34e4.17b90c","type":"function","z":"34d5fca5.9a9fd4","name":"Set Ac UI TEMP state when on (once)","func":"console.log(\"Set Ac UI TEMP state when on (once)\")\nif(msg.payload.CurrentTemperature !== undefined)\n{\n    return null;\n}\n\nvar data = {\n    \"CurrentTemperature\": 19\n}\n\n\n    if(msg.payload.CoolingThresholdTemperature !== undefined)\n    {\n        if(msg.payload.CoolingThresholdTemperature >=23.0)\n        {\n            //warm api\n           data.CurrentTemperature = 24;\n           //data.CoolingThresholdTemperature = 24\n        }\n        else\n        {\n           //cool api\n           data.CurrentTemperature = 19;\n           //data.CoolingThresholdTemperature = 19\n        }\n    }\n\n\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1700,"wires":[["ebf32279.8cb85","2930b8db.e8e468"]]},{"id":"c0110b21.61fea8","type":"function","z":"34d5fca5.9a9fd4","name":"Debug Chars","func":"var data = {\n    \"foo\":\"bar\"\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1600,"wires":[["2930b8db.e8e468"]]},{"id":"d4d29ec1.aaeca","type":"inject","z":"34d5fca5.9a9fd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1600,"wires":[["c0110b21.61fea8"]]},{"id":"8aa1f93d.3a2b18","type":"function","z":"34d5fca5.9a9fd4","name":"Change AC Heat/Cold mode","func":"var baseURL = global.get('PI_URL');\nif(msg.payload.TargetHeaterCoolerState === undefined)\n{\n    return null;\n}\n    var targetCoolerState = msg.payload.TargetHeaterCoolerState;\n    global.set('TargetHeaterCoolerStateAC1',targetCoolerState);\n    if(targetCoolerState == 2)//cooler\n    {\n        msg.url=baseURL+\"/harq/?value=004:029&appid=IFTTT\";\n    }\n    else if(targetCoolerState == 1)\n    {\n        msg.url=baseURL+\"/harq/?value=004:035&appid=IFTTT\";\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":1520,"wires":[["2d003325.8c759c","af4ab254.5d08b"]]},{"id":"fd497746.7735c8","type":"function","z":"34d5fca5.9a9fd4","name":"AC On/OFF Controller","func":"var baseURL = global.get('PI_URL');\nif(msg.payload.Active === undefined)\n{\n    return null;\n}\n\n    if(msg.payload.Active == 1)\n    {\n       //ac on\n       msg.url = baseURL + \"/harq/?value=005:022&appid=IFTTT\";\n    }\n    else\n    {\n        //ac off\n        msg.url = baseURL + \"/harq/?value=005:023&appid=IFTTT\";\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":1640,"wires":[["2d003325.8c759c","7805ae20.6231a"]]},{"id":"7805ae20.6231a","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":920,"y":1740,"wires":[]},{"id":"af4ab254.5d08b","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":1000,"y":1480,"wires":[]},{"id":"ebf32279.8cb85","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":1740,"wires":[]},{"id":"2930b8db.e8e468","type":"homekit-service","z":"34d5fca5.9a9fd4","isParent":true,"bridge":"dba43603.4220d8","parentService":"","name":"ACParents","serviceName":"HeaterCooler","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{\n    \"CurrentTemperature\": 19,\n    \"CoolingThresholdTemperature\":19,\n    \"TargetHeaterCoolerState\":2,\n    \"Active\":false\n}","x":510,"y":1560,"wires":[["24fc34e4.17b90c","4abaca04.2ddab4","fd497746.7735c8","8aa1f93d.3a2b18","49c91f06.167f2"],[]]},{"id":"a2c88d6e.419b8","type":"function","z":"34d5fca5.9a9fd4","name":"TVParentsController","func":"var baseURL = global.get('PI_URL');\n\n\nlet now = new Date().getTime()\nvar isSourceUpdate = global.get('TV2');\nconsole.log(\"TV2 isSourceUpdate: \" + isSourceUpdate);\nif(isSourceUpdate!==undefined)\n{\n  if(now - isSourceUpdate < 100)\n  {\n      global.set('TV2',0);\n      console.log(\"skip [TV2 event from source]\");\n      return null;\n  }\n}\n\nglobal.set('TV2SkipOnceFor6Sec',new Date().getTime());\n\nmsg.url = baseURL+\"/harq/?value=005:008&appid=IFTTT\"\nreturn msg;","outputs":1,"noerr":0,"x":1720,"y":1000,"wires":[["a74786ca.0bc8a8"]]},{"id":"2c7e8c8b.ac8db4","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1710,"y":1160,"wires":[]},{"id":"e935cecf.1ddb2","type":"inject","z":"34d5fca5.9a9fd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1240,"y":1080,"wires":[["2aaba1e0.96565e"]]},{"id":"2aaba1e0.96565e","type":"function","z":"34d5fca5.9a9fd4","name":"TvTests","func":"var isOn = global.get('AC1')\nif(isOn === undefined)\n{\n    global.set('AC1',false);\n}\n\nisOn = !isOn\nglobal.set('AC1',isOn);\nvar on = isOn ? 1 : 0\nvar OutletInUse = isOn ? true :false\nvar data = {\n    \"CurrentHeaterCoolerState\": on\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":1080,"wires":[["81c08dc3.510e6"]]},{"id":"a74786ca.0bc8a8","type":"http request","z":"34d5fca5.9a9fd4","name":"TVParentsAPI","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1920,"y":1100,"wires":[[]]},{"id":"81c08dc3.510e6","type":"homekit-service","z":"34d5fca5.9a9fd4","isParent":true,"bridge":"cea68c90.82b53","parentService":"","name":"TVParents","serviceName":"Television","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{\n \"RemoteKey\" : true\n}","x":1570,"y":1100,"wires":[["a2c88d6e.419b8","2c7e8c8b.ac8db4"],[]]},{"id":"fe29fdb4.fbfad","type":"function","z":"34d5fca5.9a9fd4","name":"EnvLightController","func":"var baseURL = global.get('PI_URL');\nconsole.log(baseURL);\nmsg.url = baseURL + \"?appid=IFTTT\";\nif(msg.payload.ColorTemperature !== undefined)\n{\n  \n    msg.url = baseURL + \"/harq/?value=004:034&appid=IFTTT\";\n   \n}\nif(msg.payload.On !== undefined)\n{\n    if(msg.payload.On)\n    {\n        //msg.url = \"http://benchuk.no-ip.info/harq/?value=004:033&appid=IFTTT\";\n        msg.url = baseURL+\"/harq/?value=004:034&appid=IFTTT\";\n    }\n    else\n    {\n        msg.url = baseURL+\"/harq/?value=004:032&appid=IFTTT\";\n    }\n}\nif(msg.payload.Brightness !== undefined)\n{\n    if(msg.payload.Brightness > 0)\n    {\n        msg.url = baseURL+\"/harq/?value=004:034&appid=IFTTT\";\n    \n    }\n    else\n    {\n        msg.url = baseURL+\"/harq/?value=004:032&appid=IFTTT\";\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":60,"wires":[["6dad4d99.43f784"]]},{"id":"7ba8cc49.9825c4","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1610,"y":140,"wires":[]},{"id":"d881fd19.062ef","type":"homekit-service","z":"34d5fca5.9a9fd4","isParent":true,"bridge":"4263e86d.2c1ba8","parentService":"","name":"Hue2","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{\n    \"Hue\":true,\n    \"ColorTemperature\":true,\n    \"Brightness\":true,\n    \"On\":true\n}","x":1490,"y":60,"wires":[["fe29fdb4.fbfad","7ba8cc49.9825c4"],[]]},{"id":"47d8ef4.889771","type":"function","z":"34d5fca5.9a9fd4","name":"parse lights state","func":"console.log(\"parse lights state\")\nif(msg.req.query !== undefined)\n{\n    var addr = parseInt(msg.req.query.address);\n    \n    if (addr != 7)\n    {\n       return [null,null,null,null];\n    }\n    \n    console.log(\"parse light state\",msg.req.query)\n    \n    console.log(\"parse light state: for address: \" + addr);\n    \n    var dataOn = {\n        \"On\": true\n    };\n    var dataOff = {\n        \"On\": false\n    };\n    var msg1 = {};//JSON.parse(JSON.stringify(msg))\n    var msg2 = {};//JSON.parse(JSON.stringify(msg))\n    var msg3 = {}//JSON.parse(JSON.stringify(msg))\n    var msg4 = {}//JSON.parse(JSON.stringify(msg))\n    \n  \n    var base2 = (parseInt(msg.req.query.state)).toString(2);\n    base2 = base2+\"\"\n    console.log(base2);\n    if(base2.length ===3)\n    {\n        base2 = \"0\"+base2;\n    }\n    if(base2.length ===2)\n    {\n        base2 = \"00\"+base2;\n    }\n    if(base2.length ===1)\n    {\n        base2 = \"000\"+base2;\n    }\n    \n    var s1 = parseInt(base2[3]);\n    console.log(\"parse light state: s1: \" + s1);\n    var s2 = parseInt(base2[2]);\n    console.log(\"parse light state: s2: \" + s2);\n    var s3 = parseInt(base2[1]);\n    console.log(\"parse light state: s3: \" + s3);\n    var s4 = parseInt(base2[0]);\n    console.log(\"parse light state: s4: \" + s4);\n \n    msg1.payload = (s1 > 0) ? dataOff : dataOn;\n    msg2.payload = (s2 > 0) ? dataOff : dataOn;\n    msg3.payload = (s3 > 0) ? dataOff : dataOn;\n    msg4.payload = (s4 > 0) ? dataOff : dataOn;\n \n    //global.set('lightsUpdate1',new Date().getTime());\n    //global.set('lightsUpdate2',new Date().getTime());\n    //global.set('lightsUpdate3',new Date().getTime());\n    global.set('lightsUpdate',new Date().getTime());\n    //item 0 switch 1\n    //item 1 switch 2\n    //item 2 switch 3\n\n    return [msg1,msg2,msg3,msg4];\n}","outputs":4,"noerr":0,"x":650,"y":220,"wires":[["e83dd507.886218","a1470617.10aaf8"],["b9703dfb.095a4","74063565.e96d8c"],[],["d2f592f5.c7d7c","de997589.8c2218"]]},{"id":"b9703dfb.095a4","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":320,"wires":[]},{"id":"d2f592f5.c7d7c","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":380,"wires":[]},{"id":"e83dd507.886218","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":100,"wires":[]},{"id":"80ce5fad.bdd46","type":"function","z":"34d5fca5.9a9fd4","name":"parse temp and Humidity sensor","func":"if(msg.req.query !== undefined)\n{\n    if (parseInt(msg.req.query.address)!== 101)\n    {\n        return;\n    }\n\n    var type = parseInt(msg.req.query.type);\n    \n    if(type == 3)//temperature\n    {\n        console.log(\"parse temp and Humidity sensor:\", msg.req.query)\n        msg.payload = {\"CurrentTemperature\":parseInt(msg.req.query.state)}\n        return [msg,null];\n    }\n    else if(type==4)//humidity\n    {\n        msg.payload = {\"CurrentRelativeHumidity\":parseInt(msg.req.query.state)}\n        return [null,msg];\n    }\n}\nreturn [null,null];","outputs":2,"noerr":0,"x":200,"y":280,"wires":[["a1fbf1ec.55ff2","d3320baa.2cf548","d33e12a8.4864","2930b8db.e8e468","bf7f0931.9fa438"],["87b34afc.dae3b8","d1b544e4.66f5b8"]]},{"id":"a1fbf1ec.55ff2","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":190,"y":380,"wires":[]},{"id":"87b34afc.dae3b8","type":"homekit-service","z":"34d5fca5.9a9fd4","isParent":false,"bridge":"c8756984.ec3318","parentService":"d3320baa.2cf548","name":"DHT11_HUM","serviceName":"HumiditySensor","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":430,"y":360,"wires":[[],[]]},{"id":"d3320baa.2cf548","type":"homekit-service","z":"34d5fca5.9a9fd4","isParent":true,"bridge":"1105684e.37c748","parentService":"","name":"DHT11_TEMP","serviceName":"TemperatureSensor","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":440,"y":220,"wires":[[],[]]},{"id":"3f675695.c3756a","type":"function","z":"34d5fca5.9a9fd4","name":"parse Motion sensor","func":"if(msg.req.query !== undefined)\n{\n    if (parseInt(msg.req.query.address)!== 102)\n    {\n        return;\n    }\n\n    var type = parseInt(msg.req.query.type);\n    \n    if(type == 5)//PIR Motion\n    {\n        var motionDetected = parseInt(msg.req.query.state) == 1 ? true:false; \n        msg.payload = {\"MotionDetected\":motionDetected};\n        return msg;\n    }\n    return null;\n}","outputs":1,"noerr":0,"x":160,"y":120,"wires":[["73adf048.cea6f","dd51c36c.9f827"]]},{"id":"dd51c36c.9f827","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":60,"wires":[]},{"id":"1e721b3f.a296f5","type":"function","z":"34d5fca5.9a9fd4","name":"parse Tv Power Sensor","func":"\n\n\nif(msg.req.query !== undefined)\n{\n    if (parseInt(msg.req.query.address)!== 104)\n    {\n        return;\n    }\n\n    console.log(\"parse Tv Power Sensor: [in]: process TV input\");    \n    // //check if the command was initiated by the homekit remote\n    // //if so skip as the state is already ok\n    // let now = new Date().getTime()\n    // var isSourceUpdate = global.get('TV1SkipOnceFor3Sec');\n    // //console.log(\"TV1SkipOnceFor3Sec isSourceUpdate: \" + isSourceUpdate);\n    // if(isSourceUpdate!==undefined)\n    // {\n    //   if(now - isSourceUpdate < 6000)\n    //   {\n    //       global.set('TV1SkipOnceFor3Sec',0);\n    //       console.log(\"[in]: skip [TV1SkipOnceFor3Sec] event from homekit\");\n    //       return null;\n    //   }\n    // }\n    //if we are here the state update is coming from the Tv so we need to update the state\n    //and ignore the update on the output so we will not have a loop\n\n    var type = parseInt(msg.req.query.type);\n    \n    if(type == 6)//TV Power Sensor\n    {\n        console.log(\"parse Tv Power Sensor:  [in]: update button state from device with state: \" + parseInt(msg.req.query.state));\n        global.set('TV1',new Date().getTime());\n        msg.payload = {\"Active\":parseInt(msg.req.query.state)}\n        return msg;\n    }\n    \n    console.log(\"parse Tv Power Sensor:  [in]: error 2\");\n}\nconsole.log(\"[in]: error 1\");\nreturn null;","outputs":1,"noerr":0,"x":1270,"y":940,"wires":[["8000d3ff.c7797"]]},{"id":"5aec8dfe.b647b4","type":"function","z":"34d5fca5.9a9fd4","name":"parse Tv2 Power Sensor","func":"if(msg.req.query !== undefined)\n{\n    if (parseInt(msg.req.query.address)!== 106)\n    {\n        return;\n    }\n    \n    console.log(\"parse Tv2 Power Sensor: [in]: process TV2 input\",msg.req.query);   \n    \n    console.log(\"parse Tv2 Power Sensor: [in]: process TV2 input\");   \n    // let now = new Date().getTime()\n    // var isSourceUpdate = global.get('TV2SkipOnceFor6Sec');\n    // console.log(\"TV2SkipOnceFor6Sec isSourceUpdate: \" + isSourceUpdate);\n    // if(isSourceUpdate!==undefined)\n    // {\n    //   if(now - isSourceUpdate < 6000)\n    //   {\n    //       global.set('TV2SkipOnceFor6Sec',0);\n    //       console.log(\"skip [TV2SkipOnceFor6Sec] event from homekit\");\n    //       return null;\n    //   }\n    // }\n\n    var type = parseInt(msg.req.query.type);\n    \n    if(type == 6)//TV Power Sensor\n    {\n        console.log(\"parse Tv Power Sensor:  [in]: update button state from device with state: \" + parseInt(msg.req.query.state));\n        global.set('TV2',new Date().getTime());\n        msg.payload = {\"Active\":parseInt(msg.req.query.state)}\n        return msg;\n    }\n    \n    console.log(\"parse Tv2 Power Sensor: ERROR!!! [in]: process TV2 input\",msg.req.query);   \n    \n}\nreturn null;","outputs":1,"noerr":0,"x":1330,"y":1140,"wires":[["81c08dc3.510e6"]]},{"id":"b427ebf4.32f468","type":"inject","z":"34d5fca5.9a9fd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1890,"y":20,"wires":[["c7be5cc.1d773a"]]},{"id":"41b45c1b.7db234","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2300,"y":20,"wires":[]},{"id":"2cb6e59c.80a93a","type":"inject","z":"34d5fca5.9a9fd4","name":"","topic":"","payload":"{\"On\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1530,"y":20,"wires":[["fe29fdb4.fbfad"]]},{"id":"c7be5cc.1d773a","type":"function","z":"34d5fca5.9a9fd4","name":"","func":"global.set('PI_URL','http://10.100.102.14:3001');\nreturn msg;","outputs":1,"noerr":0,"x":2080,"y":20,"wires":[["41b45c1b.7db234"]]},{"id":"e39282d6.8d9c9","type":"ui_chart","z":"34d5fca5.9a9fd4","name":"","group":"d75552fe.85771","order":0,"width":0,"height":0,"label":"PI CPU Load","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":980,"wires":[[]]},{"id":"ed3bcee5.cccca","type":"function","z":"34d5fca5.9a9fd4","name":"","func":"console.log(\"Graph: cpu load processor\",msg)\nmsg.payload = msg.payload.CurrentRelativeHumidity\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":980,"wires":[["e39282d6.8d9c9"]]},{"id":"bc2a7ad8.74c418","type":"ui_chart","z":"34d5fca5.9a9fd4","name":"","group":"d75552fe.85771","order":0,"width":0,"height":0,"label":"PI CPU Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":940,"y":820,"wires":[[]]},{"id":"443db6a0.7d9aa8","type":"function","z":"34d5fca5.9a9fd4","name":"","func":"console.log(\"Graph: cpu temp processor\",msg)\nmsg.payload = msg.payload.CurrentTemperature\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":800,"wires":[["bc2a7ad8.74c418"]]},{"id":"bf7f0931.9fa438","type":"function","z":"34d5fca5.9a9fd4","name":"Graph parsh temp and Humidity sensor","func":"console.log(\"Graph: temp and Humidity sensor: Temp\",msg)\nif(msg.payload.CurrentTemperature!==null)\n{\n    msg.payload = msg.payload.CurrentTemperature;\n    return msg\n}\n\nreturn msg","outputs":1,"noerr":0,"x":520,"y":280,"wires":[["2ca3cc15.2f4ea4"]]},{"id":"2ca3cc15.2f4ea4","type":"ui_chart","z":"34d5fca5.9a9fd4","name":"","group":"d75552fe.85771","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":630,"y":340,"wires":[[]]},{"id":"d1b544e4.66f5b8","type":"function","z":"34d5fca5.9a9fd4","name":"Graph parse temp and Humidity sensor","func":"console.log(\"Graph: parse temp and Humidity sensor: Humidity\",msg)\nif(msg.payload.CurrentRelativeHumidity!==null)\n{\n    msg.payload = msg.payload.CurrentRelativeHumidity\n    return msg;\n}\n\nreturn msg","outputs":1,"noerr":0,"x":540,"y":400,"wires":[["783d92cc.57534c"]]},{"id":"783d92cc.57534c","type":"ui_chart","z":"34d5fca5.9a9fd4","name":"","group":"d75552fe.85771","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":560,"y":420,"wires":[[]]},{"id":"f2f7ad2a.efffc","type":"homekit-bridge","z":"","bridgeName":"AC","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"c0a06c41.dcf8c","type":"homekit-bridge","z":"","bridgeName":"AllLights","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"cedb0fcf.09528","type":"homekit-bridge","z":"","bridgeName":"LightParents","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"6e45e3.e6ec7a1c","type":"homekit-bridge","z":"","bridgeName":"ParentsFan","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"2c0ff9d7.081566","type":"homekit-bridge","z":"","bridgeName":"TVSalon","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"18bf1e78.332522","type":"homekit-bridge","z":"","bridgeName":"Light1","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"6a0ec4dc.9330fc","type":"homekit-bridge","z":"","bridgeName":"Light2","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"877bbb9a.321218","type":"homekit-bridge","z":"","bridgeName":"Light3","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"f4e90c03.2539a","type":"homekit-bridge","z":"","bridgeName":"CPU TEMP","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"575997cd.939598","type":"homekit-bridge","z":"","bridgeName":"CPU LOAD","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"6e80f005.526e1","type":"homekit-bridge","z":"","bridgeName":"EnvHue","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"dea59b2f.f656b8","type":"homekit-bridge","z":"","bridgeName":"alert2","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"dba43603.4220d8","type":"homekit-bridge","z":"","bridgeName":"ACParents","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"cea68c90.82b53","type":"homekit-bridge","z":"","bridgeName":"TVParents","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"4263e86d.2c1ba8","type":"homekit-bridge","z":"","bridgeName":"Hue2","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"c8756984.ec3318","type":"homekit-bridge","z":"","bridgeName":"DHT11","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"1105684e.37c748","type":"homekit-bridge","z":"","bridgeName":"DHT11_HUB","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"d75552fe.85771","type":"ui_group","z":"","name":"Default","tab":"bd5a7d37.1aa34","disp":true,"width":"6","collapse":false},{"id":"bd5a7d37.1aa34","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]