SmartHome/web_server/PI Server/project_pi_node_server/red-node-flow-backup/red_node_flows_backup.json_2.json
[{"id":"34d5fca5.9a9fd4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ae1e8d7e.9379c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f2f7ad2a.efffc","type":"homekit-bridge","z":"","bridgeName":"AC","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"c0a06c41.dcf8c","type":"homekit-bridge","z":"","bridgeName":"AllLights","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"cedb0fcf.09528","type":"homekit-bridge","z":"","bridgeName":"LightParents","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"6e45e3.e6ec7a1c","type":"homekit-bridge","z":"","bridgeName":"ParentsFan","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"2c0ff9d7.081566","type":"homekit-bridge","z":"","bridgeName":"TVSalon","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"18bf1e78.332522","type":"homekit-bridge","z":"","bridgeName":"Light1","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"6a0ec4dc.9330fc","type":"homekit-bridge","z":"","bridgeName":"Light2","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"877bbb9a.321218","type":"homekit-bridge","z":"","bridgeName":"Light3","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"f4e90c03.2539a","type":"homekit-bridge","z":"","bridgeName":"CPU TEMP","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"575997cd.939598","type":"homekit-bridge","z":"","bridgeName":"CPU LOAD","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"6e80f005.526e1","type":"homekit-bridge","z":"","bridgeName":"EnvHue","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"c7eea518.300798","type":"homekit-bridge","z":"","bridgeName":"Alert","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"dea59b2f.f656b8","type":"homekit-bridge","z":"","bridgeName":"alert2","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"94b1e5ec.c993b8","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1710,"y":160,"wires":[]},{"id":"d15b8fe6.11fcf","type":"inject","z":"34d5fca5.9a9fd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":440,"wires":[["7383d259.e0deec"]]},{"id":"8e72436f.41427","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":700,"y":480,"wires":[]},{"id":"7383d259.e0deec","type":"function","z":"34d5fca5.9a9fd4","name":"Toggle On/Off","func":"var isOn = global.get('AC1')\nif(isOn === undefined)\n{\n    global.set('AC1',false);\n}\n\nisOn = !isOn\nglobal.set('AC1',isOn);\nvar on = isOn ? 1 : 0\nvar OutletInUse = isOn ? true :false\nvar data = {\n    \"CurrentHeaterCoolerState\": on\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":440,"wires":[["d33e12a8.4864"]]},{"id":"dff70a44.2dd418","type":"function","z":"34d5fca5.9a9fd4","name":"Set 24 Warm","func":"\nvar data = {\n    \"CurrentTemperature\": 24,\n    \"CoolingThresholdTemperature\":24,\n    \"TargetHeaterCoolerState\":2,\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":500,"wires":[["d33e12a8.4864"]]},{"id":"6563ff92.c97f","type":"inject","z":"34d5fca5.9a9fd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":500,"wires":[["dff70a44.2dd418"]]},{"id":"ae75622a.151ff","type":"function","z":"34d5fca5.9a9fd4","name":"AC Temp Change Controller","func":"if(msg.payload.CoolingThresholdTemperature === undefined)\n{\n    return null;\n}\nvar targetCoolerState = 2;\nif(msg.payload.TargetHeaterCoolerState !== undefined)\n{\n    targetCoolerState = msg.payload.TargetHeaterCoolerState\n    global.set('TargetHeaterCoolerStateAC1',targetCoolerState);\n}\nelse\n{\n    //2 is Cooled\n    targetCoolerState = global.get('TargetHeaterCoolerStateAC1')\n    if(targetCoolerState === undefined)\n    {\n        global.set('TargetHeaterCoolerStateAC1',2);\n        targetCoolerState = 2;\n    }\n}\nif(targetCoolerState == 2)\n{\n    if(msg.payload.CoolingThresholdTemperature)\n    {\n        if(msg.payload.CoolingThresholdTemperature >=23.0)\n        {\n            //warm api\n           msg.url = \"http://benchuk.no-ip.info/harq/?value=004:017&appid=IFTTT\";\n        }\n        else\n        {\n            //cool api\n            msg.url = \"http://benchuk.no-ip.info/harq/?value=004:018&appid=IFTTT\";\n        }\n    }\n    else\n    {\n        msg.url = \"http://benchuk.no-ip.info/harq/?value=004:018&appid=IFTTT\";\n    }\n}\n//1 is Hot\nif(targetCoolerState == 1)\n{\n    msg.url = \"http://benchuk.no-ip.info/harq/?value=004:035&appid=IFTTT\";\n    // if(msg.payload.CoolingThresholdTemperature)\n    // {\n    //     if(msg.payload.CoolingThresholdTemperature >=23.0)\n    //     {\n    //         //warm api\n    //       msg.url = \"http://benchuk.no-ip.info/harq/?value=004:035&appid=IFTTT\";\n    //     }\n    //     else\n    //     {\n    //         //cool api\n    //         msg.url = \"http://benchuk.no-ip.info/harq/?value=004:035&appid=IFTTT\";\n    //     }\n    // }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":580,"wires":[["129869b4.0a8ae6","12477697.abcd29"]]},{"id":"129869b4.0a8ae6","type":"http request","z":"34d5fca5.9a9fd4","name":"AcApi","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":970,"y":580,"wires":[["4b8039ef.8f57c8"]]},{"id":"4b8039ef.8f57c8","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":580,"wires":[]},{"id":"12477697.abcd29","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":920,"y":700,"wires":[]},{"id":"3e428ccf.cd9c14","type":"inject","z":"34d5fca5.9a9fd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":560,"wires":[["d200cdfc.38428"]]},{"id":"d200cdfc.38428","type":"function","z":"34d5fca5.9a9fd4","name":"Set 19 Cooled","func":"\nvar data = {\n    \"CurrentTemperature\": 19,\n    \"CoolingThresholdTemperature\":19,\n    \"TargetHeaterCoolerState\":2,\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":560,"wires":[["d33e12a8.4864"]]},{"id":"fc329c7.f27a96","type":"function","z":"34d5fca5.9a9fd4","name":"Set Ac UI TEMP state when on (once)","func":"if(msg.payload.CurrentTemperature !== undefined)\n{\n    return null;\n}\n\nvar data = {\n    \"CurrentTemperature\": 19\n}\n\n\n    if(msg.payload.CoolingThresholdTemperature !== undefined)\n    {\n        if(msg.payload.CoolingThresholdTemperature >=23.0)\n        {\n            //warm api\n           data.CurrentTemperature = 24;\n           //data.CoolingThresholdTemperature = 24\n        }\n        else\n        {\n           //cool api\n           data.CurrentTemperature = 19;\n           //data.CoolingThresholdTemperature = 19\n        }\n    }\n\n\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":680,"wires":[["d33e12a8.4864","d78bbf76.f3047"]]},{"id":"ae36e6e8.3ca188","type":"function","z":"34d5fca5.9a9fd4","name":"LightsController1","func":"// if(msg.payload.On)\n// {\n//     msg.url = \"http://benchuk.no-ip.info/harq/?value=007:002&appid=IFTTT\"\n\n// }\n// else\n// {\n//     msg.url = \"http://benchuk.no-ip.info/harq/?value=007:003&appid=IFTTT\"\n// }\nmsg.url = \"http://benchuk.no-ip.info/harq/?value=007:004&appid=IFTTT\"\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":140,"wires":[["6dad4d99.43f784"]]},{"id":"6dad4d99.43f784","type":"http request","z":"34d5fca5.9a9fd4","name":"LightsApi","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1880,"y":280,"wires":[["94b1e5ec.c993b8"]]},{"id":"6663c4a9.94ea5c","type":"function","z":"34d5fca5.9a9fd4","name":"LightsController2","func":"// if(msg.payload.On)\n// {\n//     msg.url = \"http://benchuk.no-ip.info/harq/?value=007:005&appid=IFTTT\"\n\n// }\n// else\n// {\n//     msg.url = \"http://benchuk.no-ip.info/harq/?value=007:006&appid=IFTTT\"\n// }\nmsg.url = \"http://benchuk.no-ip.info/harq/?value=007:007&appid=IFTTT\"\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":200,"wires":[["6dad4d99.43f784"]]},{"id":"55d9f931.5a42a8","type":"function","z":"34d5fca5.9a9fd4","name":"LightsController3","func":"// if(msg.payload.On)\n// {\n//     msg.url = \"http://benchuk.no-ip.info/harq/?value=007:011&appid=IFTTT\"\n\n// }\n// else\n// {\n//     msg.url = \"http://benchuk.no-ip.info/harq/?value=007:012&appid=IFTTT\"\n// }\nmsg.url = \"http://benchuk.no-ip.info/harq/?value=007:013&appid=IFTTT\"\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":260,"wires":[["6dad4d99.43f784"]]},{"id":"c0abf9ac.439e18","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":80,"wires":[]},{"id":"5a023c19.a48b64","type":"function","z":"34d5fca5.9a9fd4","name":"LightsController","func":"if(msg.payload.On)\n{\n    msg.url = \"http://benchuk.no-ip.info/all-lights-on?appid=IFTTT\"\n\n}\nelse\n{\n    msg.url = \"http://benchuk.no-ip.info/all-lights-off?appid=IFTTT\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1540,"y":380,"wires":[["6dad4d99.43f784"]]},{"id":"45cf9c16.89e924","type":"function","z":"34d5fca5.9a9fd4","name":"LightsController","func":"if(msg.payload.On)\n{\n    msg.url = \"http://benchuk.no-ip.info/harq/?value=005:002&appid=IFTTT\"\n\n}\nelse\n{\n    msg.url = \"http://benchuk.no-ip.info/harq/?value=005:005&appid=IFTTT\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1540,"y":440,"wires":[["6dad4d99.43f784"]]},{"id":"dee3e228.468dc","type":"function","z":"34d5fca5.9a9fd4","name":"ParentsFanController","func":"if(msg.payload.RotationSpeed !== undefined)\n{\n    msg.url = \"http://benchuk.no-ip.info/harq/?value=005:003&appid=IFTTT\";\n}\nif(msg.payload.Active == 1)\n{\n    msg.url = \"http://benchuk.no-ip.info/harq/?value=005:003&appid=IFTTT\";\n}\nif(msg.payload.Active == 0)\n{\n    msg.url = \"http://benchuk.no-ip.info/harq/?value=005:004&appid=IFTTT\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":500,"wires":[["6dad4d99.43f784"]]},{"id":"c7f8e1ba.05e2d","type":"function","z":"34d5fca5.9a9fd4","name":"EnvLightController","func":"msg.url = \"http://benchuk.no-ip.info?appid=IFTTT\";\nif(msg.payload.ColorTemperature !== undefined)\n{\n  \n    if(parseInt(msg.payload.ColorTemperature) <= 150)\n    {\n        //party\n        msg.url = \"http://benchuk.no-ip.info/harq/?value=004:024&appid=IFTTT\"\n    }\n    else if(parseInt(msg.payload.ColorTemperature) <= 300)\n    {\n        //Purple\n        msg.url = \"http://benchuk.no-ip.info/harq/?value=004:027&appid=IFTTT\"\n    }\n    else\n    {\n        //party\n        msg.url = \"http://benchuk.no-ip.info/harq/?value=004:028&appid=IFTTT\";\n    }\n}\nif(msg.payload.On !== undefined)\n{\n    if(msg.payload.On)\n    {\n        msg.url = \"http://benchuk.no-ip.info/harq/?value=004:026&appid=IFTTT\"\n    \n    }\n    else\n    {\n        msg.url = \"http://benchuk.no-ip.info/harq/?value=004:025&appid=IFTTT\"\n    }\n}\nif(msg.payload.Brightness !== undefined)\n{\n    if(msg.payload.Brightness > 0)\n    {\n        msg.url = \"http://benchuk.no-ip.info/harq/?value=004:026&appid=IFTTT\"\n    \n    }\n    else\n    {\n        msg.url = \"http://benchuk.no-ip.info/harq/?value=004:025&appid=IFTTT\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":580,"wires":[["6dad4d99.43f784"]]},{"id":"9fcc49a2.053148","type":"function","z":"34d5fca5.9a9fd4","name":"TVSalonController","func":"//toggle TV\nmsg.url = \"http://benchuk.no-ip.info/harq/?value=004:003&appid=IFTTT\"\nreturn msg;","outputs":1,"noerr":0,"x":1690,"y":740,"wires":[["e8d68349.c343c"]]},{"id":"a8cf22ce.405ca","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":880,"wires":[]},{"id":"ce45957b.f618f8","type":"function","z":"34d5fca5.9a9fd4","name":"HueDefaultColorWhenOn","func":"msg.url = \"http://benchuk.no-ip.info?appid=IFTTT\";\nif(msg.payload.On && msg.payload.ColorTemperature === undefined)\n{\n    msg.url = \"http://benchuk.no-ip.info/harq/?value=004:027&appid=IFTTT\"\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":1730,"y":640,"wires":[["6dad4d99.43f784"]]},{"id":"543471e4.d06e4","type":"delay","z":"34d5fca5.9a9fd4","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1510,"y":640,"wires":[["ce45957b.f618f8"]]},{"id":"46d1f70a.6a6748","type":"inject","z":"34d5fca5.9a9fd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1200,"y":800,"wires":[["efb1bd26.053ef"]]},{"id":"efb1bd26.053ef","type":"function","z":"34d5fca5.9a9fd4","name":"TvTests","func":"var isOn = global.get('AC1')\nif(isOn === undefined)\n{\n    global.set('AC1',false);\n}\n\nisOn = !isOn\nglobal.set('AC1',isOn);\nvar on = isOn ? 1 : 0\nvar OutletInUse = isOn ? true :false\nvar data = {\n    \"CurrentHeaterCoolerState\": on\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":800,"wires":[["8000d3ff.c7797"]]},{"id":"1dbe347.80e23cc","type":"inject","z":"34d5fca5.9a9fd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":540,"y":140,"wires":[["89d3e3e.186ca2"]]},{"id":"89d3e3e.186ca2","type":"function","z":"34d5fca5.9a9fd4","name":"Toggle On/Off Light1","func":"var isOn = global.get('light1_1')\nif(isOn === undefined)\n{\n    global.set('light1_1',false);\n}\n\nisOn = !isOn\nglobal.set('light1_1',isOn);\nvar on = isOn ? 1 : 0\nvar OutletInUse = isOn ? true :false\nvar data = {\n    \"On\": isOn\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":140,"wires":[["a1470617.10aaf8"]]},{"id":"ce7c13dd.884ca","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1530,"y":540,"wires":[]},{"id":"2df8ee6e.7e7512","type":"inject","z":"34d5fca5.9a9fd4","name":"Check CPU TEMP (3 min)","topic":"","payload":"","payloadType":"date","repeat":"180","crontab":"","once":true,"onceDelay":0.1,"x":200,"y":840,"wires":[["13e6b354.37310d"]]},{"id":"13e6b354.37310d","type":"exec","z":"34d5fca5.9a9fd4","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"Measure CPU Temp","x":420,"y":880,"wires":[["c44565f4.f20a18"],[],[]]},{"id":"c44565f4.f20a18","type":"function","z":"34d5fca5.9a9fd4","name":"cpu temp processor","func":"str=msg.payload;\nmsg.payload={\n    CurrentTemperature: parseFloat(str.substring(5,11))\n}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":860,"wires":[["f6b2664.ecf0198"]]},{"id":"d9992582.fda728","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":920,"wires":[]},{"id":"c7e5d385.ce4b9","type":"inject","z":"34d5fca5.9a9fd4","name":"Check CPU load (3 min)","topic":"","payload":"","payloadType":"date","repeat":"180","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":980,"wires":[["e3245d0b.63019"]]},{"id":"9376c543.31f578","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":1060,"wires":[]},{"id":"e3245d0b.63019","type":"exec","z":"34d5fca5.9a9fd4","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Cpu Load","x":380,"y":980,"wires":[["5a811998.c55ee8"],[],[]]},{"id":"5a811998.c55ee8","type":"function","z":"34d5fca5.9a9fd4","name":"cpu load processor","func":"msg.payload={\n    CurrentRelativeHumidity: parseInt(msg.payload)\n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1000,"wires":[["28713d4e.d84332"]]},{"id":"5dfe72bc.6c04cc","type":"function","z":"34d5fca5.9a9fd4","name":"cpu temp processor","func":"str=msg.payload;\nmsg.payload={\n    \"homekit:HeatingCoolingMode\": \"FooBar test string\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1140,"wires":[[]]},{"id":"aeadca7e.5e1d18","type":"inject","z":"34d5fca5.9a9fd4","name":"Disabled","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":1140,"wires":[["5dfe72bc.6c04cc"]]},{"id":"501e3749.faf128","type":"comment","z":"34d5fca5.9a9fd4","name":"Raspberry pi info","info":"","x":380,"y":780,"wires":[]},{"id":"abec9d2d.ea05b","type":"comment","z":"34d5fca5.9a9fd4","name":"AC","info":"","x":490,"y":480,"wires":[]},{"id":"e8d68349.c343c","type":"http request","z":"34d5fca5.9a9fd4","name":"TVSalonAPI","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1870,"y":820,"wires":[[]]},{"id":"7513ff48.b499e","type":"function","z":"34d5fca5.9a9fd4","name":"AcControllerParents","func":"//2 is Cooled\n//if(msg.payload.TargetHeaterCoolerState == 2)\n//{\n    if(msg.payload.CoolingThresholdTemperature)\n    {\n        if(msg.payload.CoolingThresholdTemperature >=23.0)\n        {\n            //warm api\n           msg.url = \"http://benchuk.no-ip.info/harq/?value=005:025&appid=IFTTT\"\n        }\n        else\n        {\n            //cool api\n            msg.url = \"http://benchuk.no-ip.info/harq/?value=005:024&appid=IFTTT\"\n        }\n    }\n//}\n//1 is Hot\nif(msg.payload.TargetHeaterCoolerState == 1)\n{\n    if(msg.payload.CoolingThresholdTemperature)\n    {\n        if(msg.payload.CoolingThresholdTemperature >=23.0)\n        {\n            //warm api\n           msg.url = \"TBD\"\n        }\n        else\n        {\n            //cool api\n            msg.url = \"TBD\"\n        }\n    }\n}\nif(msg.payload.Active !== undefined)\n{\n    if(msg.payload.Active == 1)\n    {\n       //ac on\n       msg.url = \"http://benchuk.no-ip.info/harq/?value=005:022&appid=IFTTT\"\n    }\n    else\n    {\n        //ac off\n        msg.url = \"http://benchuk.no-ip.info/harq/?value=005:023&appid=IFTTT\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1600,"y":1160,"wires":[["315664e4.ea227c","8f942c8b.72ada"]]},{"id":"315664e4.ea227c","type":"http request","z":"34d5fca5.9a9fd4","name":"AcParentsApi","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1840,"y":1160,"wires":[["b701fe40.cf896"]]},{"id":"8f942c8b.72ada","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":1780,"y":1220,"wires":[]},{"id":"b701fe40.cf896","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1970,"y":1220,"wires":[]},{"id":"1e33c7b3.7b38b8","type":"function","z":"34d5fca5.9a9fd4","name":"Set Ac UI TEMP state when on (once)","func":"\nvar data = {\n    \"CurrentTemperature\": 19,\n    \"CoolingThresholdTemperature\":19,\n    \"TargetHeaterCoolerState\":2\n}\nvar skip = global.get('skipACParentsAction')\nconsole.log(\"skip\",skip);\nif(skip === undefined)\n{\n    global.set('skipACParentsAction',false);\n    skip = false;\n}\nif(skip || msg.payload.Active === undefined)\n{\n    global.set('skipACParentsAction',false);\n    return null;\n}\n\nif(!skip && msg.payload.Active !== undefined && msg.payload.Active == 1)\n{\n    if(msg.payload.CoolingThresholdTemperature !== undefined)\n    {\n        if(msg.payload.CoolingThresholdTemperature >=23.0)\n        {\n            //warm api\n           data.CurrentTemperature = 24;\n           data.CoolingThresholdTemperature = 24\n        }\n        else\n        {\n           //cool api\n           data.CurrentTemperature = 19;\n           data.CoolingThresholdTemperature = 19\n        }\n    }\n    \n    global.set('skipACParentsAction',true);\n    \n}\n\n\n\n\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":1280,"wires":[[]]},{"id":"3f105063.3e63c","type":"comment","z":"34d5fca5.9a9fd4","name":"CPU TEMP","info":"","x":870,"y":860,"wires":[]},{"id":"b5f0118f.b769c","type":"comment","z":"34d5fca5.9a9fd4","name":"CPU LOAD","info":"","x":790,"y":1000,"wires":[]},{"id":"3967052.c2ccdfa","type":"comment","z":"34d5fca5.9a9fd4","name":"INFO","info":"","x":570,"y":1140,"wires":[]},{"id":"3589681f.f5c7a8","type":"comment","z":"34d5fca5.9a9fd4","name":"TVSalon","info":"","x":1500,"y":760,"wires":[]},{"id":"9bafb464.f96108","type":"comment","z":"34d5fca5.9a9fd4","name":"ACParents","info":"","x":1340,"y":1160,"wires":[]},{"id":"eee163b5.b07f3","type":"comment","z":"34d5fca5.9a9fd4","name":"EnvSW","info":"","x":1250,"y":540,"wires":[]},{"id":"79337b7e.5ac4e4","type":"comment","z":"34d5fca5.9a9fd4","name":"ParentsFan","info":"","x":1170,"y":500,"wires":[]},{"id":"c2582439.ca3598","type":"comment","z":"34d5fca5.9a9fd4","name":"ParentsLight1","info":"","x":1190,"y":440,"wires":[]},{"id":"41df6311.1c10ac","type":"comment","z":"34d5fca5.9a9fd4","name":"AllLights","info":"","x":1200,"y":380,"wires":[]},{"id":"fb518ea2.e6047","type":"comment","z":"34d5fca5.9a9fd4","name":"Light1","info":"","x":910,"y":80,"wires":[]},{"id":"961af8e7.e98178","type":"comment","z":"34d5fca5.9a9fd4","name":"Light2","info":"","x":750,"y":200,"wires":[]},{"id":"6d24cada.7efcc4","type":"comment","z":"34d5fca5.9a9fd4","name":"Light3","info":"","x":750,"y":260,"wires":[]},{"id":"d33e12a8.4864","type":"homekit-service","z":"34d5fca5.9a9fd4","isParent":true,"bridge":"f2f7ad2a.efffc","parentService":"","name":"AC","serviceName":"HeaterCooler","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{\n    \"CurrentTemperature\": 19,\n    \"CoolingThresholdTemperature\":19,\n    \"TargetHeaterCoolerState\":2,\n    \"Active\":false\n}","x":490,"y":540,"wires":[["8e72436f.41427","fc329c7.f27a96","ae75622a.151ff","180c998f.45c916","62243d72.4ad454"]]},{"id":"30864e29.9a7a32","type":"function","z":"34d5fca5.9a9fd4","name":"Debug Chars","func":"var data = {\n    \"foo\":\"bar\"\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":600,"wires":[["d33e12a8.4864"]]},{"id":"4251357a.14cf8c","type":"inject","z":"34d5fca5.9a9fd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":600,"wires":[["30864e29.9a7a32"]]},{"id":"180c998f.45c916","type":"function","z":"34d5fca5.9a9fd4","name":"Change AC Heat/Cold mode","func":"if(msg.payload.TargetHeaterCoolerState === undefined)\n{\n    return null;\n}\n    var targetCoolerState = msg.payload.TargetHeaterCoolerState;\n    global.set('TargetHeaterCoolerStateAC1',targetCoolerState);\n    if(targetCoolerState == 2)//cooler\n    {\n        msg.url=\"http://benchuk.no-ip.info/harq/?value=004:029&appid=IFTTT\";\n    }\n    else if(targetCoolerState == 1)\n    {\n        msg.url=\"http://benchuk.no-ip.info/harq/?value=004:035&appid=IFTTT\";\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":520,"wires":[["129869b4.0a8ae6","3740b016.c24b3"]]},{"id":"62243d72.4ad454","type":"function","z":"34d5fca5.9a9fd4","name":"AC On/OFF Controller","func":"if(msg.payload.Active === undefined)\n{\n    return null;\n}\n\n    if(msg.payload.Active == 1)\n    {\n       //ac on\n       msg.url = \"http://benchuk.no-ip.info/harq/?value=004:029&appid=IFTTT\";\n    }\n    else\n    {\n        //ac off\n        msg.url = \"http://benchuk.no-ip.info/harq/?value=004:030&appid=IFTTT\";\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":640,"wires":[["129869b4.0a8ae6","c0ef318b.87eb"]]},{"id":"c0ef318b.87eb","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":900,"y":740,"wires":[]},{"id":"3740b016.c24b3","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":980,"y":480,"wires":[]},{"id":"d78bbf76.f3047","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":740,"wires":[]},{"id":"5d594c9e.3da4f4","type":"homekit-service","z":"34d5fca5.9a9fd4","isParent":true,"bridge":"c0a06c41.dcf8c","parentService":"","name":"AllLights","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":1340,"y":380,"wires":[["5a023c19.a48b64"]]},{"id":"2a2d2088.0d1ce","type":"homekit-service","z":"34d5fca5.9a9fd4","isParent":true,"bridge":"cedb0fcf.09528","parentService":"","name":"LightParents","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":1350,"y":440,"wires":[["45cf9c16.89e924"]]},{"id":"5baa7f17.e30d6","type":"homekit-service","z":"34d5fca5.9a9fd4","isParent":true,"bridge":"6e45e3.e6ec7a1c","parentService":"","name":"ParentsFan","serviceName":"Fanv2","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{\"RotationSpeed\":true}","x":1350,"y":500,"wires":[["dee3e228.468dc","ce7c13dd.884ca"]]},{"id":"8000d3ff.c7797","type":"homekit-service","z":"34d5fca5.9a9fd4","isParent":true,"bridge":"2c0ff9d7.081566","parentService":"","name":"TVSalon","serviceName":"Television","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{\n \"RemoteKey\" : true\n}","x":1540,"y":820,"wires":[["a8cf22ce.405ca","9fcc49a2.053148"]]},{"id":"a1470617.10aaf8","type":"homekit-service","z":"34d5fca5.9a9fd4","isParent":true,"bridge":"18bf1e78.332522","parentService":"","name":"Light1","serviceName":"Lightbulb","topic":"","filter":true,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":950,"y":140,"wires":[["ae36e6e8.3ca188","c0abf9ac.439e18"]]},{"id":"74063565.e96d8c","type":"homekit-service","z":"34d5fca5.9a9fd4","isParent":true,"bridge":"6a0ec4dc.9330fc","parentService":"","name":"Light2","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":930,"y":200,"wires":[["6663c4a9.94ea5c","c0abf9ac.439e18"]]},{"id":"de997589.8c2218","type":"homekit-service","z":"34d5fca5.9a9fd4","isParent":true,"bridge":"877bbb9a.321218","parentService":"","name":"Light3","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":930,"y":260,"wires":[["55d9f931.5a42a8","c0abf9ac.439e18"]]},{"id":"f6b2664.ecf0198","type":"homekit-service","z":"34d5fca5.9a9fd4","isParent":true,"bridge":"f4e90c03.2539a","parentService":"","name":"CPU TEMP","serviceName":"TemperatureSensor","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":650,"y":920,"wires":[["d9992582.fda728"]]},{"id":"28713d4e.d84332","type":"homekit-service","z":"34d5fca5.9a9fd4","isParent":true,"bridge":"575997cd.939598","parentService":"","name":"CPU LOAD","serviceName":"HumiditySensor","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":630,"y":1080,"wires":[["9376c543.31f578"]]},{"id":"1bf59583.34b17a","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1400,"y":700,"wires":[]},{"id":"75f1c767.6a8158","type":"homekit-service","z":"34d5fca5.9a9fd4","isParent":true,"bridge":"6e80f005.526e1","parentService":"","name":"EnvHue","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{\n    \"Hue\":true,\n    \"ColorTemperature\":true,\n    \"Brightness\":true,\n    \"On\":true\n}","x":1300,"y":620,"wires":[["c7f8e1ba.05e2d","1bf59583.34b17a","543471e4.d06e4"]]},{"id":"3e4ea60e.1406fa","type":"http in","z":"34d5fca5.9a9fd4","name":"","url":"/status","method":"get","upload":false,"swaggerDoc":"","x":190,"y":240,"wires":[["16de4fed.4f6d","88017029.b83b7","305c4d0.0340eb4"]]},{"id":"16de4fed.4f6d","type":"template","z":"34d5fca5.9a9fd4","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>","x":350,"y":200,"wires":[["21481014.90936"]]},{"id":"21481014.90936","type":"http response","z":"34d5fca5.9a9fd4","name":"","statusCode":"200","headers":{},"x":500,"y":200,"wires":[]},{"id":"88017029.b83b7","type":"function","z":"34d5fca5.9a9fd4","name":"","func":"var payload = {\"MotionDetected\":true}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["73adf048.cea6f"]]},{"id":"6465e7c.f615218","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":340,"wires":[]},{"id":"73adf048.cea6f","type":"homekit-service","z":"34d5fca5.9a9fd4","isParent":true,"bridge":"dea59b2f.f656b8","parentService":"","name":"alert2","serviceName":"MotionSensor","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":470,"y":300,"wires":[["6465e7c.f615218"]]},{"id":"305c4d0.0340eb4","type":"debug","z":"34d5fca5.9a9fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":340,"wires":[]}]